{% macro checkbox_input_field(id_for_label, name, required, label, autofocus=False, help_text="", value="", disabled=False, errors="", hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
<div class="form-group{% if errors %} has-error{% endif %}">
  <div class="form-check">
    {% if required %}
    <input type="hidden" name="{{name}}" value="False">
    {% endif %}
    <input id="{{id_for_label}}" class="form-check-input{% if extra_control_classes %} {{extra_control_classes}}{% endif %}{% if errors %} is-invalid{% endif %}" name="{{name}}" type="checkbox"{% if model_var %} v-model="{{model_var}}"{% endif %}{% if value %}checked="checked"{% endif %}{% if disabled %} disabled{% endif %}{% if autofocus %} autofocus{% endif %}>
    <label class="form-check-label{% if extra_label_classes %} {{extra_label_classes}}{% endif %}{% if required %} requiredField{% endif %}" for="{{id_for_label}}">
      {{label|safe}}
    </label>
  </div>
  <div class="form-text help-block invalid-feedback errorlist">
    {% for error in errors %}
    {{error}}
    {% endfor %}
  </div>
  <div class="form-text help-block">
    {% if help_text %}
    <small class="text-muted">{{help_text}}</small>
    {% endif %}
  </div>
</div>
{%- endmacro %}


{% macro date_input_field(name, timezone, label, autofocus=False, required=True, help_text="", value="", disabled=False, errors="", hide_labels=False, nameOpened="", toggleNameOpened="", nameOpenedRef="", model_var=False, extra_label_classes="", extra_control_classes="") -%}
<div class="form-group{% if errors %} has-error{% endif %}">
  <div class="input-group input-group-md">
    {% if not hide_labels %}
      <label class="font-monospace input-group-text{% if required %} requiredField{% endif %}">{{label|safe}}</label>
    {% endif %}
    <input class="form-control{% if errors %} is-invalid{% endif %}"
           type="date"
           name="{{name}}"
           {% if nameOpened %}
           v-show="{{nameOpened}} || {{name}}"
           :value="asDateInputField({{name}})"
           @input="{{toggleNameOpened}}"
           {% if nameOpenedRef %} :ref="{{nameOpenedRef}}"{% endif %}
           {% else %}
           {% if model_var %} v-model="{{model_var}}"{% else %} v-model="{{name}}"{% endif %}
           style="display: flex;padding:0.375rem 0.75rem;font-size: 1rem; line-height: 1.5;"
           {% endif %}
           {% if value %}value="{{value}}"{% endif %}
           {% if disabled %} disabled{% endif %}
           {% if autofocus %} autofocus{% endif %} />
    {% if nameOpened %}
    <span class="form-control"
          v-show="!{{nameOpened}} && !{{name}}">{% trans %}Never{% endtrans %}</span>
      <button class="input-group-text" v-show="!{{nameOpened}} && !{{name}}"
              {% if disabled %}
              disabled
              {% else %}
              @click.prevent="{{toggleNameOpened}}"
              {% endif %}
              ><span class="fa fa-calendar"></span></button>
    {% endif %}
  </div>
  <div class="form-text help-block invalid-feedback errorlist">
    {% for error in errors %}
    {{error}}
    {% endfor %}
  </div>
  <div class="form-text help-block">
    {% if help_text %}
    <small class="text-muted">{{help_text}}</small>
    {% endif %}
  </div>
</div>
{%- endmacro %}


{% macro radio_input_field(choices, name, required, label, autofocus=False, help_text="", value="", disabled=False, errors="", hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
<div class="form-group{% if extra_label_classes %} row{% endif %}{% if errors %} has-error{% endif %}">
  {% if not hide_labels %}
  <label class="{% if extra_label_classes %}{{extra_label_classes}} {% endif %}col-form-label{% if required %} requiredField{% endif %}">
      {{label|safe}}
  </label>
  {% endif %}
  <div class="{% if extra_control_classes %}{{extra_control_classes}} {% endif %}controls">
    {% for choice in choices %}
    <div class="form-check">
      <label class="form-label">
        <input class="{% if errors %} is-invalid{% endif %}" type="radio" name="{{name}}"{% if value == choice[0] %} selected="1"{% endif %} value="{{choice[0]}}"{% if model_var %} v-model="{{model_var}}"{% endif %}{% if disabled %} disabled{% endif %}{% if autofocus %} autofocus{% endif %}>{{choice[1]}}
      </label>
    </div>
    {% endfor %}
    <div class="form-text help-block invalid-feedback errorlist">
      {% for error in errors %}
      {{error}}
      {% endfor %}
    </div>
    <div class="form-text help-block">
      {% if help_text %}
      <small class="form-text text-muted">{{help_text}}</small>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro textarea_input_field(placeholder, name, required, label, autofocus=False, help_text="", value="", disabled=False, errors="", hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
<div class="form-group{% if extra_label_classes %} row{% endif %}{% if errors %} has-error{% endif %}">
  {% if not hide_labels %}
  <label class="form-label {% if extra_label_classes %}{{extra_label_classes}} {% endif %}col-form-label{% if required %} requiredField{% endif %}">
      {{label|safe}}
  </label>
  {% endif %}
  <div class="{% if extra_control_classes %}{{extra_control_classes}} {% endif %}controls">
        <textarea class="textarea form-control{% if errors %} is-invalid{% endif %}" name="{{name}}"
          cols="40" rows="10"
          {% if placeholder %} placeholder="{{placeholder}}"{% endif %}
          {% if model_var %} v-model="{{model_var}}"{% endif %}
          {% if disabled %} disabled{% endif %}
          {% if autofocus %} autofocus{% endif %}>{% if value %}{{value}}{% endif %}</textarea>
    <div class="form-text help-block invalid-feedback errorlist">
      {% for error in errors %}
      {{error}}
      {% endfor %}
    </div>
    <div class="form-text help-block">
      {% if help_text %}
      <small class="form-text text-muted">{{help_text}}</small>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro verified_input_field(input_type, verified_at, max_length, min_value, max_value, step, placeholder, name, required, label, autofocus=False, help_text="", value="", disabled=False, errors="", hide_labels=False, verification_enabled=True, model_var=False, extra_label_classes="", extra_control_classes="") -%}
<div class="form-group{% if extra_label_classes %} row{% endif %}{% if errors %} has-error{% endif %}">
  {% if not hide_labels %}
  <label class="form-label col-form-label row{% if extra_label_classes %} {{extra_label_classes}}{% endif %}{% if required %} requiredField{% endif %}">
    <div class="col-6">
      {{label|safe}}
      {% if verified_at %}
      <i class="fa fa-check text-green"></i>
      {% endif %}
    </div>
    {% if verification_enabled %}
    <div class="col-6 text-end">
      <a id="verify-{{name}}-open"
         href="#"
         class="btn btn-link"
         data-bs-toggle="modal"
         data-bs-target="#verify-{{name}}">
        {% if verified_at %}{% trans date=verified_at %}verify again{% endtrans %}{% else %}{% trans %}verify{% endtrans %}{% endif %}
      </a>
    </div>
    {% endif %}
  </label>
  {% endif %}
  <div class="{% if extra_control_classes %}{{extra_control_classes}} {% endif %}controls">
    <input class="form-control{% if errors %} is-invalid{% endif %}" ref="{{name}}" name="{{name}}"
          {% if value is not none %} value="{{value}}"{% endif %}
          {% if placeholder %} placeholder="{{placeholder}}"{% endif %}
          type="{{input_type}}"
          {% if max_length %} maxlength="{{max_length}}"{% endif %}
          {% if min_value %} min="{{min_value}}"{% endif %}
          {% if max_value %} max="{{max_value}}"{% endif %}
          {% if step %} step="{{step}}"{% endif %}
          {% if model_var %} v-model="{{model_var}}"{% endif %}
          {% if disabled %} disabled{% endif %}
          {% if autofocus %} autofocus{% endif %}
           />
    <div class="form-text help-block invalid-feedback errorlist">
      {% for error in errors %}
      {{error}}
      {% endfor %}
    </div>
    <div class="form-text help-block">
      {% if help_text %}
      <small class="form-text text-muted">{{help_text}}</small>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro text_input_field(input_type, min_length, max_length, min_value, max_value, step, placeholder, name, required, label, autofocus=False, help_text="", value="", disabled=False, readonly=False, errors="", hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
<div class="form-group{% if extra_label_classes %} row{% endif %}{% if errors %} has-error{% endif %}">
  {% if not hide_labels %}
  <label class="form-label {% if extra_label_classes %}{{extra_label_classes}} {% endif %}col-form-label{% if required %} requiredField{% endif %}">
      {{label|safe}}
  </label>
  {% endif %}
  <div class="{% if extra_control_classes %}{{extra_control_classes}} {% endif %}controls">
    {% if input_type == 'password' %}
    <div class="input-group">
        <input class="form-control{% if errors %} is-invalid{% endif %}"
          name="{{name}}"
          {% if name == 'password' %} autocomplete="current-password"{% endif %}
          {% if name == 'new_password' or name == 'new_password2' %} autocomplete="new-password"{% endif %}
          {% if value is not none %} value="{{value}}"{% endif %}
          {% if placeholder %} placeholder="{{placeholder}}"{% endif %}
          type="{{input_type}}"
          {% if max_length %} maxlength="{{max_length}}"{% endif %}
          {% if min_length %} minlength="{{min_length}}"{% endif %}
          {% if min_value %} min="{{min_value}}"{% endif %}
          {% if max_value %} max="{{max_value}}"{% endif %}
          {% if step %} step="{{step}}"{% endif %}
          {% if model_var %} v-model="{{model_var}}"{% endif %}
          {% if autofocus %} autofocus{% endif %}
          {% if disabled %} disabled{% endif %}
          {% if readonly %} readonly{% endif %}
          {% if required %} required{% endif %}
        />
        <span class="input-group-text">
          <i class="fa fa-eye-slash"></i>
        </span>
    </div>
    {% else %}
        <input class="form-control{% if errors %} is-invalid{% endif %}"
          name="{{name}}"
          {% if name == 'username' %} autocomplete="username"{% endif %}
          {% if value is not none %} value="{{value}}"{% endif %}
          {% if placeholder %} placeholder="{{placeholder}}"{% endif %}
          type="{{input_type}}"
          {% if max_length %} maxlength="{{max_length}}"{% endif %}
          {% if min_value %} min="{{min_value}}"{% endif %}
          {% if max_value %} max="{{max_value}}"{% endif %}
          {% if step %} step="{{step}}"{% endif %}
          {% if model_var %} v-model="{{model_var}}"{% endif %}
          {% if autofocus %} autofocus{% endif %}
          {% if disabled %} disabled{% endif %}
          {% if readonly %} readonly{% endif %}
          {% if required %} required{% endif %}
        />
    {% endif %}
    <div class="form-text help-block invalid-feedback errorlist">
      {% for error in errors %}
      {{error}}
      {% endfor %}
    </div>
    <div class="form-text help-block">
      {% if help_text %}
      <small class="form-text text-muted">{{help_text|safe}}</small>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro select_input_field(choices, name, required, label, autofocus=False, help_text="", value="", disabled=False, errors="", hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
<div class="form-group{% if extra_label_classes %} row{% endif %}{% if errors %} has-error{% endif %}">
  {% if not hide_labels %}
  <label class="{% if extra_label_classes %}{{extra_label_classes}} {% endif %}col-form-label{% if required %} requiredField{% endif %}">
      {{label|safe}}
  </label>
  {% endif %}
  <div class="{% if extra_control_classes %}{{extra_control_classes}} {% endif %}controls">
    <select class="form-control{% if errors %} is-invalid{% endif %}"
      name="{{name}}"
      {% if model_var %} v-model="{{model_var}}"{% endif %}
      {% if disabled %} disabled{% endif %}
      {% if autofocus %} autofocus{% endif %}>
      {% for choice in choices %}
      <option {% if value == choice[0] %}selected="1"{% endif %} value="{{choice[0]}}">{{choice[1]}}</option>
      {% endfor %}
    </select>
    <div class="form-text help-block invalid-feedback errorlist">
      {% for error in errors %}
      {{error}}
      {% endfor %}
    </div>
    <div class="form-text help-block">
      {% if help_text %}
      <small class="form-text text-muted">{{help_text}}</small>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro email_input_field(bound_field, verified_at, autofocus=False, hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
{{verified_input_field(bound_field.field.widget.input_type, verified_at, bound_field.field.max_length, bound_field.field.min_value, bound_field.field.max_value, bound_field.field.widget.attrs.step, bound_field.field.widget.attrs.get('placeholder',''), bound_field.name, bound_field.field.required, bound_field.label, autofocus, bound_field.help_text, bound_field.value(), bound_field.field.disabled, bound_field.errors, hide_labels, True, model_var, extra_label_classes, extra_control_classes)}}
{%- endmacro %}

{% macro phone_input_field(bound_field, verified_at, autofocus=False, hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
{{verified_input_field(bound_field.field.widget.input_type, verified_at, bound_field.field.max_length, bound_field.field.min_value, bound_field.field.max_value, bound_field.field.widget.attrs.step, bound_field.field.widget.attrs.get('placeholder',''), bound_field.name, bound_field.field.required, bound_field.label, autofocus, bound_field.help_text, bound_field.value(), bound_field.field.disabled, bound_field.errors, hide_labels, bound_field.field.verification_enabled, model_var, extra_label_classes, extra_control_classes)}}
{%- endmacro %}

{% macro street_address_input_field(bound_field, autofocus=False, hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
  <label class="col-form-label requiredField">{{bound_field.label}}</label>
  <address-typeahead inline-template ref="{{bound_field.name}}">
      <div>
      <div class="input-group mb-3">
          <!-- optional indicators -->
          <span class="input-group-text">
          <i class="fa fa-spinner fa-spin" v-if="loading"></i>
          <template v-else>
              <i class="fa fa-search" v-show="isEmpty"></i>
              <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
          </template>
          </span>
          <!-- the input field -->
          <input class="form-control"
                  type="text"
                  name="{{bound_field.name}}"
                  placeholder="{{bound_field.label}}"
                  autocomplete="off"
                  v-model="query"
                  value="{{ bound_field.value() }}"
                  data-value="{{ bound_field.value() }}"
                  {% if model_var %} v-model="{{bound_field.name}}"{% endif %}
                  @keydown.down="down"
                  @keydown.up="up"
                  @keydown.enter.prevent="hit"
                  @blur="clear"
                  @input="update" />
          <!-- the list -->
          {# Implementation note: If we use `d-block` instead of    #}
          {# `style="display: block;"` the dropdown shows even when #}
          {# `hasItems` is `False`.                                 #}
          <ul class="dropdown-menu nav-pills p-1 top-100"
              style="display: block;"
              v-show="hasItems">
          <li v-for="(item, $item) in items" class="nav-item"
              @mousedown="hit"
              @mousemove="setActive($item)">
              <a :class="'nav-link px-3 py-2' + activeClass($item)" v-text="item.description"></a>
          </li>
          </ul>
      </div>
      </div>
  </address-typeahead>
{%- endmacro %}


{% macro input_field(bound_field, label=None, autofocus=None, hide_labels=False, model_var=False, extra_label_classes="", extra_control_classes="") -%}
{% if bound_field.field.widget.recaptcha_response_name %}
<div>
<div class="form-group{% if bound_field.errors %} has-error{% endif %}" style="float: right;margin-right: 5px;">
        {{bound_field.as_widget()}}
</div>
<div style="clear: both;"></div>
</div>
{% elif bound_field.field.widget.input_type == 'hidden' %}
<div class="form-group{% if extra_label_classes %} row{% endif %}{% if bound_field.errors %} has-error{% endif %}">
  <div class="{% if extra_control_classes %}{{extra_control_classes}} {% endif %}controls">
    <input name="{{bound_field.name}}" type="{{bound_field.field.widget.input_type}}" {% if bound_field.value() is not none %}value="{{bound_field.value()}}"{% endif %}{% if model_var %} v-model="{{bound_field.name}}"{% endif %} />
    <div class="form-text help-block invalid-feedback errorlist">
      {% for error in bound_field.errors %}
      {{error}}
      {% endfor %}
    </div>
  </div>
</div>

{% elif bound_field.field|is_checkbox %}
{{checkbox_input_field(bound_field.id_for_label, bound_field.name, bound_field.field.required, (label if label is not none else bound_field.label), (autofocus if autofocus is not none else bound_field.field.widget.attrs.get('autofocus', False)), bound_field.help_text, bound_field.value(), bound_field.field.disabled, bound_field.errors, hide_labels, model_var, extra_label_classes, extra_control_classes)}}

{% elif bound_field.field|is_textarea %}
{{textarea_input_field(bound_field.field.widget.attrs.get('placeholder',''), bound_field.name, bound_field.field.required, (label if label is not none else bound_field.label), (autofocus if autofocus is not none else bound_field.field.widget.attrs.get('autofocus', False)), bound_field.help_text, bound_field.value(), bound_field.field.disabled, bound_field.errors, hide_labels, model_var, extra_label_classes, extra_control_classes)}}

{% elif bound_field.field|is_radio %}
{{radio_input_field(bound_field.field.widget.choices, bound_field.name, bound_field.field.required, (label if label is not none else bound_field.label), (autofocus if autofocus is not none else bound_field.field.widget.attrs.get('autofocus', False)), bound_field.help_text, bound_field.value(), bound_field.field.disabled, bound_field.errors, hide_labels, model_var, extra_label_classes, extra_control_classes)}}

{% elif bound_field.field.widget.input_type and bound_field.field.widget.input_type == 'select' %}
{{select_input_field(bound_field.field.widget.choices, bound_field.name, bound_field.field.required, (label if label is not none else bound_field.label), (autofocus if autofocus is not none else bound_field.field.widget.attrs.get('autofocus', False)), bound_field.help_text, bound_field.value(), bound_field.field.disabled, bound_field.errors, hide_labels, model_var, extra_label_classes, extra_control_classes)}}

{% else %}
{## XXX Everything else text input ##}
{{text_input_field(bound_field.field.widget.input_type, min_length=bound_field.field.min_length, max_length=bound_field.field.max_length, min_value=bound_field.field.min_value, max_value=bound_field.field.max_value, step=bound_field.field.widget.attrs.step, placeholder=bound_field.field.widget.attrs.get('placeholder',''), name=bound_field.name, required=bound_field.field.required, label=(label if label is not none else bound_field.label), autofocus=(autofocus if autofocus is not none else bound_field.field.widget.attrs.get('autofocus', False)), help_text=bound_field.help_text, value=bound_field.value(), disabled=bound_field.field.disabled, readonly=bound_field.field.widget.attrs.get('readonly', False), errors=bound_field.errors, hide_labels=hide_labels, model_var=model_var, extra_label_classes=extra_label_classes, extra_control_classes=extra_control_classes)}}
{% endif %}
{%- endmacro %}


{% block form_block %}
  {% if form %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    {% block form_fields_block %}
    {% for name, field in form.fields.items() %}
      {{input_field(form[name], hide_labels=form.hide_labels)}}
    {% endfor %}
    {% endblock %}
    {% if False and not form.hide_labels %}
    <div class="w-100 mb-4">
      <span class="requiredField">{% trans %}required fields{% endtrans %}</span>
    </div>
    {% endif %}
  {% endif %}
{% endblock %}
