{% extends "saas/base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{% block order_title %}Place Order{% endblock %}</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form method="post" id="payment-form" class="form-horizontal"
              action=".{% if next %}/?next={{next}}{% endif %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            {% if invoicables %}
            {% include "saas/_invoiceables.html" %}
            {% elif is_extra_charge %}
            <fieldset id="extra-charge">
                <legend>Extra Charge</legend>
                <div class="form-group{% if form.descr.errors %} has-error{% endif %}">
                    <label class="col-form-label" for="descr">Description</label>
                    <div class="controls">
                        <input id="descr" class="form-control" name="descr"
                         type="text" placeholder="Description for the charge" />
                    </div>
                    {% for error in form.descr.errors %}
                    <span class="form-text"><strong>{{error}}</strong></span>
                    {% endfor %}
                </div>
                <div class="form-group{% if form.amount.errors %} has-error{% endif %}">
                    <label class="col-form-label" for="amount">Amount</label>
                    <div class="controls">
                    <input id="amount"  class="form-control"
                           type="number" min="0" step="any" placeholder="0"
                           name="amount" autocomplete="off" />
                    </div>
                    {% for error in form.amount.errors %}
                    <span class="form-text"><strong>{{error}}</strong></span>
                    {% endfor %}
                </div>
            </fieldset>
            {% else %}
            <p class="text-center">Your subscription cart is empty.</p>
            {% endif %}
            <div id="redeem-code" class="text-right my-3">
                <a href="" class="collapsible">Have a registration code?</a>
                <div style="display:none;" class="mt-3">
                    <div class="row justify-content-end">
                    <div class="col-12 col-md-4">
                        <form class="form">
                            <div class="input-group input-group mb-1">
                              <input class="form-control" name="code" type="text" placeholder="Enter Code">
                              <div class="input-group-append">
                                <button class="btn btn-primary submit-code">Apply</button>
                              </div>
                            </div>
                            <small class="form-text text-muted text-left">
                                If you received a registration code, please enter it here.
                            </small>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            {% block order_card %}
            {% include "saas/_card_use.html" %}
            {% endblock %}
        </form>
      </div>
    </div>
</div>
{% endblock %}

{% block saas_bodyscripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".collapsible").click(function(event) {
        var self = this;
        event.preventDefault();
        $(self).next().toggle();
    });
});
</script>
{% endblock %}
