{% extends "saas/base.html" %}

{% block content %}
<div class="container">
<div class="page-header">
    <h1>{% block order_title %}Place Order{% endblock %}</h1>
</div>
{% block order_head %}
<div class="row">
    <div class="col-md-12">
        <form method="post" id="payment-form" class="form-horizontal"
              action=".{% if next %}/?next={{ next }}{% endif %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            {% if invoicables %}
            {% include "saas/_invoiceables.html" %}
            {% elif is_extra_charge %}
            <fieldset id="extra-charge">
                <legend>Extra Charge</legend>
                <div class="form-group{% if form.descr.errors %} has-error{% endif %}">
                    <label class="control-label" for="descr">Description</label>
                    <div class="controls">
                        <input id="descr" class="form-control" name="descr"
                         type="text" placeholder="Description for the charge" />
                    </div>
                    {% for error in form.descr.errors %}
                    <span class="help-block"><strong>{{error}}</strong></span>
                    {% endfor %}
                </div>
                <div class="form-group{% if form.amount.errors %} has-error{% endif %}">
                    <label class="control-label" for="amount">Amount</label>
                    <div class="controls">
                    <input id="amount"  class="form-control"
                           type="number" min="0" step="any" placeholder="0"
                           name="amount" autocomplete="off" />
                    </div>
                    {% for error in form.amount.errors %}
                    <span class="help-block"><strong>{{error}}</strong></span>
                    {% endfor %}
                </div>
            </fieldset>
            {% else %}
            <p class="text-center">Your subscription cart is empty.</p>
            {% endif %}
<div class="row">
    <div class="col-sm-offset-9 col-lg-offset-0 col-sm-3 col-lg-3">
        <form method="post" id="redeem-form" class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label class="collapsible" style="padding-left: 18px;">Add a registration code here!</label>
                    <div class="content">
                    <div class="controls">
                    <div class="input-group">
                        <input id="id_code" class="form-control" name="code" type="text" placeholder="Enter Code">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </span>
                    </div>
                    </div>
                    </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
            {% block order_card %}
            {% include "saas/_card_use.html" %}
            {% endblock %}
        </form>
    </div>
</div>
</div>
<style>
.collapsible {

    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
}
</style>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
</script>
{% endblock %}
