{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
  {{organization.printable_name}} {% trans %}Coupons{% endtrans %}
{% endblock %}

{% block saas_content %}
  <div id="coupon-list-container">
    <div class="container" data-trip data-trip-index="1" data-trip-content="<h2>{% trans %}Coupons{% endtrans %}</h2><p>{% trans %}Coupons are used to offer percentage discounts.<br />Create a coupon code with an associated discount percentage.<br />Distribute the coupon code to whoever is entitled<br />to a discount on their subscriptions. Users will be able to claim<br />the discount on the checkout page by entering the coupon code.{% endtrans %}</p><em>{% trans %}Use keyboard navigation or click 'Next' to move forward.{% endtrans %}</em>" data-trip-position="screen-center">

      <form @submit.prevent="save">
        <div class="row">
          <!-- Create a New Coupon -->
            <div class="col-md-3">
              <div class="mr-2 mb-3 w-100">
                <input type="text" class="form-control form-control-md" placeholder="{% trans %}Discount Code{% endtrans %}" v-model="newCoupon.code">
              </div>
            </div>
            <div class="col-md-3">
              <div class="mr-2 mb-3 w-100">
                <input type="text" class="form-control form-control-md w-100" placeholder="{% trans %}Discount %{% endtrans %}" v-model="newCoupon.percent">
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <button type="submit" class="btn btn-primary btn-md w-100" data-trip data-trip-index="2" data-trip-content="<p>{% trans %}Add a coupon by entering a code, percentage and click 'Create Coupon'.{% endtrans %}</p>" data-trip-position="s">
                {% trans %}Create Coupon{% endtrans %}
              </button>
            </div>

          <!-- Download as .CSV -->
          <div class="col-md-3 mb-3">
            <div class="btn-actions text-right">
              <a id="download" class="btn btn-secondary btn-md w-100" role="button" :href="'{{urls.provider.download_coupons}}' + getQueryString(['page'])"
                data-trip data-trip-index="7" data-trip-content="<p>{% trans %}Download the list of coupons if necessary.{% endtrans %}</p>" data-trip-position="s">
                <i class="fa fa-cloud-download mr-2"></i> {% trans %}Download .CSV{% endtrans %}
              </a>
            </div>
          </div>
        </div>
      </form>

      <hr class="mt-0" />

      <div class="row mt-3">
        <!-- From/To/Match Filter Inputs -->
        {% include "saas/_filter_col_3.html" %}

        <div class="col-md-3">
          <!-- Sort Coupons -->
          <div class="pb-3">
            <b-dropdown text="{% trans %}Sort{% endtrans %}" variant="primary" class="w-100" right>
                <b-dropdown-item @click.prevent="sortBy('code')">
                    {% trans %}Code{% endtrans %} <i :class="sortIcon('code')"></i>
                </b-dropdown-item>
                <b-dropdown-item @click.prevent="sortBy('discount')">
                    {% trans %}Discount{% endtrans %} <i :class="sortIcon('discount')"></i>
                </b-dropdown-item>
                <b-dropdown-item @click.prevent="sortBy('ends_at')">
                    {% trans %}Expiration{% endtrans %} <i :class="sortIcon('ends_at')"></i>
                </b-dropdown-item>
            </b-dropdown>
          </div>
        </div>

      </div>

      <!-- Loading Spinner -->
      <div class="text-center py-5 my-5" v-show="!itemsLoaded">
        <h3 class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
      </div>

      <!-- No Coupons Found Msg -->
      <div class="text-center" v-show="itemsLoaded && items.results.length === 0" v-cloak>
        <h4 class="text-center"><em>{% trans %}No Coupons{% endtrans %}<span v-show="params.q"> [[params.q]]</span></em></h4>
      </div>

      <div class="row mb-4" id="coupon-list">
        <div :id="coupon.code" class="col-md-4 my-1" v-for="(coupon, index) in items.results" v-show="itemsLoaded && items.results.length > 0" v-cloak>
          <div class="card mb-3">
            <div class="card-body">
              <div class="coupon-title">
                <h5 class="card-title" data-trip data-trip-index="8" data-trip-content="<p>{% trans %}Click on a coupon code to see who has redeem it.{% endtrans %}</p>" data-trip-position="s"><a :href="'{{urls.provider.metrics_coupons}}' + coupon.code + '/'">[[coupon.code]]</a></h5>
                <button class="btn btn-danger btn-sm remove ml-1" @click="remove(index)"><i class="fa fa-remove"></i></button>
              </div>
            </div>
            <div class="list-group list-group-flush">
              <div class="list-group-item">
                <span class="text-muted">{% trans %}Discount{% endtrans %}:</span> [[coupon.percent]]%
              </div>
              <uiv-dropdown class="" append-to-body>
                <div class="list-group-item w-100">
                  <span class="text-muted">{% trans %}Expires:{% endtrans %}</span>
                  <btn
                    class="dropdown-toggle btn-link text-left p-0 mb-1"
                    data-trip data-trip-index="3"
                    data-trip-content="<p>{% trans %}Set the expiration date on a coupon.{% endtrans %}</p>"
                    data-trip-position="s"
                  >
                    [[coupon.ends_at ? ($options.filters.formatDate(coupon.ends_at)) : "{% trans %}Never{% endtrans %}" ]]
                  </btn>
                </div>
                <template slot="dropdown">
                  <li>
                    <uiv-date-picker
                      v-model="coupon.ends_at"
                      @input="selected(index)"
                      icon-control-left="fa fa-caret-left"
                      icon-control-right="fa fa-caret-right" />
                  </li>
                </template>
              </uiv-dropdown>
              <div class="list-group-item">
                  <span class="text-muted" v-show="!coupon._editAttempts">{% trans %}Use limit:{% endtrans %}</span>
                  <span @click="editAttempts(coupon)"
                    v-show="!coupon._editAttempts">
                    [[coupon.nb_attempts ? coupon.nb_attempts : '{% trans %}No limit{% endtrans %}']]
                  </span>
                  <input type="text" class="form-control"
                      @blur="saveAttempts(coupon)"
                      @keyup.13="saveAttempts(coupon)"
                      v-model="coupon.nb_attempts"
                      :ref="'editAttempts_' + coupon.code"
                      v-show="coupon._editAttempts">
              </div>
              <div class="list-group-item">
                  <span class="text-muted" v-show="!coupon._editPlan">{% trans %}Plan:{% endtrans %}</span>
                  <span @click="editPlan(coupon)"
                    v-show="!coupon._editPlan">
                    [[planTitle(coupon.plan)]]
                  </span>
                  <select class="form-control"
                      @blur="savePlan(coupon)"
                      @keyup.13="savePlan(coupon)"
                      v-model="coupon.plan"
                      :ref="'editPlan_' + coupon.code"
                      v-show="coupon._editPlan">
                        <option value="">{% trans %}Select plan{% endtrans %}</option>
                        <option :value="plan.slug" v-for="plan in plans">[[plan.title]]</option>
                  </select>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text" data-trip data-trip-index="4"
              data-trip-content="<p>{% trans %}Add a description for you to easily remember.{% endtrans %}</p>"
              data-trip-position="s">
                  <span @click="editDescription(index)"
                    v-show="!edit_description[index]">
                      <i class="fa fa-pencil mr-3"></i>
                      <span class="text-muted" v-if="!coupon.description">{% trans %}Edit Description{% endtrans %}</span>
                      [[coupon.description]]
                  </span>
                  <input id="input_description" type="text" class="form-control"
                    ref="edit_description_input"
                    @keydown="saveDescription(coupon, index, $event)"
                    @blur="saveDescription(coupon, index, $event)"
                    v-model="coupon.description"
                    v-show="edit_description[index]">
              </p>
            </div>
          </div>
        </div>
      </div>

      {% include "_pagination.html" %}

    </div>
  </div>
{% endblock %}
