{% extends "saas/base_dashboard.html" %}

{% block saas_title %}Coupons{% endblock %}

{% block saas_content %}
<div id="coupon-list-container">
<div data-trip data-trip-index="1" data-trip-content="<h2>Coupons</h2><p>Coupons are used to offer percentage discounts.<br />Create a coupon code with an associated discount percentage.<br />Distribute the coupon code to whoever is entitled<br />to a discount on their subscriptions. Users will be able to claim<br />the discount on the checkout page by entering the coupon code.</p><em>Use keyboard navigation or click 'Next' to move forward.</em>" data-trip-position="screen-center"> 
    <form class="form-inline pull-right">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="search-inp">Filter</span>
              </div>
            <input class="form-control" type="text" id="search-inp"
              v-model="params.q" @input="filterList" />
              <div class="input-group-append">
                <a class="btn btn-secondary" role="button"
               :href="'{{urls.provider.download_coupons}}' + getQueryString(['page'])"><i class="fa fa-cloud-download"></i> CSV Download</a>
              </div>
        </div>
      <div class="form-group" data-trip data-trip-index="7" data-trip-content="<p>Download the list of coupons if necessary.</p>" data-trip-position="s">
      </div>
    </form>
    <div style="clear:both;" />
    <div class="table-responsive" style="min-height:75vh;">{# prevents cut of datepikcer #}
    <table id="coupon-list" class="table table table-sm table-striped" >
        <thead>
        <tr>
            <th>Code
                <a href="#" class="btn-sort"
                  data-trip data-trip-index="5"
                  data-trip-content="<p>Sort coupons by ascending and descending order.</p>"
                  data-trip-position="s"
                  @click.prevent="sortBy('code')">
                  <i :class="sortIcon('code')"></i>
                </a>
            </th>
            <th>Percent
                <a href="#" class="btn-sort"
                  @click.prevent="sortBy('percent')">
                  <i :class="sortIcon('percent')"></i>
                </a>
            </th>
            <th>Expires At
                <a href="#" class="btn-sort"
                  @click.prevent="sortBy('ends_at')">
                  <i :class="sortIcon('ends_at')"></i>
                </a>
            </th>
            <th>Description
                <a href="#" class="btn-sort"
                  @click.prevent="sortBy('description')">
                  <i :class="sortIcon('description')"></i>
                </a>
            </th>
            <th>Created At
                <a href="#" class="btn-sort"
                  @click.prevent="sortBy('created_at')">
                  <i :class="sortIcon('created_at')"></i>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tr>
            <td>
                <input type="text" class="form-control form-control-sm"
                  placeholder="Code"
                  v-model="newCoupon.code">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm"
                  placeholder="Percent"
                  v-model="newCoupon.percent">
            </td>
            <td>
                <button class="btn btn-primary btn-sm"
                  data-trip data-trip-index="2"
                  data-trip-content="<p>Add a coupon by entering a code, percentage and click &quot;Create Coupon&quot;.</p>"
                  data-trip-position="s"
                  @click="save()">Create Coupon</button>
            </td>
            <td colspan="3">
            </td>
        </tr>
        <tr v-show="!itemsLoaded">
            <td colspan="5">
                <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
            </td>
        </tr>
        <tr v-show="itemsLoaded && items.results.length === 0" v-cloak>
            <td colspan="5">
                <h4 class="text-center"><em>No Coupons<span v-show="params.q"> [[params.q]]</span></em></h4>
            </td>
        </tr>
        <tr :id="coupon.code" v-for="(coupon, index) in items.results" v-show="itemsLoaded && items.results.length > 0" v-cloak>
            <td>
                <a :href="'{{urls.provider.metrics_coupons}}' + coupon.code + '/'">[[coupon.code]]</a>
            </td>
            <td>[[coupon.percent]]</td>
            <td>
                <div style="display:inline-block">
                    <uiv-dropdown class="form-group mb-0" append-to-body>
                      <btn class="dropdown-toggle btn-outline-secondary btn-sm"><i class="fa fa-calendar"></i></btn>
                      <template slot="dropdown">
                        <li>
                          <uiv-date-picker
                            v-model="coupon.ends_at"
                            @input="selected(index)"
                            icon-control-left="fa fa-caret-left"
                            icon-control-right="fa fa-caret-right" />
                        </li>
                      </template>
                    </uiv-dropdown>
                </div>
                <span style="display: inline-block;" class="date">
                    [[coupon.ends_at ? ($options.filters.formatDate(coupon.ends_at)) : "Never" ]]
                </span>
            </td>
            <td class="description">
                <span @click="editDescription(index)"
                  v-show="!edit_description[index]">[[coupon.description]] <i class="fa fa-pencil"></i></span>
                <input id="input_description" type="text" class="form-control"
                  ref="edit_description_input"
                  @keydown="saveDescription(coupon, index, $event)"
                  @blur="saveDescription(coupon, index, $event)"
                  v-model="coupon.description"
                  v-show="edit_description[index]">
            </td>
            <td class="date">[[coupon.created_at | formatDate]]</td>
            <td>
                <button class="btn btn-danger btn-sm" @click="remove(index)"><i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td data-trip data-trip-index="8"
                data-trip-content="<p>Click on a coupon code to see who has redeem it.</p>" data-trip-position="s">
            </td>
            <td></td>
            <td class="date" data-trip data-trip-index="3"
                data-trip-content="<p>Set the expiration date on a coupon.</p>" data-trip-position="s"></td>
            <td class="description" data-trip data-trip-index="4"
                data-trip-content="<p>Add a description for you to easily remember.</p>"
                data-trip-position="s">
            </td>
            <td class="date"></td>
            <td></td>
        </tr>
    </table>
    </div>
    <div class="text-center" v-show="itemsLoaded && totalItems > itemsPerPage">
        <b-pagination align="center" size="md" :total-rows="totalItems" v-model="params.page" :per-page="itemsPerPage" @change="get">
    </div>
</div>
</div>
{% endblock %}
