{% extends "saas/base_dashboard.html" %}

{% block saas_title %}{% trans %}Add offline transaction{% endtrans %}{% endblock %}

{% block saas_page_layout %}
<section>
  <div id="import-transaction-container" class="offset-md-3 col-md-6">
    <form class="form-horizontal" method="post" @submit.prevent="addPayment">
      <fieldset>
        <div class="form-group{% if form.subscription.errors %} has-error{% endif %}">
          <label class="col-form-label" for="subscription">
            {% trans %}Subscription{% endtrans %}
          </label>
            <input
                id="typeahead"
                class="form-control"
                type="text"
                placeholder="{% trans %}Subscriber name or email{% endtrans %}"
                name="subscription"
                autocomplete="off">
            <uiv-typeahead
                v-model="itemSelected"
                target="#typeahead"
                item-key="itemKey"
                :async-function="getSubscriptions"
                class="typeahead-dropdown"
                :open-on-focus="false"/>
          {% for error in form.subscription.errors %}
          <span class="form-text"><strong>{{error}}</strong></span>
          {% endfor %}
          <div v-show="searching" style="height:14px">
            <i class="fa fa-spinner"></i>
          </div>
        </div>
        <div class="form-group">
              <label for="created_at" class="d-block">
                {% trans %}Created At{% endtrans %}
              </label>
            <uiv-dropdown  class="d-block" append-to-body>
              <div class="input-group">
                <input class="form-control date" type="text" name="created_at" v-model="createdAt">
                  <div class="input-group-append">
                      <button type="button" class="btn btn-secondary dropdown-toggle">
                        <i class="fa fa-calendar"></i>
                      </button>
                  </div>
              </div>
              <template slot="dropdown">
                <li>
                  <uiv-date-picker
                    v-model="createdAt"
                    icon-control-left="fa fa-caret-left"
                    icon-control-right="fa fa-caret-right" />
                </li>
              </template>
            </uiv-dropdown>
          {% for error in form.created_at.errors %}
          <span class="form-text"><strong>{{error}}</strong></span>
          {% endfor %}
        </div>
        <div class="form-group{% if form.amount.errors %} has-error{% endif %}">
          <label class="col-form-label" for="amount">
            {% trans %}Amount{% endtrans %}
          </label>
          <input class="form-control" name="amount" type="number" min="0" step="any" placeholder="{% trans %}Amount{% endtrans %}">
          {% for error in form.amount.errors %}
          <span class="form-text"><strong>{{error}}</strong></span>
          {% endfor %}
        </div>
        <div class="form-group{% if form.descr.errors %} has-error{% endif %}">
          <label class="col-form-label" for="descr">
            {% trans %}Description{% endtrans %}
          </label>
          <div>
            <input class="form-control" name="descr" type="text" placeholder="{% trans %}Description{% endtrans %}">
            {% for error in form.descr.errors %}
            <span class="form-text"><strong>{{error}}</strong></span>
            {% endfor %}
          </div>
        </div>
      </fieldset>
      <div class="form-action text-center">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-plus"></i> {% trans %}Import{% endtrans %}
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
