{% extends "saas/base_dashboard.html" %}

{% block saas_title %}{% trans %}Add offline transaction{% endtrans %}{% endblock %}

{% block saas_page_layout %}
<import-transaction id="import-transaction-container"
  inline-template>
  <div class="offset-md-3 col-md-6">
    <form class="form-horizontal" method="post" @submit.prevent="addPayment">
      <fieldset>
        <div class="form-group{% if form.subscription.errors %} has-error{% endif %}">
          <label class="col-form-label" for="subscription">
            {% trans %}Subscription{% endtrans %}
          </label>
          <div>
            <input
                id="subscription-typeahead"
                class="form-control"
                type="text"
                placeholder="{% trans %}Subscriber name or email{% endtrans %}"
                name="subscription"
                autocomplete="off">
            <uiv-typeahead
                v-model="itemSelected"
                target="#subscription-typeahead"
                item-key="itemKey"
                :async-function="getSubscriptions"
                class="typeahead-dropdown"
                :open-on-focus="false"/>
          </div>
          {% for error in form.subscription.errors %}
          <span class="form-text"><strong>{{error}}</strong></span>
          {% endfor %}
          <div v-show="searching" style="height:14px">
            <i class="fa fa-spinner"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="created_at" class="d-block">
            {% trans %}Created At{% endtrans %}
          </label>
          {% include "_entry_created_at_field.html" %}
        </div>
        <div class="form-group{% if form.amount.errors %} has-error{% endif %}">
          <label class="col-form-label" for="amount">
            {% trans %}Amount{% endtrans %}
          </label>
          <input class="form-control"
              name="amount"
              type="number"
              min="0" step="any"
              placeholder="{% trans %}Amount{% endtrans %}"
              v-model="entry.amount">
          {% for error in form.amount.errors %}
          <span class="form-text"><strong>{{error}}</strong></span>
          {% endfor %}
        </div>
        <div class="form-group{% if form.descr.errors %} has-error{% endif %}">
          <label class="col-form-label" for="descr">
            {% trans %}Description{% endtrans %}
          </label>
          <div>
            <input class="form-control"
                name="descr"
                type="text"
                placeholder="{% trans %}Description{% endtrans %}"
                v-model="entry.descr">
            {% for error in form.descr.errors %}
            <span class="form-text"><strong>{{error}}</strong></span>
            {% endfor %}
          </div>
        </div>
      </fieldset>
      <div class="form-action text-center">
        <button class="btn btn-primary btn-block" type="submit">
          {% trans %}Save{% endtrans %}
        </button>
      </div>
    </form>
  </div>
</import-transaction>
{% endblock %}
