{% extends "saas/base_dashboard.html" %}

{% block saas_title %}Funds{% endblock %}

{% block saas_page_layout %}
<div class="row">
  <div id="transfers-container" class="col-12">
      <div class="row" data-trip data-trip-index="1"
           data-trip-content="<h2>Funds</h2><p>Transfer earned income to the organization bank account. All paid subscriptions<br />accumulate in the organization's Funds balance. You can see all deposits<br />into the organization Funds balance and transfer available funds to a bank account here.</p><em>Use keyboard navigation or click 'Next' to move forward.</em>"
           data-trip-position="screen-center">
        <section id="funds" class="col-sm-6">
          <h3>Available</h3>
          <dl class="dl-horizontal" v-show="balance_amount !== 'N/A'" v-cloak>
            <dt id="balance-amount"
                data-trip data-trip-index="2"
                data-trip-content="<p>The amount available for you to transfer to your bank account.</p>"
                data-trip-position="s">[[humanizeBalance()]]</dt>
            <dd><a id="saas_withdraw_funds"
                   href="{{ urls.provider.withdraw_funds }}"
                   data-trip data-trip-index="4"
                   data-trip-content="<p>Withdraw up to the available amount.</p>"
                   data-trip-position="s"
                   v-show="balance_amount > 0" v-cloak>withdraw</a></dd>
          </dl>
          <dl class="dl-horizontal" v-show="balance_amount === 'N/A'" v-cloak>
            <dt>[[balance_amount]]</dt>
            <dd></dd>
          </dl>
        </section>
        <section id="info" class="col-sm-6">
          <h3>Deposit Information <a id="update_bank"
                                     class="btn btn-link"
                                     href="{{ urls.provider.bank }}"
                                     data-trip data-trip-index="3"
                                     data-trip-content="<p>Update your bank information so funds can be transfered to you.</p>"
                                     data-trip-position="s">Update</a></h3>
          <dl class="dl-horizontal">
            <dt>Institution</dt>
            <dd v-cloak>[[bank_name]]</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Account Number</dt>
            <dd v-cloak>[[last4]]</dd>
          </dl>
        </section>
    </div>
    <div class="row">
      <div class="col-12">
          {% include "saas/_transactions.html" %}
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <a class="btn btn-secondary" id="add-offline-transaction" href="{{ urls.provider.import_transactions }}">Add offline transaction</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
