<div class="user-password-modal modal fade" title="{% trans %}Please enter your current password{% endtrans %}"
       tabindex="-1" role="dialog"
       aria-labelledby="{% trans %}Please enter your current password{% endtrans %}" aria-hidden="true">
  <div class="modal-dialog">
      <form id="password-form" class="form-horizontal" @submit.prevent="submitPassword">
        <input autocomplete="username" name="username"
               type="text" value="{{request.user.username}}"
               style="display:none;">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{% trans %}Password{% endtrans %}</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-muted">
                {% trans %}Please enter your current password{% endtrans %}
            </p>
            <div class="form-group row">
                <div class="col">
                  <input autocomplete="current-password" class="form-control"
                         id="inputPassword" name="password"
                         placeholder="{% trans %}Your password{% endtrans %}"
                         type="password" v-model="password" autofocus />
                  <div class="invalid-feedback" v-show="passwordIncorrect">
                    {% trans %}The password your provided is incorrect.{% endtrans %}
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-secondary"
                      type="button"
                      data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
              <button class="btn btn-primary"
                      type="submit">{% trans %}Confirm{% endtrans %}</button>
          </div>
        </div>
      </form>
  </div>
</div>
