<div class="user-password-modal modal fade" title="{% trans %}Please enter your current password{% endtrans %}"
       tabindex="-1" role="dialog"
       aria-labelledby="{% trans %}Please enter your current password{% endtrans %}" aria-hidden="true">
  <div class="modal-dialog">
      <form id="password-form" class="form-horizontal" @submit.prevent="submitPassword">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{% trans %}Password{% endtrans %}</h4>
              <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p class="text-muted">
                {% trans %}Please enter your current password{% endtrans %}
            </p>
            <div class="form-group row">
                <div class="col">
                  <input id="inputPassword" name="password" class="form-control" type="password" placeholder="{% trans %}Your password{% endtrans %}" v-model="password" autofocus />
                  <div class="invalid-feedback" v-show="passwordIncorrect">
                    {% trans %}The password your provided is incorrect.{% endtrans %}
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
              <button type="submit" class="btn btn-primary">{% trans %}Update{% endtrans %}</button>
          </div>
        </div>
      </form>
  </div>
</div>
