<div class="user-password-modal modal fade"
     tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <form id="password-form" class="form-horizontal"
          @submit.prevent="submitPassword">
      <input name="username"
             type="hidden" value="{{request.user.username}}"
             ref="username">
      {% if request.user.email %}
      <input name="email"
             type="hidden" value="{{request.user.email}}"
             ref="email">
      {% endif %}
      {% if check_phone and request.user.phone %}
      <input name="phone"
             type="hidden" value="{{request.user.phone}}"
             ref="phone">
      {% endif %}
      <div class="modal-content"
           title="{% trans %}Please enter your current password{% endtrans %}"
           aria-labelledby="{% trans %}Please enter your current password{% endtrans %}"
           aria-hidden="true"
           v-show="usePassword">
        <div class="modal-header">
          <h4 class="modal-title">{% trans %}Verify your current password ...{% endtrans %}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col">
              <p>
{% trans %}Before applying the changes, we need to verify your identity. Please enter your current password in the input field below.{% endtrans %}
              </p>
              <div class="input-group">
                <input autocomplete="current-password" class="form-control"
                       id="inputPassword" name="password"
                       placeholder="{% trans %}Your current password{% endtrans %}"
                       type="password" v-model="password" ref="password" />
                <span class="input-group-text">
                  <i class="fa fa-eye-slash"></i>
                </span>
              </div>
              <div class="form-text help-block invalid-feedback errorlist">
              </div>
              <div class="form-text help-block">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary"
                  type="button"
                  data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
          <button class="btn btn-primary"
                  type="submit">{% trans %}Confirm update{% endtrans %}</button>
        </div>
        <div class="modal-footer">
          {% if otp_verification_link %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithOTPCode()">{% trans %}Verify my OTP code instead{% endtrans %}</a>
          </div>
          {% endif %}
          {% if request.user.email %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithEmailCode()">{% trans %}Verify my e-mail address instead{% endtrans %}</a>
          </div>
          {% endif %}
          {% if check_phone and request.user.phone %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithPhoneCode()">{% trans %}Verify my phone number instead{% endtrans %}</a>
          </div>
          {% endif %}
        </div>{# .modal-footer #}
      </div>{# .modal-content usePassword #}

      {% if otp_verification_link %}
      <div class="modal-content"
           title="{% trans %}Please enter the otp code{% endtrans %}"
           aria-labelledby="{% trans %}Please enter the otp code{% endtrans %}"
           aria-hidden="true"
           v-show="useOTPCode">
        <div class="modal-header">
          <h4 class="modal-title">{% trans %}OTP Code{% endtrans %}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col">
              <div class="input-group">
                <input class="form-control"
                       id="inputOTPCode" name="otp_code"
                       placeholder="{% trans %}OTP Code{% endtrans %}"
                       type="text" v-model="otp_code" />
              </div>
              <div class="form-text help-block invalid-feedback errorlist">
              </div>
              <div class="form-text help-block">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary"
                  type="button"
                  data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
          <button class="btn btn-primary"
                  type="submit">{% trans %}Confirm OTP Code{% endtrans %}</button>
        </div>
        <div class="modal-footer">
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithPassword()">{% trans %}Verify my password instead{% endtrans %}</a>
          </div>
          {% if request.user.email %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithEmailCode()">{% trans %}Verify my e-mail address instead{% endtrans %}</a>
          </div>
          {% endif %}
          {% if check_phone and request.user.phone %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithPhoneCode()">{% trans %}Verify my phone number instead{% endtrans %}</a>
          </div>
          {% endif %}
        </div>{# .modal-footer #}
      </div>{# .modal-content useOTPCode #}
      {% endif %}

      {% if request.user.email %}
      <div class="modal-content"
           title="{% trans %}Please enter the email code{% endtrans %}"
           aria-labelledby="{% trans %}Please enter the email code{% endtrans %}"
           aria-hidden="true"
           v-show="useEmailCode">
        <div class="modal-header">
          <h4 class="modal-title">{% trans %}Verify your email address...{% endtrans %}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" v-show="!codeSent">
          <p>
{% trans email=request.user.email %}Before applying the changes, we need to verify your identity by sending a verification code to your e-mail address ({{email}}).{% endtrans %}
          </p>
          <p>
            {% trans %}Are you ready to verify your email address?{% endtrans %}
          </p>
        </div>
        <div class="modal-body" v-show="codeSent">
          <p>
            {% trans %}We sent a verification code to your e-mail address. Please enter the code in the input field below.{% endtrans %}
          </p>
          <div class="form-group row">
            <div class="col">
              <div class="input-group">
                <input class="form-control"
                       id="inputEmailCode" name="email_code"
                       placeholder="{% trans %}Verification code{% endtrans %}"
                       type="text" v-model="emailCode" ref="emailCode" />
              </div>
              <div class="form-text help-block invalid-feedback errorlist">
              </div>
              <div class="form-text help-block">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary"
                  type="button"
                  data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
          <button type="button"
                  :class="'btn' + (codeSent ? ' btn-outline-primary' : ' btn-primary')"
                  @click.prevent="verifyEmail">
            <span v-if="!codeSent">{% trans %}Email me a code{% endtrans %}</span>
            <span v-if="codeSent">{% trans %}Email me a code again{% endtrans %}</span>
          </button>
          <button class="btn btn-primary"
                  type="submit"
                  v-if="codeSent">{% trans %}Verify email code{% endtrans %}</button>
        </div>
        <div class="modal-footer">
          {% if otp_verification_link %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithOTPCode()">{% trans %}Verify my OTP Code instead{% endtrans %}</a>
          </div>
          {% endif %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithPassword()">{% trans %}Verify my password instead{% endtrans %}</a>
          </div>
          {% if check_phone and request.user.phone %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithPhoneCode()">{% trans %}Verify my phone number instead{% endtrans %}</a>
          </div>
          {% endif %}
        </div>{# .modal-footer #}
      </div>{# .modal-content useEmailCode #}
      {% endif %}

      {% if check_phone and request.user.phone %}
      <div class="modal-content"
           title="{% trans %}Please enter the phone code{% endtrans %}"
           aria-labelledby="{% trans %}Please enter the phone code{% endtrans %}"
           aria-hidden="true"
           v-show="usePhoneCode">
        <div class="modal-header">
          <h4 class="modal-title">{% trans %}Phone Code{% endtrans %}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" v-show="!codeSent">
          <p>
{% trans %}Before applying the changes, we need to verify your identity by sending a verification code to your phone.{% endtrans %}
          </p>
          <p>
            {% trans %}Are you ready to verify your phone number?{% endtrans %}
          </p>
        </div>
        <div class="modal-body" v-show="codeSent">
          <p>
            {% trans %}We sent a verification code to your phone. Please enter the code in the input field below.{% endtrans %}
          </p>
          <div class="form-group row">
            <div class="col">
              <div class="input-group">
                <input class="form-control"
                       id="inputPhoneCode" name="phone_code"
                       placeholder="{% trans %}Verification code{% endtrans %}"
                       type="text" v-model="phoneCode" ref="phoneCode" />
              </div>
              <div class="form-text help-block invalid-feedback errorlist">
              </div>
              <div class="form-text help-block">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary"
                  type="button"
                  data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
          <button type="button"
                  :class="'btn' + (codeSent ? ' btn-outline-primary' : ' btn-primary')"
                  @click.prevent="verifyPhone">
            <span v-if="!codeSent">{% trans %}Text me a code{% endtrans %}</span>
            <span v-if="codeSent">{% trans %}Text me a code again{% endtrans %}</span>
          </button>
          <button class="btn btn-primary"
                  type="submit"
                  v-if="codeSent">{% trans %}Verify phone code{% endtrans %}</button>
        </div>
        <div class="modal-footer">
          {% if otp_verification_link %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithOTPCode()">{% trans %}Verify my OTP Code instead{% endtrans %}</a>
          </div>
          {% endif %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithPassword()">{% trans %}Verify my password instead{% endtrans %}</a>
          </div>
          {% if request.user.email %}
          <div>
            <a class="text-start" href="#" @click.prevent="enableVerifyWithEmailCode()">{% trans %}Verify my email address instead{% endtrans %}</a>
          </div>
          {% endif %}
        </div>{# .modal-footer #}
      </div>{# .modal-content usePhoneCode #}
      {% endif %}
    </form>
  </div>{# .modal-dialog #}
</div>
