{% extends "saas/base_dashboard-2col.html" %}

{% block sidebar %}
<ul class="nav">
<li>
  <a id="app_home" href="{{request|url_app}}"><i class="fa fa-home"></i> <span class="">&#09;Home</span></a>
</li>
</ul>
<hr />
<ul class="nav"
    data-intro="User profile" data-position="right">
  <li {% if request.path == urls.user.profile %} class="active"{% endif %}>
    <a id="users_profile" href="{{urls.user.profile}}"><i class="fa fa-user"></i> <span>&#09;Profile</span></a>
  </li>
  {% if FEATURES_DEBUG %}
  <li {% if request.path == urls.user.notifications %} class="active"{% endif %}>
    <a id="users_notifications" href="{{urls.user.notifications}}"><i class="fa fa-envelope"></i> <span>&#09;Notifications</span></a>
  </li>
  {% endif %}
</ul>
<hr />
<ul class="nav"
    data-intro="Organizations managed by the user" data-position="right">
  {% for organization in top_accessibles %}
  <li>
    <a href="{{organization.location}}">{{organization.printable_name}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block dashboard_bodyscripts %}
{% block users_bodyscripts %}{% endblock %}
{% endblock %}
