{% extends "saas/base_dashboard-2col.html" %}

{% block sidebar %}
<ul class="nav flex-column">
<li class="nav-item">
  <a class="nav-link" id="app_home" href="{{request|url_app}}"><i class="fa fa-home"></i> <span class="">&#09;Home</span></a>
</li>
</ul>
<hr />
<ul class="nav flex-column"
    data-intro="User profile" data-position="right">
  <li {% if request.path == urls.user.profile %} class="nav-item active"{% endif %}>
    <a class="nav-link" id="users_profile" href="{{urls.user.profile}}"><i class="fa fa-user"></i> <span>&#09;Profile</span></a>
  </li>
  <li {% if request.path == urls.user.notifications %} class="nav-item active"{% endif %}>
    <a class="nav-link" id="users_notifications" href="{{urls.user.notifications}}"><i class="fa fa-envelope"></i> <span>&#09;Notifications</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="users_accessibles" href="{{urls.user.accessibles}}"><i class="fa fa-users"></i> <span>&#09;Organizations</span></a>
  </li>
</ul>
<hr />
<ul class="nav flex-column"
    data-intro="Organizations managed by the user" data-position="right">
  {% for organization in top_accessibles %}
  <li class="nav-item">
    <a class="nav-link" href="{{organization.location}}">{{organization.printable_name}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block dashboard_bodyscripts %}
{% block users_bodyscripts %}{% endblock %}
{% endblock %}
