{% extends "users/base.html" %}

{% block saas_title %}
  {% trans %}Change Password{% endtrans %}
{% endblock %}

{% block saas_content %}
<div>
<user-update-password inline-template id="update-password-container"
    data-otp-enabled="{% if otp_enabled %}true{% endif %}">
  <div class="container mt-3">
    <form @submit.prevent="modalShowAndValidate(null)">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
      <div class="row">
        <div class="col-md-6">
          <input autocomplete="username" name="username" type="text"
                 value="{{user.username}}" style="display:none;">
          <div class="form-group">
            <label class="control-label requiredField">{% trans %}New password{% endtrans %}<span class="asteriskField">*</span></label>
            <div class="input-group">
              <input autocomplete="new-password" autofocus class="form-control"
                     name="new_password"
                     placeholder="{% trans %}New password{% endtrans %}"
                     type="password" v-model="newPassword" ref="newPassword">
              <span class="input-group-text">
                <i class="fa fa-eye-slash"></i>
              </span>
            </div>
            <div class="form-text help-block invalid-feedback errorlist">
            </div>
            <div class="form-text help-block">
            </div>
          </div>
          <div class="form-group mt-2">
            <label class="control-label requiredField">{% trans %}Confirm password{% endtrans %}<span class="asteriskField">*</span></label>
            <div class="input-group">
              <input autocomplete="new-password" class="form-control"
                     name="new_password2"
                     placeholder="{% trans %}Type password again{% endtrans %}"
                     type="password" v-model="newPassword2">
              <span class="input-group-text">
                <i class="fa fa-eye-slash"></i>
              </span>
            </div>
            <div class="form-text help-block invalid-feedback errorlist">
            </div>
            <div class="form-text help-block">
            </div>
          </div>
          <div class="form-action text-center">
            <button class="btn btn-primary btn-md w-100" type="submit">{% trans %}Update{% endtrans %}</button>
          </div>
        </div>
      </div>
    </form>
    <!-- Enter Password Modal -->
    {% include "users/_require_password.html" %}
  </div>
</user-update-password>

<hr />

<user-update-otp inline-template id="update-otp-container"
    data-otp-enabled="{% if otp_enabled %}true{% endif %}">
  <div class="row">
    <div class="col-md-6 text-center">
      <button class="btn btn-primary btn-md w-100" type="submit"
              @click.prevent="modalShowAndValidate('enableOTP')"
              v-if="!otpEnabled">
        {% trans %}Enable OTP{% endtrans %}
      </button>
      <div v-if="otpEnabled">
        <button class="btn btn-danger btn-md w-100" type="submit"
                @click.prevent="modalShowAndValidate('disableOTP')">
          {% trans %}Disable OTP{% endtrans %}
        </button>
        <div id="otp-code" class="text-center" v-show="otpPrivKey">
          <canvas id="otp-qr-canvas"></canvas>
          <p>[[otpPrivKey]]</p>
        </div>
      </div>
    </div>
    <!-- Enter Password Modal -->
    {% include "users/_require_password.html" %}
  </div>
</user-update-otp>
</div>
{% endblock %}


{% block users_bodyscripts %}
{% include "_password_strength_scripts.html" %}
<script src="{{'/assets/vendor/qrcode.js'|asset}}"></script>
{% endblock %}
