{% extends "users/base.html" %}

{% block saas_title %}
  {% trans %}Change Password{% endtrans %}
{% endblock %}

{% block saas_content %}
<user-update-password inline-template id="update-password-container">
  <div class="container mt-3">
    <form @submit.prevent="modalShowAndValidate">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label requiredField">{% trans %}New password{% endtrans %}<span class="asteriskField">*</span></label>
            <div class="controls">
              <input class="form-control" name="new_password" placeholder="{% trans %}New password{% endtrans %}" type="password" v-model="newPassword">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label requiredField">{% trans %}Confirm password{% endtrans %}<span class="asteriskField">*</span></label>
            <div class="controls">
              <input class="form-control" name="new_password2" placeholder="{% trans %}Type password again{% endtrans %}" type="password" v-model="newPassword2">
            </div>
          </div>
          <div class="form-action text-center">
            <button class="btn btn-primary btn-md w-100" type="submit">{% trans %}Update{% endtrans %}</button>
          </div>
        </div>
      </div>
    </form>
    <!-- Enter Password Modal -->
    {% include "users/_require_password.html" %}
  </div>
</user-update-password>
{% endblock %}


{% block users_bodyscripts %}
{% include "_password_strength_scripts.html" %}
{% endblock %}
