{% extends "users/base.html" %}

{% block saas_title %}Change Password{% endblock %}

{% block saas_lead_help %}Change a user password.{% endblock %}

{% block saas_help %}
<p>
You can change the password for a user here.
</p>
{% endblock %}

{% block saas_content %}
<section id="personal">
<div id="update-password-container">
  <form @submit.prevent="updatePassword">
    <div class="form-group">
        <label class="control-label requiredField">New password<span class="asteriskField">*</span></label>
        <div class="controls">
            <input class="form-control" name="new_password" placeholder="New password" type="password" v-model="newPassword">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label requiredField">Confirm password<span class="asteriskField">*</span></label>
        <div class="controls">
            <input class="form-control" name="new_password2" placeholder="Type password again" type="password" v-model="newPassword2">
        </div>
    </div>
    <div class="form-action text-center">
        <button class="btn btn-primary btn-lg" type="submit">Update</button>
    </div>
</form>
</div>
</section>
{% endblock %}
