{% extends "users/base.html" %}

{% block saas_title %}
  {% trans %}Change Password{% endtrans %}
{% endblock %}

{% block saas_content %}
<user-update-password inline-template id="update-password-container"
                      :otpEnable="{% if otp_enabled %}true{% else %}false{% endif %}">
  <div class="container mt-3">
    <form @submit.prevent="modalShowAndValidate">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label requiredField">{% trans %}New password{% endtrans %}<span class="asteriskField">*</span></label>
            <div class="controls">
              <input class="form-control" name="new_password" placeholder="{% trans %}New password{% endtrans %}" type="password" v-model="newPassword">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label requiredField">{% trans %}Confirm password{% endtrans %}<span class="asteriskField">*</span></label>
            <div class="controls">
              <input class="form-control" name="new_password2" placeholder="{% trans %}Type password again{% endtrans %}" type="password" v-model="newPassword2">
            </div>
          </div>
          <div class="form-action text-center">
            <button class="btn btn-primary btn-md w-100" type="submit">{% trans %}Update{% endtrans %}</button>
          </div>
        </div>
      </div>
    </form>
    <!-- Enter Password Modal -->
    {% include "users/_require_password.html" %}

    <hr />
     <div class="row">
        <div class="col-md-6 text-center">
          XXX{{otp_enabled}}YYY
          <button class="btn btn-danger btn-md w-100" type="submit"
                  @click.prevent="modalShowAndValidate('disableOTP')"
                  v-if="otpEnabled">
            {% trans %}Disable OTP{% endtrans %}
          </button>
          <button class="btn btn-primary btn-md w-100" type="submit"
                  @click.prevent="modalShowAndValidate('enableOTP')"
                  v-if="!otpEnabled && !otpPrivKey">
            {% trans %}Enable OTP{% endtrans %}
          </button>
          <div id="otp-code" class="text-center" v-show="otpPrivKey">
            <canvas id="otp-qr-canvas"></canvas>
            <p>[[otpPrivKey]]</p>
          </div>
        </div>
     </div>
  </div>
</user-update-password>
{% endblock %}


{% block users_bodyscripts %}
{% include "_password_strength_scripts.html" %}
<script src="{{'/static/vendor/qrcode.js'|asset}}"></script>
{% endblock %}
