{% extends "users/base.html" %}

{% block saas_title %}Change Public Key{% endblock %}

{% block saas_content %}
<section id="personal">
<div id="update-pubkey-container">
    <form @submit.prevent="modalShow">
        <div class="form-group">
            <label class="control-label requiredField">Pubkey<span class="asteriskField">*</span></label>
            <div class="controls">
                <textarea class="textarea form-control" cols="40" name="pubkey" rows="10" v-model="pubkey"></textarea>
            </div>
        </div>
        <div class="form-action text-center">
            <button class="btn btn-primary btn-lg" type="submit">Update</button>
        </div>
    </form>
    <div class="user-password-modal modal fade" title="Please enter your current password"
           tabindex="-1" role="dialog"
           aria-labelledby="Please enter your current password" aria-hidden="true">
      <div class="modal-dialog">
          <form class="form-horizontal" @submit.prevent="updatePubkey">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Password</h4>
                  <button type="button" class="close"
                      data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p class="text-muted">
                    Please enter your current password
                </p>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="password" placeholder="Your password" id="inputPassword" v-model="password" autofocus />
                      <div class="invalid-feedback" v-show="passwordIncorrect">
                        The password your provided is incorrect.
                      </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </form>
      </div>
    </div>
</div>
</section>
{% endblock %}
