{% extends "users/base.html" %}

{% block saas_title %}{% trans name=user.full_name %}{{user}} Programmatic Keys{% endtrans %}{% endblock %}

{% block saas_content %}
<div>
  {% if urls.user.api_generate_keys %}
  <user-rotate-api-keys inline-template id="rotate-api-keys">
    <div>
    <div>
      <form @submit.prevent="modalShow">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <div class="row g-3 mt-2 mb-4 align-items-center">
          <div class="col-auto">
            <label for="key_title" class="col-form-label">Key Title</label>
          </div>
          <div class="col-auto">
            <input class="form-control" type="text" id="id_title" name="title"
              v-model="title">
          </div>
          <div class="col-auto">
            <button id="generate-key-open" class="btn btn-secondary ">{% trans %}Generate API Key{% endtrans %}</button>
          </div>
        </div>
      </form>
      {% include "users/_require_password.html" %}
    </div>

    <div v-show="apiKey" v-cloak>
      <label>API Key titled &quot;[[apiTitle]]&quot;:</label>
      <input class="form-control" type="text"
             name="apiKey" placeholder="********" disabled
             v-model="apiKey"></input>
      <div class="form-text help-block">
{% trans %}This is the only time the API Key will be displayed. Copy it before you reload this page or browse to another page.{% endtrans %}
      </div>
      <hr />
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans %}Title{% endtrans %}</th>
          <th>{% trans %}Expires{% endtrans %}</th>
          <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
      </thead>

      <tbody v-show="!itemsLoaded">
        <tr>
          <td colspan="3">
            <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
          </td>
        </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.results.length == 0" v-cloak>
        <tr>
          <td colspan="3">
            <h4 class="text-center"><em>{% trans %}There are no API keys yet{% endtrans %}</em></h4>
          </td>
        </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <tr v-for="key in items.results">
          <td>[[ key.title ]]</td>
          <td>[[ key.ends_at ]]</td>
          <td>
            <button class="btn btn-delete"
                @click="confirmDelete(key)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </user-rotate-api-keys>
  {% endif %}

  <hr />

  <user-update-pubkey inline-template id="update-pubkey-container">
    <div>
      <form @submit.prevent="modalShow">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <div class="form-group mb-2">
          <label class="control-label requiredField">{% trans %}Public Key (in PEM format){% endtrans %}<span class="asteriskField">*</span></label>
          <div class="controls">
            <textarea class="textarea form-control" cols="40" name="pubkey" rows="10" v-model="pubkey"></textarea>
          </div>
        </div>
        <div class="form-action">
          <button class="btn btn-primary btn-lg" type="submit">{% trans %}Upload{% endtrans %}</button>
        </div>
      </form>
      {% include "users/_require_password.html" %}
    </div>
  </user-update-pubkey>

</div>
{% endblock %}
