{% extends "users/base.html" %}

{% block saas_title %}{{user.full_name}}'s Profile{% endblock %}

{% block saas_lead_help %}Information on a registered user.{% endblock %}

{% block saas_help %}
<p>
You can update a user contact information, as well as login credentials here.
</p>
{% endblock %}

{% block saas_content %}
<section id="personal">
  <div id="user-profile-container">
    <form @submit.prevent="updateUser">
        <div class="form-group">
            <label class="control-label requiredField">Username<span class="asteriskField">*</span></label>
            <div class="controls">
                <input class="form-control" maxlength="254" name="username" placeholder="Username" type="text" v-model="username">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Email address</label>
            <div class="controls">
                <input class="form-control" maxlength="254" name="email" type="email" v-model="email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full name</label>
            <div class="controls">
                <input class="form-control" maxlength="30" name="last_name" type="text" v-model="fullName">
            </div>
        </div>
        <div class="form-group">
            <img :src="contact.picture" v-show="contact.picture && !imageSelected" width="100" height="100">
            <croppa v-model="picture" :width="100" :height="100"></croppa>
            <button class="btn btn-primary btn-sm" @click="uploadImage">Save picture</button>
        </div>
        <div class="form-action text-center">
            <button class="btn btn-primary btn-lg" type="submit">Update</button>
        </div>
    </form>
    <hr />
    <div class="card border-secondary mb-4">
      <div class="card-body text-secondary">
        {% if urls.user.password_change %}
        <div class="row align-items-center">
          <div class="col-sm-5">
            <a id="change-password" class="btn btn-secondary btn-block" href="{{urls.user.password_change}}">Change Password</a>
          </div>
          <div class="col-sm-7">
            Use a new password to login.
          </div>
        </div>
        {% endif %}
        {% if urls.user.api_generate_keys %}
        <div class="row align-items-center" style="margin-top:15px;">
          <div class="col-sm-5">
            <button id="generate-key-open"
              class="btn btn-secondary btn-block"
              data-toggle="modal" data-target="#generate-key">Reset API Key</button>
          </div>
          <div class="col-sm-7">
            Obtain a new API Key to authenticate.
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card border-danger">
      <div class="card-header">
        Danger Zone
      </div>
      <div class="card-body text-danger">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <button id="delete-action-open" class="btn btn-danger btn-block"
              data-toggle="modal" data-target="#delete-action"
              @click="userModalOpen=true">Delete user</button>
          </div>
          <div class="col-sm-7">
            This operation cannot be reversed.
          </div>
        </div>
      </div>
    </div>
    {% if urls.user.api_activate %}
    <div class="card border-secondary mb-4">
      <div class="card-body text-secondary">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <button id="activate-user" class="btn btn-secondary btn-block"
                @click="activate">Activate</button>
          </div>
          <div class="col-sm-7">
            Send an activation e-mail to the user.
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- modal dialog to delete user. -->
    <div class="modal fade"
         id="delete-action" tabindex="-1" role="dialog"
         aria-labelledby="Delete user" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete user ...</h5>
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>
You are about to delete the profile and account
for <em>{{user.full_name}}</em>.
This operation cannot be reversed.
            </p>
            <p>
Are you sure you want to continue?
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary"
                    data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger"
                    @click="deleteProfile">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal dialog asking for password -->
    <div id="generate-key" class="modal fade"
         tabindex="-1" role="dialog"
         aria-labelledby="Ask for password" aria-hidden="true">
      <form class="modal-dialog" method="POST" @submit.prevent="generateKey">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Please re-enter your password ...</h5>
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group mb-0">
                <input class="form-control"
                       name="password" placeholder="Password" type="password"
                       v-model="password" />
            </div>
            <div class="form-group mt-3 mb-0" v-show="apiKey != 'Generating ...'">
                <input class="form-control"
                       name="key" placeholder="Generating" type="text"
                       v-model="apiKey">
                <small class="form-text text-muted text-center">
                    This is your secret API key
                </small>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"
                    type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <!-- modal dialog to generate API keys -->
    <div id="show-key" class="modal fade"
         tabindex="-1" role="dialog"
         aria-labelledby="API Keys" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">API Key</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="controls">
                <input class="form-control"
                       name="key" maxlength="128"
                       type="text" disabled placeholder="Generating..."
                       v-model="apiKey" />
              </div>
            </div>
            <div class="form-group">
                <input class="form-control"
                       name="password" maxlength="128"
                       type="password" placeholder="Password"
                       v-model="password" />
            </div>
            <div>
              <p>
This is the API key you can use to authenticate with the service.
              </p>
              <p>
The key will only be displayed once. Keep it secure.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button id="regenerate-key" class="btn btn-secondary" type="button"
                    data-toggle="modal" data-target="#generate-key"
                    data-dismiss="modal">Generate</button>
            <button class="btn btn-primary"
                    data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of modal dialog to generate API keys -->
  </div> <!-- userProfileCtrl -->
</section>
{% endblock %}
