{% extends "users/base.html" %}

{% block saas_title %}{{user.full_name}}'s Profile{% endblock %}

{% block saas_lead_help %}Information on a registered user.{% endblock %}

{% block saas_help %}
<p>
You can update a user contact information, as well as login credentials here.
</p>
{% endblock %}

{% block saas_content %}
<section id="personal" ng-app="signupApp">
  <div id="user-profile-container" ng-controller="userProfileCtrl">
    {% include "_form.html" %}
    <hr />
    <div class="panel panel-default" style="margin:50px auto;">
      <div class="panel-heading">
      </div>
      <div class="panel-body" style="padding: 15px;">
        {% if urls.user.password_change %}
        <div class="row">
          <div class="col-sm-5">
            <a id="change-password" class="btn btn-default" href="{{urls.user.password_change}}" style="width:100%;">Change Password</a>
          </div>
          <div class="col-sm-7">
            <span class="btn">Use a new password to login.</span>
          </div>
        </div>
        {% endif %}
        {% if urls.user.api_generate_keys %}
        <div class="row" style="margin-top:15px;">
          <div class="col-sm-5">
            <button id="generate-key-open" class="btn btn-default" style="width:100%;"
              data-toggle="modal" data-target="#generate-key"
              @click="resetKey">Reset API Key</button>
          </div>
          <div class="col-sm-7">
            <span class="btn">Obtain a new API Key to authenticate.</span>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="panel panel-danger" style="margin:50px auto;">
      <div class="panel-heading">
        Danger Zone
      </div>
      <div class="panel-body" style="padding: 15px;">
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-5">
            <button id="delete-action-open" class="btn btn-danger" style="width:100%;"
              data-toggle="modal" data-target="#delete-action"
              @click="userModalOpen=true">Delete user</button>
          </div>
          <div class="col-sm-7">
            <span class="btn">This operation cannot be reversed.</span>
          </div>
        </div>
      </div>
    </div>
    <!-- modal dialog to delete user. -->
    <div class="modal fade"
         id="delete-action" tabindex="-1" role="dialog"
         aria-labelledby="Delete user" aria-hidden="true">
    <modal v-model="userModalOpen" title="Delete Profile...">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete user ...</h4>
          </div>
          <div class="modal-body">
            <p>
You are about to delete the profile and account
for <em>{{user.full_name}}</em>.
This operation cannot be reversed.
            </p>
            <p>
Are you sure you want to continue?
            </p>
            <div slot="footer">
              <button class="btn btn-default"
                 data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger"
                 ng-click="deleteProfile($event)"
                 @click="deleteProfile">Delete</button>
            </div>
    </modal>
    </div>
    <!-- modal dialog to generate API keys -->
    <div id="generate-key" class="modal fade"
         tabindex="-1" role="dialog"
         aria-labelledby="API Keys" aria-hidden="true">
    <modal v-model="apiModalOpen" title="API Key">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">API Key</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="controls">
                <input class="form-control form-control"
                       v-model="apiKey" name="key" maxlength="128"
                       type="text" disabled placeholder="Generating..." />
              </div>
            </div>
            <div>
              <p>
This is the API key you can use to authenticate with the service.
              </p>
              <p>
The key will only be displayed once. Keep it secure.
              </p>
            </div>
            <div slot="footer">
              <button class="btn btn-default" type="button"
                      ng-click="generateKey('#generate-key')"
                      @click="generateKey">Generate</button>
              <button class="btn btn-primary"
                      data-dismiss="modal">OK</button>
            </div>
    </modal>
    </div>
    <!-- end of modal dialog to generate API keys -->
  </div> <!-- userProfileCtrl -->
</section>
{% endblock %}

{% block users_bodyscripts %}
<script type="text/javascript">
/* Implementation Note: Not including a list of dependent modules
   (2nd parameter to `module`) "re-opens" the module for additional
   configuration.
   - We add the CSRF token for as an HTTP header on API calls.
   - We make it easier to separate between django and angularjs templates
     by changing Angular defaults to [[ and ]] characters. */
var reopenSignupApp = angular.module('signupApp');
reopenSignupApp.config(['$interpolateProvider', '$httpProvider',
           function($interpolateProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
}]);
reopenSignupApp.constant('settings', {
  modals: {
    generate_key: "#generate-key",
  },
  urls: {% if urls %}{{urls|to_json}}{% else %}{}{% endif %},
});
</script>
{% endblock %}
