{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
Create Plan
{% endblock %}

{% block saas_page_layout %}
<div id="new-plan-container">
    <div class="col-md-12">
        <div class="col-md-6">
            {% block saas_content %}
            <div data-trip data-trip data-trip-index="1" data-trip-content="<h2>Plan</h2><p>Set the title, description and price of a plan.</p><em>Use keyboard navigation or click 'Next' to move forward.</em>" data-trip-position="screen-center">
                {% include "saas/profile/plans/_form.html" %}
            </div>
            {% endblock %}
        </div>
        <div class="col-md-6">
            <p class="lead">
                {% block saas_lead_help %}{% endblock %}
            </p>
            {% block saas_help %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
