{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
  {% trans plan=plan.title() %}{{plan}} plan subscribers{% endtrans %}
{% endblock %}

{% block saas_content %}
<plan-subscriber-list inline-template id="plan-subscribers-container">
  <div>
    <div class="col-md-6">
    <div class="card bg-light">
      <div class="card-body">
        <form id="add-subscriber" class="mb-4" @submit.prevent="submit">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
          <account-typeahead inline-template ref="account"
                             v-bind:dataset="items.results"
                             v-on:selectitem="updateItemSelected">
            <div>
              <div class="input-group mb-3">
                <!-- optional indicators -->
                <span class="input-group-text">
                  <i class="fa fa-spinner fa-spin" v-if="loading"></i>
                  <template v-else>
                    <i class="fa fa-search" v-show="isEmpty"></i>
                    <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
                  </template>
                </span>
                <!-- the input field -->
                <input class="form-control"
                       type="text"
                       name="organization"
                       placeholder="{% trans %}Profile name or e-mail{% endtrans %}"
                       autocomplete="off"
                       v-model="query"
                       @keydown.down="down"
                       @keydown.up="up"
                       @keydown.enter.prevent="hit"
                       @blur="clear"
                       @input="update" />
                <!-- the list -->
                {# Implementation note: If we use `d-block` instead of    #}
                {# `style="display: block;"` the dropdown shows even when #}
                {# `hasItems` is `False`.                                 #}
                <ul class="dropdown-menu nav-pills p-1"
                    style="display: block;"
                    v-show="hasItems">
                  <li v-for="(item, $item) in items" class="nav-item"
                      @mousedown="hit"
                      @mousemove="setActive($item)">
                    <a :class="'nav-link' + activeClass($item)" v-text="item.printable_name"></a>
                  </li>
                </ul>
              </div>
            </div>
          </account-typeahead>
          <!-- Request to add a role to a user on a profile.  -->
          <div aria-labelledby="{% trans %}Add Subscriber{% endtrans %}"
               aria-hidden="true"
               class="add-role-modal"
               tabindex="-1"
               v-show="profileRequestDone" v-cloak>
            <p class="text-danger">
              {% trans full_name='[[requestedProfilePrintableName]]', site=request|site_printable_name %}{{full_name}} was not found. This is an opportunity to invite this profile to join {{site}}.{% endtrans %}
            </p>
            <div class="form-group mb-3">
              <label>{% trans %}Profile name{% endtrans %}</label>
              <input id="new-profile-full_name"
                     class="full_name form-control w-100"
                     name="full_name" type="text"
                     max-length="150" placeholder="Full name"
                     v-model="newItem.full_name" />
            </div>
            <div class="form-group mb-3">
              <label>{% trans %}To{% endtrans %}</label>
              <input id="new-profile-email" class="email form-control w-100"
                     name="email" type="text"
                     max-length="150" placeholder="invitee@example.com"
                     autofocus
                     v-model="newItem.email" />
            </div>
            <div class="form-group">
              <div class="controls">
                <label>{% trans %}The following invite message will be sent:{% endtrans %}</label>
                <textarea class="form-control"
                          name="message"
                          maxlength="255" type="text" rows="10">{% trans user=request.user.first_name, site=request|site_printable_name %}Hello,

I have subscribed you on {{site}}.

Thank you,
- {{user}}{% endtrans %}
                </textarea>
              </div>
            </div>
          </div><!-- /.add-add-role-modal -->
          <div class="d-grid gap-2">
            <button class="btn btn-primary btn-md mt-3"
                    type="submit">{% trans %}Add Subscriber{% endtrans %}</button>
          </div>
        </form>
      </div>
    </div>{# /.card #}
    </div>
    <hr />
    <div class="row">
      {% include "saas/_filter.html" %}
    </div>
    <div class="table-responsive">
      <table class="table" infinite-wrapper>
        <thead>
          <tr>
            <th>{% trans %}Subscriber{% endtrans %} <a href="#" @click.prevent="sortBy('profile')"><i :class="sortIcon('profile')"></i></a></th>
            <th>{% trans %}Plan{% endtrans %}</th>
            <th>{% trans %}Since{% endtrans %} <a href="#" @click.prevent="sortBy('created_at')"><i :class="sortIcon('created_at')"></i></a></th>
            <th>{% trans %}Ends at{% endtrans %} <a href="#" @click.prevent="sortBy('ends_at')"><i :class="sortIcon('ends_at')"></i></a></th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Grant/Request{% endtrans %}</th>
          </tr>
        </thead>
        <tbody v-show="!itemsLoaded">
          <tr>
            <td colspan="6">
              <h3 class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
            </td>
          </tr>
        </tbody>
        <tbody class="has-no-results" v-show="itemsLoaded && items.results.length == 0" v-cloak>
          <tr>
            <td colspan="6">
              <h4>{% trans %}No subscribers{% endtrans %}<span v-show="params.q"> {% trans %}with filter:{% endtrans %} '[[params.q]]'</span></h4>
            </td>
          </tr>
        </tbody>
        <tbody class="has-results" v-for="(entry, index) in items.results" v-show="itemsLoaded && items.results.length > 0" v-cloak>
          <tr :class="endsSoon(entry)">
            <td>
              <a :href="'{{urls.profile_base}}' + entry.profile.slug + '/subscriptions/'">[[entry.profile.printable_name]]</a>
            </td>
            <td>[[entry.plan.title]]</td>
            <td>[[$globals.humanizeDate(entry.created_at)]]</td>
            <td>[[$globals.humanizeDate(entry.ends_at)]]</td>
            <td>
              <span v-show="!entry.edit_description" @click="editDescription(entry, index)">
                [[entry.description]] <i class="fa fa-pencil"></i>
              </span>
              <input v-show="entry.edit_description" type="text"
                     class="form-control"
                     @blur="saveDescription(entry)"
                     @keyup.13="saveDescription(entry)"
                     v-model="entry.description"
                     :ref="refId(entry, index)"
                     tooltip="{% trans %}Edit description here{% endtrans %}"
                     tooltip-trigger="focus"
                     tooltip-placement="top">
            </td>
            <td>
              <button class="btn btn-secondary" v-if="entry.grant_key">{% trans %}Revoke grant{% endtrans %}</button>
              <button class="btn btn-primary" v-if="entry.request_key">{% trans %}Accept request{% endtrans %}</button>
              <button class="btn btn-danger" v-if="!(entry.grant_key || entry.request_key)">{% trans %}Unsubscribe{% endtrans %}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% include "_pagination.html" %}
  </div>
</plan-subscriber-list>
{% endblock %}
