// Visual appearance of dashboard sidebar

$dashboard-sidebar-bg:       theme-color(primary);
$dashboard-sidebar-color:    white;

.dashboard-nav-color-theme {
    background-color: $dashboard-sidebar-bg;
    color: $dashboard-sidebar-color;
}

.dashboard-nav-color-theme .navbar-light,
.dashboard-nav-color-theme.navbar
{
  background-color: $dashboard-sidebar-bg;
}

.dashboard-nav a,
.dashboard-nav a:active,
.dashboard-nav a:hover,
.dashboard-nav a:focus,
.dashboard-nav a:visited {
  color: $dashboard-sidebar-color;
}

.dashboard-nav .navbar-light a.navbar-brand,
.dashboard-nav .navbar-light a.navbar-brand:active,
.dashboard-nav .navbar-light a.navbar-brand:hover,
.dashboard-nav .navbar-light a.navbar-brand:focus,
.dashboard-nav .navbar-light a.navbar-brand:visited {
  color: $dashboard-sidebar-color;
}

.opened .dashboard-nav-main {
  box-shadow: 10px 0 100px #ccc;
}

.dashboard-nav-footer {
  border-top-color: $dashboard-sidebar-color;
}

.dashboard-nav-footer .footer-links a
{
    color: $dashboard-sidebar-color;
}

.dashboard-nav-menu > hr {
  border-top: 1px solid $dashboard-sidebar-color;
}

.dashboard-nav-menu > .nav > li > a {
   background-color:transparent;
   color: $dashboard-sidebar-color;
}

.dashboard-nav-menu > .nav > li.active > a {
  background-color: $dashboard-sidebar-color;
  color: $dashboard-sidebar-bg;
  border-radius: 0px;
  text-decoration: underline;
}

.dashboard-nav-menu > .nav > li:not(.active) > a:hover{
   color: $dashboard-sidebar-color;
   text-decoration: underline;
}

.dashboard-nav .footer {
   color: $dashboard-sidebar-color;
}

.dropdown-menu .dropdown-label
{
    color: $dashboard-sidebar-bg;
}

.dropdown-menu .dropdown-label .dropdown-label-role
{
    color: $dashboard-sidebar-color;
    background: $dashboard-sidebar-bg;
}

.dashboard-inner-container .dashboard-nav-color-theme .sidebar-toggle
{
    border: 1px solid $dashboard-sidebar-color;
    background: $dashboard-sidebar-bg;
}

.dashboard-inner-container .dashboard-nav-color-theme .sidebar-toggle,
.dashboard-inner-container .dashboard-nav-color-theme .sidebar-toggle:hover
{
    color: $dashboard-sidebar-color;
}

.dashboard-nav-color-theme.navbar-light .navbar-nav .nav-link,
.dashboard-nav-color-theme .dropdown-toggle
{
    color: $dashboard-sidebar-color;
}
