// CSS specific to the DjaoDjin dashboard

$navbar-height: 50px; // XXX until we find a better fix.
$dashboard-sidebar-width:    220px;
$dashboard-sidebar-toggle:    20px;
$dashboard-nav-footer-height: 91px;
$dashboard-content-bg:       white;


// Manager dashboards (templates/saas/*.html)
// --------

/* subscriber pipeline */
.ends-soon {
    background-color: theme-color-level();
}

.date-chooser{
  padding-top: 5px;
  font-size: 0.8em;
}

.date-chooser .dropdown-menu {
   left: auto !important;
   right: 0px;
 }

.dashboard-container {
    clear: left;
    float: left;
    width: 100%;
// XXX temporary override to see the balances table
//    overflow: hidden;
    overflow: auto;
}

.dashboard-inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
}

.dashboard-nav {
  display:block;
  width: $dashboard-sidebar-width; // .col-md-2 width: 16.66666667%;
  overflow: hidden;
  -webkit-transition: right 0.25s ease-in-out;
  -moz-transition: right 0.25s ease-in-out;
  -ms-transition: right 0.25s ease-in-out;
  -o-transition: right 0.25s ease-in-out;
  transition: right 0.25s ease-in-out;


  flex-grow: 1;
  user-select: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  overflow: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 5;
  height: 100%;
}

.dashboard-nav-push-content {
  width: $dashboard-sidebar-width;
  display: inline-block;
  flex-shrink: 0;
}

.dashboard-nav-main {
    float: left;
    min-height: 100%;
    padding-bottom: 76px; /* must be equal to .dashboard-nav-footer height
                             in pixel */
}

.navbar .navbar-brand-logo {
  padding: 2px;
  font-size: 18px;
  height: $navbar-height;
}

.navbar .navbar-brand-logo > img {
  width: auto;
  max-height: 46px;
}

.dashboard-nav .navbar-brand-logo {
  float: left;
  padding: 2px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.dashboard-nav .navbar-brand-logo > img {
  width: auto;
  max-height: 46px;
}

.dashboard-nav-menu {
  height: calc(100vh - (#{$dashboard-nav-footer-height} + #{$navbar-height}));
  overflow-y: auto;
}

.dashboard-nav-footer
{
    position: absolute;
    clear:both;
    bottom: 0;
    padding: 10px 30px 10px;
    font-size: 11px;
    width: $dashboard-sidebar-width;
    border-top: 1px solid;
}

.dashboard-nav-footer .footer-links
{
    margin-top: 10px;
}

.dashboard-nav-footer .footer-links a
{
    margin: 0 3px;
}

.dashboard-nav-footer .footer-links a:first-child
{
    margin-left: 0;
}

.dashboard-nav-footer .footer-links a:last-child
{
    margin-right: 0;
}

.dashboard-inner-container .navbar-brand-container {
   margin-left: 0;
}

.dashboard-content {
    overflow: hidden;
    vertical-align: top;
    background-color: $dashboard-content-bg;
    color: black;
    width: 100%;
}

.dashboard-inner-container .dashboard-content-body {
  padding-left: $dashboard-sidebar-toggle;
}

.dashboard-nav .dashboard-nav-menu {
    width: $dashboard-sidebar-width;
}

.dashboard-nav-border {
    float:left;
    width: $dashboard-sidebar-toggle;
    cursor: pointer;
    /* forces height of the sidebar to 100vh - $navbar-height - footer-height */
    /* works from Firefox Windows 43.0.1 and Firefox OSX 22 */
    /* height: -moz-calc(~"100vh - 50px - 22px"); */
    /* height:      calc(~"100vh - 50px - 22px"); */
}

.dashboard-nav-border .dashboard-nav-toggle-container {
  float: left;
  list-style: none;
  display: block;
  margin: 0;
  padding-left: 0; // .nav
}

//.dashboard-nav-toggle-container .dashboard-nav-toggle {
//  float: left;
//  position: relative;
//  margin: 0;
//  padding: 15px 15px; // .navbar-nav>li>a @media (min-width: 768px)
//  padding-top: 15px;   // .navbar-nav>li>a @media (min-width: 768px)
//  padding-bottom: 15px; // .navbar-nav>li>a @media (min-width: 768px)
//  line-height: 20px; // .navbar-nav>li>a
//border: 1px solid transparent;
//    border-radius: 4px;
//}

.dashboard-nav-toggle-container .dashboard-nav-toggle {
  position: relative;
  float: left;
//  margin-left: $navbar-padding-horizontal;//XXX variable does not exists.
  margin-right: 5px;
  padding: 9px 10px;
//XXX  .navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
//  border-radius: $border-radius-base; //XXX variable does not exist.
}

.dashboard-nav-toggle-container .dashboard-nav-toggle > i {
  width: 14px;
}

.dashboard-nav-toggle-main {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: $dashboard-sidebar-toggle;
  height: 100vh;
}

.dashboard-nav-menu > hr {
  margin-left: $dashboard-sidebar-toggle;
  margin-right: $dashboard-sidebar-toggle;
}

.dashboard-nav-menu > .nav{
   margin-left: $dashboard-sidebar-toggle;
   margin-right: $dashboard-sidebar-toggle;
}

.dashboard-nav-menu > .nav > li {
    margin: 5px 0px;
}

.dashboard-nav-menu > .nav > li > a,
.dashboard-nav-menu > .nav > li.active > a {
   height:38px;
   font-size:13px;
}

.dashboard-nav-menu > .nav > li > a > i {
   width:25px;
   text-align:center;
}

.dashboard-nav-push-content {
  width: $dashboard-sidebar-width;
  display: inline-block;
  flex-shrink: 0;
}

.no-results
{
    color: #888;
    text-align: center;
    padding: 20px 10px;
    margin: 0;
    font-size: 14px;
}

.dashboard-home-title
{
    border-bottom: 1px solid #e0e0e0;
}

.navbar .nav-item
{
    margin: 0 10px;
}

@include media-breakpoint-down(xs) {

    .dashboard-content {
      margin-top: $navbar-height + 10px;
    }

    .dashboard-content > header {
      position: fixed;
      height:  $navbar-height;
      top: 0;
      z-index: 4;
      width: 100%;
      left: 0;
    }
}

@include media-breakpoint-up(sm) {
  .navbar .navbar-brand-logo {
    margin-top: 0;
  }

  .dashboard-inner-container {
    position: inherit;
    left: 0;
    width: inherit;
  }

  .dashboard-inner-container .dashboard-content
  {
    margin-left: $dashboard-sidebar-width;
  }

  .dashboard-inner-container .dashboard-nav {
    display:none;
  }

  .dashboard-inner-container .dashboard-nav-push-content {
    display: none;
  }

  .dashboard-inner-container .dashboard-nav-toggle {
    display: none;
  }

  .dashboard-inner-container .navbar-brand-container {
    margin-left: 0;
  }


  // On dashboard pages, the sidebar is always available
  // We override again with the optional small screen settings.
  .dashboard-inner-container.always-on {
    position: absolute; // with relative we have bug https://github.com/jquery/jquery/issues/1872
    left: 0;
    width: 100vw;
  }

  .dashboard-inner-container.always-on .dashboard-nav {
    display:block;
  }

  .dashboard-inner-container.always-on .dashboard-nav-push-content {
    display: inline-block;
  }

  .dashboard-inner-container.always-on .navbar-brand-container {
    display: none;
  }

}
