{% extends "saas/base_dashboard.html" %}
<!-- User Roles Page -->

{% block saas_title %}
  {% trans %}Accessible by {{user}}{% endtrans %}
{% endblock %}

{% block saas_content %}
<role-user-list-modal inline-template >
  <role-profile-list inline-template ref="profiles"
        :request-user="'{{request.user.email}}'"
        @create="create" @create-completed="createCompleted"
        @remove="remove" @remove-completed="removeCompleted"
        id="accessible-list-container">
    <div>
      <!-- Adds a role for a user to a profile, or create a new profile. -->
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="alert alert-info"
               v-if="itemsLoaded && items.results.length == 0" v-cloak>
            {% trans %}You don't have access to any profile yet. Please request access to an existing profile or create a new one.{% endtrans %}
            </p>
            <div class="text-end" v-if="itemsLoaded && items.results.length !== 0" v-cloak>
              <a id="add-or-create-btn" href="#add-or-create" data-bs-toggle="collapse" data-bs-target="#add-or-create">more profiles ...</a>
            </div>
          </div>
        </div>
        <div id="add-or-create" v-bind:class="itemsLoaded && items.results.length == 0 ? 'collapse show' : 'collapse'" v-cloak>
          <div class="row">
            <div class="col-md-12 mt-3">
              {% include "saas/_profile_new.html" %}
            </div>
          </div>
        </div><!-- /#add-or-create -->
      </div>

      <div class="container pb-4">
        <div class="row" v-show="!itemsLoaded">
          <div class="col-md-12 py-5 my-5">
            <hr />
            <h3 class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
          </div>
        </div>

        <div v-show="itemsLoaded && items.results.length > 0" v-cloak>
          <hr />
          <div class="row mt-4" infinite-wrapper>
            <div class="col-md-3 mb-3" v-for="(item, index) in items.results">
              {% include "saas/_organization_card.html" %}
            </div>
          </div>
        </div>
      </div>

      <!-- modal dialog to confirm revoking a role -->
      <div id="revoke-action" class="revoke-modal modal fade"
           tabindex="-1" role="dialog"
           aria-labelledby="{% trans %}Revoke{% endtrans %}"
           aria-hidden="true">
        <form class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{% trans %}Revoke{% endtrans %} ...</h5>
              <button type="button" class="btn-close"
                      data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
              <p>
                {% trans %}You are about to delete yourself from this role. It is possible that you no longer can manage this profile after performing this action.{% endtrans %}
              </p>
              <p>
                {% trans %}Are you sure you want to continue?{% endtrans %}
              </p>
              <div class="modal-footer">
                <button id="cancel-revoke"
                        class="btn btn-primary"
                        data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                <button type="submit" id="revoke-btn"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                        @click="remove">{% trans %}Revoke{% endtrans %}</button>
              </div>
            </div>
          </div>
        </form>
      </div><!-- /modal dialog to confirm revoke -->

      <!-- Start Pagination -->
      {% include "_pagination.html" %}
      <!-- End Pagination -->
    </div>
  </role-profile-list>
</role-user-list-modal>
{% endblock %}
