*~
*.pyc
*.mo
*.sqlite
*.xcodeproj
.DS_Store
.timestamp
.vscode
assets
htdocs
htdocs/media/
themes/
djaoapp/locale/*/LC_MESSAGES/*.mo
# we don't use package.json in root dir, however it is convenient
# to ingore these files when making modifications to package.json via
# npm install --save <package-name>
package-lock.json
node_modules
