*~
*.pyc
*.mo
*.sqlite
*.xcodeproj
.DS_Store
.timestamp
.vscode
htdocs/
htdocs/media
themes
credentials
# we don't use package.json in root dir, however it is convenient
# to ignore these files when making modifications to package.json via
# npm install --save <package-name>
package-lock.json
webpack-conf-paths.json
node_modules
djaoapp/static/vendor/chart.js
.idea/
