# Direct known Python requirements
# (Javascript prerequisites are specified in package.json)

boto3==1.4.4
coverage==4.0.3
cryptography==2.2.2
Django==1.11.29
django-assets==0.12
django-countries==5.5
django-localflavor==1.6
django-phonenumber-field==2.4.0
django-recaptcha==2.0.5
django-webpack-loader==0.6.0
djangorestframework==3.9.4
# next 8 usually installed through source repo directly.
djaodjin-deployutils==0.5.23
djaodjin-extended-templates==0.2.5
djaodjin-multitier==0.1.19
djaodjin-pages==0.4.0
djaodjin-rules==0.2.7
djaodjin-saas==0.10.0
djaodjin-signup==0.5.0
jinja2==2.11.3
MarkupSafe==1.1.0  # force installs in case older version is found (CentOS7)
# gunicorn 19.0 is broken (see issue 787)
# gunicorn 19.3.0 has a syntax error in gunicorn/workers/_gaiohttp.py:64
#   but it still seems to work ...
gunicorn==19.7.1
phonenumbers==8.5.0
premailer==3.6.1
PyJWT==1.7.1    # djaodjin-signup==0.4.9 is not compatible with PyJWT==2.0.1
pytz==2021.1
social-auth-app-django==3.1.0 # v1.2.0 does not support Django>=2.1
social-auth-core==3.2.0
whitenoise==4.1.2
WeasyPrint==0.42.3

# To run with DEBUG=1
django-extensions==2.1.4
django-debug-panel==0.8.3
django-debug-toolbar==1.11.1 # XXX does not support Django 2.2

# documentation is done with Py3. This requirements-legacy.txt is purely
# used for testing on Py27.
