{% extends "saas/base_dashboard.html" %}

{% block saas_title %}HTTP Request Pipeline{% endblock %}

{% block saas_page_layout %}
<div ng-app="ruleApp">
  <div  ng-controller="RuleListCtrl">
    <div class="row">
    <div class="col-md-12" data-trip data-trip-index="1" data-trip-content="<h2>Configure the request pipeline</h2><p>Set URL access rules and where authorized requests are forwared to...</p><em>Use keyboard navigation or click 'Next' to move forward.</em>" data-trip-position="screen-center">
      <h3>Domain</h3>
      <div data-trip data-trip-index="2" data-trip-content="<p>Check the domain for which the access rules apply. All HTTP requests to {{site_available_at_url}}<br />will be checked against the access rules defined below.</p>" data-trip-position="s">
        <p>
The site is available at <a href="{{site_available_at_url}}">{{site_available_at_url}}</a>.
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <h3>Access Rules</h3>
      <div class="table-responsive">
      <table class="table table-condensed table-striped" data-trip data-trip-index="3" data-trip-content="Define an <em>access rule</em> per <em>path</em> then if authorized requests<br /> should be forwarded to the web application or served by the firewall itself." data-trip-position="s">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Path</th>
            <th>Access Rule</th>
            <th class="text-center">Forward</th>
            <th>Engage tags</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="rules" dnd-list="rules">
          <tr ng-repeat="rule in rules.results" ng-cloak="" id="rule-[[rule.rank]]">
            <td width="100">
              <div class="btn btn-default btn-sm">
                <i class="fa fa-bars"></i></div>
            </td>
            <td>[[rule.path]]</td>
            <td width="200">
              <select name="rule" class="form-control input-sm"
                      ng-model="rule.allow"
                      ng-change="updateAllow(rule)">
                {% for rule in rules %}
                <option value="{{rule.0}}">{{rule.1}}</option>
                {% endfor %}
              </select>
            </td>
            <td width="100" class="text-center">
              <input type="checkbox" name="is_forward"
                     ng-model="rule.is_forward"
                     ng-change="updateForward(rule)"
                     ng-checked="rule.is_forward" />
            </td>
            <td class="engaged">
                <span ng-hide="engagedEditMode[$index]" ng-click="editEngaged($index)">[[rule.engaged]] <i class="fa fa-pencil"></i></span>
                <input ng-show="engagedEditMode[$index]" type="text" class="form-control" ng-keydown="saveEngaged($event, rule, $index)" ng-blur="saveEngaged($event, rule, $index)" ng-model="rule.engaged" uib-tooltip="Edit engaged and press 'Enter'" uib-tooltip-trigger="focus" uib-tooltip-placement="top" id="input_engaged">
            </td>
            <td width="100">
              <button class="btn btn-danger btn-sm" ng-click="remove($index)">
                <i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <a id="add-rule" href="#"
                 data-toggle="modal" data-target="#new-rule"><i class="fa fa-plus"></i> Add ...</a>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <!-- modal dialog for Adding a rule -->
      <div id="new-rule" class="modal fade" tabindex="-1" role="dialog"
           aria-labelledby="Add Access Rule" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close"
                      data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Path accessed ...</h4>
            </div>
            <div class="modal-body">
              <div id="div_id_new_rule_path" class="form-group">
                <div class="controls ">
                  <input id="id_new_rule_path"
                         class="form-control"
                         maxlength="255"
                         name="new_rule_path" type="text"
                         ng-model="newRule.path">
                  <p class="help-block">Your path should end with '/'. If not it will be automatically added.</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">Cancel</button>
              <button id="new-rule-submit" ng-click="create()"
                      type="button" class="btn btn-primary"
                      data-dismiss="modal">Create</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal dialog for Adding a rule -->
    </div>
    <div class="col-md-12">
      <h3>Web application</h3>
      <p>
          HTTP End Point
      <p>
        <div id="endpoint" class="tab-pane active">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:50px;">
            <form id="entry-point-form" method="post" ng-submit="submitEntryPoint('#entry-point-form')">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="">Entry point *</label>
                  <input class="form-control" id="id_entry_point" maxlength="100" name="entry_point" type="text" value="{{form.instance.entry_point}}" data-trip data-trip-index="4" data-trip-content="<p>Set the entry point where authorized requests should be forwarded to.</p>" data-trip-position="s">
                </div>
                <div class="form-group col-md-4">
                  <label for="">Session encoding *</label>
                  <select class="form-control" name="session_backend" value="{{form.instance.session_backend}}">
                    <option value="0"{% if form.instance.session_backend == 0 %} selected{% endif %}>No session forwarded</option>
                    <option value="1"{% if form.instance.session_backend == 1 %} selected{% endif %}>Cookie-based session backend</option>
                    <option value="2"{% if form.instance.session_backend == 2 %} selected{% endif %}>JWT-based session backend</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <div style="height:25px;"></div>
                  <button class="btn btn-primary" id="generate-key-btn" data-toggle="modal" data-target="#generate-key" data-trip data-trip-index="5" data-trip-content="<p>Download the API key used to encrypt<br />sessions forwarded to your web application. <a href='http://djaodjin.com/docs/' target='_blank'>more...</a></p>"  data-trip-position="s" ><i class="fa fa-key"></i> Generate Key</button>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
          <!-- modal dialog for Encrypted Session Key -->
          <div id="generate-key" class="modal fade"
               tabindex="-1" role="dialog"
               aria-labelledby="Encrypted Session Key" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close"
                          data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Encrypted Session Key</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <div class="controls">
                      <input class="form-control form-control"
                             name="key" maxlength="32" type="text" disabled
                             value="Generating ..." />
                    </div>
                  </div>
                  <div>
                    <p>
This is the AES key used to encrypt the session cookie passed
to your application when a request was authorized.
                    </p>
                    <p>
The key will only be displayed once. Keep it secure.
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button id="regenerate-key" class="btn btn-default"
                          type="button" ng-click="generateKey('#generate-key')">Generate</button>
                  <button type="button" class="btn btn-primary"
                          data-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of modal dialog for Encrypted Session Key -->
        </div>
    </div><!-- /Web Application -->
    <div class="col-md-12">
      <h3>Testing</h3>
      <p>
Enter a username and check the token that will be passed to your backend
service.
      </p>
      <form id="token-form" class="form-inline" method="post" ng-submit="getSessionData('#token-form')">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <div class="input-group">
          <input id="id_username" class="form-control" maxlength="100" name="username" type="text">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Check</button>
          </span>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12 text-left">
          <dl id="session-data">
            <dt>Session Data</dt>
            <dd>
              <pre class="code"><code>[[forward_session]]</code></pre>
            </dd>
          </dl>
          <dl id="session-header">
            <dt>As HTTP Header</dt>
            <dd>
              <pre class="code"><code>[[forward_session_header]]</code></pre>
            </dd>
          </dl>
          <dl>
            <dt>Forwarding requests to</dt>
            <dd>
              <pre class="code"><code>[[forward_url]]</code></pre>
            </dd>
          </dl>
        </div>
      </div>
    </div><!-- /testing tokens -->
  </div>
</div>
{% endblock %}

{% block dashboard_bodyscripts %}
<script type="text/javascript">
/**
Implementation Note #1:
  Not including a list of dependent modules (2nd parameter to `module`)
  "re-opens" the module for additional configuration.
Implementation Note #2:
  Pasting this code in $(document).ready will lead to a $injector/unpr
  error in Angularjs.
*/
var app = angular.module('ruleApp');
app.config(['$interpolateProvider', '$httpProvider',
    function($interpolateProvider, $httpProvider) {
      $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
      /* Makes it easier to separate between django and angularjs templates */
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
}]);
app.constant('urls', {
    rules_api_rule_url: "{{urls.rules.api_rules}}",
    rules_api_detail_url: "{{urls.rules.api_detail}}",
    rules_api_generate_key: "{{urls.rules.api_generate_key}}",
    rules_api_session_data: "{{urls.rules.api_session_data}}",
});

jQuery(document).ready(function($) {
    $('#new-rule').on('shown.bs.modal', function(){
      $('#id_new_rule_path').focus();
    });
});
</script>
{% endblock %}
