{% extends "saas/base_dashboard.html" %}

{% block saas_title %}{% trans %}User engagement{% endtrans %}{% endblock %}


{% block help_menus %}
{% if urls.contacts %}
<li class="divider-vertical"></li>
<li class="nav-item">
  <a id="contact" class="nav-link{% if request.path == urls.contacts %} active{% endif %}" href="{{urls.contacts}}">{% trans %}Contacts{% endtrans %}</a>
</li>
{% endif %}
{% endblock %}


{% block saas_page_layout %}
<user-engagement inline-template class="pt-3" id="user-engagement-container">
  <div>
    {% include "saas/_filter.html" %}

    <table class="table table-bordered table-condensed">
      <thead>
        <th>{% trans %}Username{% endtrans %}</th>
        <th v-for="tag in tags">[[tag]]</th>
      </thead>
      <tbody>
        <tr v-for="row in items.results">
          <td><a :href="'{{urls.profile_redirect}}' + row.username + '/'">[[row.username]]</a></td>
          <td v-for="tag in tags" :class="row.engagements.indexOf(tag) >= 0 ? 'bg-success' : ''">
          </td>
        </tr>
      </tbody>
    </table>
    {% include "_pagination.html" %}
  </div>
</user-engagement>
{% endblock %}
