{% extends "saas/base_dashboard.html" %}

{% block saas_title %}{% trans %}User engagement{% endtrans %}{% endblock %}

{% block saas_page_layout %}
<div id="user-engagement-container">
    <div>
        <table class="table">
            <thead>
                <th>Username</th>
                <th v-for="tag in tags">[[tag]]</th>
            </thead>
            <tbody>
                <tr v-for="row in items.results">
                    <td>[[row.username]]</td>
                    <td v-for="tag in tags">
                        [[row.engagements.indexOf(tag) >= 0 ? 'engaged' : 'not engaged']]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
