{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="offset-sm-2 col-sm-8 text-center" style="margin-top: 50px;">
            <p>
                <i class="fa fa-meh-o fa-4x"></i>
            </p>
            <p>
{% trans %}503 Service Unavailable{% endtrans %}{% if err %} - {{err}}{% endif %}
            </p>
            <p>
{% trans %}The service behind the firewall cannot be reached.{% endtrans %}
{% trans %}If you think there is a mistake, please <a href="/contact/">contact us</a>.{% endtrans %}
            </p>
            <p>
{% trans %}We do our best to reply to each request individually within 24 hours. Thank you!{% endtrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
