{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <div class="row py-5">
    <div class="offset-sm-2 col-sm-8 text-center px-4" style="margin-top: 50px;">
      <h3>{% trans %}Couldn't reach destination.{% endtrans %}</h3>
      <p class="text-secondary">
          {% trans %}503 Service Unavailable{% endtrans %}
      </p>
      <p>
{% trans %}Sorry, we couldn't reach the service behind the firewall.{% endtrans %}
      </p>
      <p>
{% trans %}Please come back later or try to navigate another part of the site.{% endtrans %}
      </p>
      <p>
{% trans %}Thank you for the patience!{% endtrans %}
      </p>
      <p style="text-align:center;">
          <a href="/">Go back to the homepage &raquo;</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
