{% extends "_form.html" %}

{% block form_block %}
<form{% if form.form_id %} id="{{form.form_id}}"{% endif %}
    class="form-horizontal"
    method="post" action=".{% if next %}/?next={{ next }}{% endif %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <fieldset>
        <legend>{% trans %}Login Credentials{% endtrans %}</legend>
        {{ input_field(form['username'], form.hide_labels) }}
        {{ input_field(form['email'], form.hide_labels) }}
        {{ input_field(form['email2'], form.hide_labels) }}
        {{ input_field(form['new_password'], form.hide_labels) }}
        {{ input_field(form['new_password2'], form.hide_labels) }}
    </fieldset>
    <fieldset>
        <legend>{% trans %}Contact Information{% endtrans %}</legend>
        {{ input_field(form['full_name'], form.hide_labels) }}
        {{ input_field(form['street_address'], form.hide_labels) }}
        {{ input_field(form['country'], form.hide_labels) }}
        {{ input_field(form['region'], form.hide_labels) }}
        {{ input_field(form['locality'], form.hide_labels) }}
        {{ input_field(form['postal_code'], form.hide_labels) }}
        {{ input_field(form['phone'], form.hide_labels) }}
    </fieldset>
    <div class="row">
      <div>
        <p>
{% trans %}By clicking on the &quot;Register&quot; button below, <b>I signify that I have read and accept the <a target="_blank" href="/legal/terms-of-use/">terms of service</a></b>.{% endtrans %}
        </p>
        <button type="submit" class="btn btn-block btn-primary btn-lg">{% if form.submit_title %}{{form.submit_title}}{% else %}{% trans %}Register{% endtrans %}{% endif %}</button>
      </div>
    </div>
</form>
{% endblock %}
