<form method="post" id="bank-form" class="form-horizontal" action=".{% if next %}/?next={{next}}{% endif %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <fieldset>
        <h1 class="text-center">{% trans %}Bank Information{% endtrans %} {% if last4 and not force_update %}<a class="btn" href="{{urls.provider.bank}}">{% trans %}Update{% endtrans %}</a>{% endif %}</h1>
        {% if last4 %}
        <div>
            <dl class="dl-horizontal">
                <dt>{% trans %}Bank{% endtrans %}</dt>
                <dd>{{bank_name}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{% trans %}Account Number{% endtrans %}</dt>
                <dd>{{last4}}</dd>
            </dl>
        </div>
        {% endif %}
        {% if not last4 or force_update %}
        <!-- BE CAREFULL: Do not add name="" to the account-number
             and routing-number input nodes, else values will hit
             the server and break PCI compliance. -->
        <div id="row-account-number" class="form-group">
            <label class="col-form-label col-lg-4" for="account-number">{% trans %}Account Number{% endtrans %}</label>
            <div class="col-lg-8">
                <input id="account-number" class="form-control form-control-sm" type="text" size="16" autocomplete="off" />
            </div>
        </div>
        <div id="row-routing-number" class="form-group">
            <label class="col-form-label col-lg-4" for="routing-number">{% trans %}Routing Number{% endtrans %}</label>
            <div class="col-lg-8">
                <input id="routing-number" class="form-control form-control-sm" type="text" size="16" autocomplete="off" />
            </div>
        </div>
        <div id="row-country" class="form-group">
            <label class="col-form-label col-lg-4" for="country">{% trans %}Country{% endtrans %}</label>
            <div class="col-lg-8">
                <input id="country" class="form-control form-control-sm" type="text" size="16" name="country" autocomplete="off" />
            </div>
        </div>
        {% endif %}
    </fieldset>
    <div class="form-action text-center">
        <button type="submit" class="btn btn-primary">{% if force_update %}{% trans %}Update{% endtrans %}{% else %}{% trans %}Withdraw{% endtrans %}{% endif %}</button>
    </div>
</form>
