<div class="col-md-3">
  <div class="pb-3">
    {% include "saas/_filter_match.html" %}
  </div>
</div>

<div class="col-md-3 mb-3">
  <!-- Find Coupon by Start Date -->
  <uiv-dropdown append-to-body class="w-100">
    <div class="input-group input-group-md">
      <div class="input-group-prepend">
        <span class="input-group-text" id="from-inp">{% trans %}From{% endtrans %}</span>
      </div>
      <input class="form-control" type="text" v-model="params.start_at" v-cloak>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    <template slot="dropdown">
      <li>
        <uiv-date-picker @input="get" format="{{DATETIME_FORMAT}}" v-model="params.start_at" icon-control-left="fa fa-caret-left" icon-control-right="fa fa-caret-right" />
      </li>
    </template>
  </uiv-dropdown>
</div>

<div class="col-md-3 mb-3">
  <!-- Find Coupon by End Date -->
  <uiv-dropdown append-to-body class="w-100">
    <div class="input-group input-group-md">
      <div class="input-group-prepend">
        <span class="input-group-text" id="to-inp">{% trans %}To{% endtrans %}</span>
      </div>
      <input class="form-control date" type="text" v-model="params.ends_at" v-cloak>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle"><i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    <template slot="dropdown">
      <li>
        <uiv-date-picker @input="get" format="{{DATETIME_FORMAT}}" v-model="params.ends_at" icon-control-left="fa fa-caret-left" icon-control-right="fa fa-caret-right" />
      </li>
    </template>
  </uiv-dropdown>
</div>
