<fieldset id="invoicables">
  <div class="container bg-light px-0 py-2">
    <div class="row">
      <div class="col-md-12">
        <table class="table" style="margin-bottom:0;">

          {% if invoicables %}
            <tbody data-plan="{{invoicables.0.subscription.plan}}">
              <tr>
                <th colspan="2">
                  {% trans %}Selected Plan{% endtrans %}:
                  <em>{% trans plan=invoicables.0.subscription.plan.title, organization=invoicables.0.subscription.plan.organization.printable_name %}{{plan}} from {{organization}}{% endtrans %}</em>
                </th>
                <th class="text-right">
                  <a id="{{invoicables.0.subscription.plan.slug}}" class="remove-cart-item" href="">{% trans %}Remove from Cart{% endtrans %}</a>
                </th>
              </tr>
              {% if invoicables.0.options %}
              <tr class="py-0">
                  <th colspan="2" class="font-weight-normal">{% trans %}Payment Options{% endtrans %}</th>
                  <th class="font-weight-normal text-right">{% trans %}Totals{% endtrans %}</th>
              </tr>
              {% endif %}
              <tr>
                  <td colspan="3" class="p-0">
                      <hr class="mx-3 my-0">
                  </td>
              </tr>

              {% for entry in invoicables %}
                {% if entry.is_changed %}
                    {% if is_bulk_buyer %}
                    <tr class="seat">
                      <td colspan="3">
                        <div class="row">
                          <div class="col-sm-4">
                            <input class="form-control seat-fullname" type="text" placeholder="{% trans %}Full name (i.e. first and last names){% endtrans %}" />
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control seat-email" type="text" placeholder="{% trans %}E-mail address{% endtrans %}" />
                          </div>
                          <div class="col-sm-4">
                            <button type="button" class="btn btn-primary add-seat" type="button">{% trans %}Add{% endtrans %}</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>

                  <tbody data-plan="{{entry.subscription.plan}}">
                    <tr>
                      <th colspan="2">
                        {% trans %}Selected Plan{% endtrans %}:
                        <em>{% trans plan=entry.subscription.plan.title, organization=entry.subscription.plan.organization.printable_name %} {{plan}} from {{organization}}{% endtrans %}</em>
                      </th>
                      <th class="text-right">
                        <a id="{{entry.subscription.plan.slug}}" class="remove-cart-item" href="">{% trans %}Remove from Cart{% endtrans %}</a>
                      </th>
                    </tr>
                    {% if entry.options %}
                    <tr class="py-0">
                      <th colspan="2" class="font-weight-normal">{% trans %}Payment Options{% endtrans %}</th>
                      <th class="font-weight-normal text-right">{% trans %}Totals{% endtrans %}</th>
                    </tr>
                    {% endif %}
                    <tr>
                      <td colspan="3" class="p-0">
                        <hr class="mx-3 my-0">
                      </td>
                    </tr>
                {% endif %}{# entry.is_changed #}

                <!-- No options, there is only one price. Checkout Page -->
                {% for line in entry.lines %}
                  <tr class="invoice-item">
                    <td></td>
                    <td class="line-descr">{{line|describe_no_links}}</td>
                    <td class="line-amount text-right">{{line.dest_price|humanize_money}}</td>
                  </tr>
                {% endfor %}

                <!-- Payment Options for Payment Plans Page -->
                {% for line in entry.options %}
                  <tr>
                    <td>
                      <input type="radio" name="{{entry.name}}" data-amount="{{line.dest_amount}}" value="{{line.rank}}" {% if line.rank == entry.selected_option %}checked="1"{% endif %}></input>
                    </td>
                    <td class="line-descr">{{line|describe_no_links}}</td>
                    <td class="line-amount text-right">{{line.dest_price|humanize_money}}</td>
                  </tr>
                {% endfor %}
              {% endfor %}

              {% if is_bulk_buyer %}
                <tr class="seat">
                  <td colspan="3">
                    <div class="row">
                      <div class="col-sm-4">
                        <input class="form-control seat-fullname" type="text" placeholder="{% trans %}Full name (i.e. first and last names){% endtrans %}" />
                      </div>
                      <div class="col-sm-4">
                        <input class="form-control seat-email" type="text" placeholder="{% trans %}E-mail address{% endtrans %}" />
                      </div>
                      <div class="col-sm-4">
                        <button class="btn btn-primary add-seat" type="button" type="button">{% trans %}Add{% endtrans %}</button>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endif %}

            </tbody>
          {% endif %}
        </table>
      </div>
    </div>
  </div>


  <div class="container bg-light py-3 my-3">
    <div class="row">
      <div class="col-md-6">
        {% trans %}Charged Today{% endtrans %}
      </div>
      <div class="col-md-6 total-amount text-right">
        {{lines_price|humanize_money}}
      </div>
    </div>
  </div>
</fieldset>
