<fieldset id="invoicables">
  <table class="table table-striped" style="margin-bottom:0;">
    {% if invoicables %}
      <tbody data-plan="{{invoicables.0.subscription.plan}}">
      <tr>
        <td colspan="3">
          <em>{% trans plan=invoicables.0.subscription.plan.title, organization=invoicables.0.subscription.plan.organization.printable_name %}{{plan}} from {{organization}}{% endtrans %}</em>
        </td>
      </tr>

      {% for entry in invoicables %}
        {% if entry.is_changed %}
          {% if is_bulk_buyer %}
            <tr class="seat">
              <td colspan="3">
                <div class="col-sm-4">
                  <input class="form-control seat-fullname" type="text" placeholder="{% trans %}Full name (i.e. first and last names){% endtrans %}" />
                </div>
                <div class="col-sm-4">
                  <input class="form-control seat-email" type="text" placeholder="{% trans %}E-mail address{% endtrans %}" />
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-primary add-seat" type="button">{% trans %}Add{% endtrans %}</button>
                </div>
              </td>
            </tr>
          {% endif %}
          </tbody>
          <tbody data-plan="{{entry.subscription.plan}}">
            <tr>
              <td colspan="3">
                <em>{% trans plan=entry.subscription.plan.title, organization=entry.subscription.plan.organization.printable_name %} {{plan}} from {{organization}}{% endtrans %}</em>
              </td>
            </tr>
        {% endif %}

        {% for line in entry.lines %}
          <tr class="invoice-item">
            <td></td>
            <td>{{line.dest_price|humanize_money}}</td>
            <td>{{line.descr}}
            </td>
          </tr>
        {% endfor %}
        {% for line in entry.options %}
          <tr>
            <td><input type="radio" name="{{entry.name}}" data-amount="{{line.dest_amount}}" value="{{line.rank}}" {% if line.rank == entry.selected_option %}checked="1"{% endif %}></input></td>
            <td>{{line.dest_price|humanize_money}}</td>
            <td>{{line.descr}}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}

      {% if is_bulk_buyer %}
        <tr class="seat">
          <td colspan="3">
            <div class="col-sm-4">
              <input class="form-control seat-fullname" type="text" placeholder="{% trans %}Full name (i.e. first and last names){% endtrans %}" />
            </div>
            <div class="col-sm-4">
              <input class="form-control seat-email" type="text" placeholder="{% trans %}E-mail address{% endtrans %}" />
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary add-seat" type="button">{% trans %}Add{% endtrans %}</button>
            </div>
          </td>
        </tr>
      {% endif %}
      </tbody>
    {% endif %}
    <tfooter>
      <tr>
        <th></th>
        <th class="total-amount">{{lines_price|humanize_money}}</th>
        <th>{% trans %}Charged Today{% endtrans %}</th>
      </tr>
    </tfooter>
  </table>
</fieldset>
