<div :id="item.organization.slug" :class="(item.accept_grant_api_url || item.request_key) ? 'card card-organization card-inactive' : 'card card-organization'">
  <img :src="item.organization.picture ? item.organization.picture : (item.organization.type == 'personal' ? '{{'/static/img/default-user.png'|djasset}}' : '{{'/static/img/default-organization.png'|djasset}}')" class="card-img-top" :alt="item.organization.printable_name">
  <div class="card-body">
    <h5 class="card-title">
      [[item.organization.printable_name]]
    </h5>
    <p class="card-text">
      <span class="badge badge-primary">[[ item.role_description ? item.role_description.title : "" ]]</span>
    </p>
  </div>

  <div class="list-group list-group-flush" v-if="!(item.accept_grant_api_url || item.request_key)">
    <a :href="item.home_url" class="list-group-item list-group-item-action">{% trans %}Home{% endtrans %}</a>
    <a :href="item.settings_url" class="list-group-item list-group-item-action">{% trans %}Settings{% endtrans %}</a>
  </div>
  <div class="list-group list-group-flush" v-if="item.accept_grant_api_url">
    <li class="list-group-item list-group-item-action">
      <button class="btn btn-primary btn-md btn-block" @click="acceptGrant(item)">{% trans %}Accept Role{% endtrans %}</button>
    </li>
  </div>
  <div class="list-group list-group-flush" v-if="item.request_key">
    <li class="list-group-item list-group-item-action"><em>{% trans %}pending request{% endtrans %}</em></li>
  </div>

  <div class="card-body d-flex align-items-center flex-wrap">
    <button class="btn btn-danger btn-md btn-block remove"
            data-trip data-trip-index="3"
            data-trip-content="<p>Click here to cancel access request.</p>"
            data-trip-position="s"
            @click="removeConfirm(index)">{% trans %}Remove{% endtrans %}</button>
  </div>
</div>
