<div class="card organization-card">
  <img :src="item.picture ? item.picture : '{{'/static/img/default-organization.png'|djasset}}'" class="card-img-top" :alt="item.printable_name">
  <div class="card-body">
    <h5 class="card-title">
        <a :href="'{{urls.profile_base}}' + item.slug + '/'">[[item.printable_name]]</a>
    </h5>
    <p class="card-text">
        <span class="badge badge-primary">[[item.grant_key ? "pending" : item.role_description.title]]</span></p>
  </div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action">Home</a>
    <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
  </div>
  <div class="card-body organization-buttons">
    <button class="btn btn-secondary btn-sm btn-block" v-if="index == 1 || item.grant_key"
         @click="">Accept Grant</button>
    <button class="btn btn-danger btn-sm btn-block"
            data-trip data-trip-index="3"
            data-trip-content="<p>Click here to cancel access request.</p>"
            data-trip-position="s"
            @click="remove(index)">Remove</button>
  </div>
</div>
