{% if urls.provider %}
<hr />
<ul class="nav flex-column" data-intro="Pricing, billing and metrics" data-position="right">
    <li {% if urls.provider.dashboard == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="saas_dashboard" href="{{urls.provider.dashboard}}"><i class="fa fa-wrench"></i><span class="">Dashboard</span></a>
    </li>
    <li {% if urls.provider.coupons == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="saas_coupon_list" href="{{urls.provider.coupons}}"><i class="fa fa-ticket"></i><span class="">Coupons</span></a>
    </li>
    <li {% if urls.provider.transfers == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="saas_transfer_info" href="{{urls.provider.transfers}}"><i class="fa fa-usd"></i><span class="">Funds</span></a>
    </li>
    <li {% if urls.provider.metrics_sales == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="saas_metrics_summary" href="{{urls.provider.metrics_sales}}"><i class="fa fa-bar-chart-o"></i><span class="">Revenue</span></a>
    </li>
    <li {% if urls.provider.metrics_plans == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="saas_metrics_plans" href="{{urls.provider.metrics_plans}}"><i class="fa fa-bar-chart-o"></i><span class="">Plans</span></a>
    </li>
    <li {% if urls.provider.subscribers == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="saas_subscriber_list" href="{{urls.provider.subscribers}}"><i class="fa fa-users"></i><span class="">Subscribers</span></a>
    </li>
</ul>
<hr />
<ul class="nav flex-column" data-intro="Roles and permissions" data-position="right">
    {% if urls.notifications %}
    <li {% if urls.notifications == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="notifications_lnk" href="{{urls.notifications}}"><i class="fa fa-long-arrow-right"></i><span class="">Notifications</span></a>
    </li>
    {% endif %}
    {% if urls.pages.theme_base %}
    <li {% if urls.pages.theme_base == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="pages_theme" href="{{urls.pages.theme_base}}"><i class="fa fa-wrench"></i><span class="">Theme</span></a>
    </li>
    {% endif %}
    {% if urls.rules and urls.rules.app %}
    <li {% if urls.rules.app == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" id="rules_update" href="{{urls.rules.app}}"><i class="fa fa-wrench"></i><span class="">Rules</span></a>
    </li>
    {% endif %}
</ul>
{% endif %}
