<div class="card">
  <div class="card-header">
{% trans %}Request access to an existing profile or create a new profile{% endtrans %}
  </div>
  <div class="card-body">
    <form id="add-profile" @submit.prevent="submit">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
      <account-typeahead inline-template ref="typeahead"
                         v-bind:dataset="items.results"
                         v-on:selectitem="updateItemSelected"
                         v-show="!inNewProfileFlow">
        <div>
          <div class="input-group mb-3">
          <!-- optional indicators -->
            <span class="input-group-text">
              <i class="fa fa-spinner fa-spin" v-if="loading"></i>
              <template v-else>
                <i class="fa fa-search" v-show="isEmpty"></i>
                <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
              </template>
            </span>
            <!-- the input field -->
            <input class="form-control"
                   type="text"
                   name="profile"
                   placeholder="{% trans %}Start typing a profile name ...{% endtrans %}"
                   autocomplete="off"
                   autofocus
                   ref="input"
                   v-model="query"
                   @input="update" />
          </div>
          <div v-show="!hasItems && query">
            <p>
{% trans %}We couldn't find a profile matching your search criteria, or there are too many profiles matching your search criteria. Please keep typing to narrow the search, or create a new profile.{% endtrans %}
            </p>
          </div>
          <!-- the list -->
          {# Implementation note: If we use `d-block` instead of    #}
          {# `style="display: block;"` the dropdown shows even when #}
          {# `hasItems` is `False`.                                 #}
          <div style="display: block;"
               v-for="(item, $item) in items"
               v-show="hasItems">
            {% include "saas/_request_profile_card.html" %}
          </div>{# /v-show="hasItems" #}
          <div v-show="!isExactMatch('printable_name')">
            {% include "saas/_create_profile_card.html" %}
          </div>
        </div>
      </account-typeahead>
      <!-- Workflow to create a new profile  -->
      <div class="card" v-show="inNewProfileFlow">
        <div class="card-body text-start"
             aria-labelledby="{% trans %}Create profile{% endtrans %}" aria-hidden="true">
          <p>
{% trans %}You are about to create a new profile with the following information. Is it correct?{% endtrans %}
          </p>
          <div class="form-group mb-3">
            <label class="form-label">{% trans %}Profile name{% endtrans %}</label>
            <input class="form-control w-100"
                   name="full_name" type="text"
                   max-length="150"
                   placeholder="ex: My Profile"
                   v-model="newProfile.full_name" />
          </div>
          <div class="mb-3">
            <label class="form-label">{% trans %}Primary contact email{% endtrans %}</label>
            <input class="email form-control w-100"
                   name="email" type="text"
                   max-length="150"
                   placeholder="ex: myprofile@example.com"
                   v-model="newProfile.email" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="d-grid gap-2">
              <button class="btn btn-outline-primary btn-md"
                      @click.prevent="reset">{% trans %}Cancel{% endtrans %}</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-grid gap-2">
              <button id="create-profile-submit"
                      class="btn btn-primary btn-md"
                      type="submit">{% trans %}Create Profile{% endtrans %}</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Request to add a role to a user on a profile.  -->
      <div aria-labelledby="{% trans %}Request access{% endtrans %}"
           aria-hidden="true"
           class="add-role-modal"
           tabindex="-1"
           v-show="profileRequestDone" v-cloak>
        <p class="text-danger">
{% trans full_name='[[requestedProfilePrintableName]]', site=request|site_printable_name %}{{full_name}} was not found. This is an opportunity to invite this profile to join {{site}}.{% endtrans %}
        </p>
        <div class="form-group mb-3">
          <label>{% trans %}To{% endtrans %}</label>
          <input id="new-request-email" class="email form-control w-100"
                 name="email" type="text"
                 max-length="150" placeholder="invitee@example.com"
                 autofocus
                 v-model="unregistered.email" />
        </div>
        <div class="form-group">
          <div class="controls">
            <label>{% trans %}The following invite message will be sent:{% endtrans %}</label>
            <textarea class="form-control"
                      name="message"
                      maxlength="255" type="text" rows="10">{% trans user=request.user.first_name, site=request|site_printable_name %}Hello,

I would like to request access to your profile on {{site}}.

Thank you,
- {{user}}{% endtrans %}
            </textarea>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary btn-md mt-3"
                  type="submit">{% trans %}Request access{% endtrans %}</button>
        </div>
      </div><!-- /.add-add-role-modal -->
    </form>
  </div>
</div><!-- /.card -->
