<div :id="'request-' + (item.slug ? item.slug : item)" class="card mt-1">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-2">
        <img class="img-fluid" style="max-height:64px;" :src="item.picture || '{{'/assets/img/default-organization.png'|djasset}}'" >
      </div>
      <div class="col-5">
[[item.printable_name ? item.printable_name : '@' + item]]
      </div>
      <div class="col-5 text-end">
      {% block actions %}
      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-md"
            @click.prevent="onHit(item)">{% trans %}Request access{% endtrans %}</button>
      </div>
      {% endblock %}
      </div>
    </div>
  </div>
</div>{# /.card #}
