{# Profile menu items #}
<ul class="nav flex-column py-1" data-intro="Profile" data-position="right">

  {% if urls.user and urls.user.profile %}
    <li {% if request.path == urls.user.profile %} class="nav-item active"{% endif %}>
      <a id="profile" class="nav-link" href="{{urls.user.profile}}">

        {# User profiles #}
        <span class="icon icon-user {% if urls.user.profile == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Profile{% endtrans %}</span>

      </a>
    </li>
  {% elif urls.organization and urls.organization.profile %}
    <li {% if urls.organization.profile == request.path %} class="nav-item active"{% endif %}>
      <a id="profile" class="nav-link" href="{{urls.organization.profile}}">

        {# Organization Profiles (of type organization and personal) #}
        <span class="icon icon-user {% if urls.organization.profile == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Profile{% endtrans %}</span>

      </a>
    </li>
  {% endif %}

  {% if urls.organization and urls.organization.roles %}
    {% for role_title, role_url in urls.organization.roles|iteritems %}
      <li{% if role_url == request.path %} class="nav-item active"{% endif %}>
        <a class="nav-link" href="{{role_url}}">

          <!-- Managers & Contributors -->
          <span class="icon icon-connected {% if role_url == request.path %} icon-active{% endif %}"></span>
          <span class="pl-1" style="vertical-align: super">{{role_title|pluralize}}</span>

        </a>
      </li>
    {% endfor %}
  {% endif %}

  {% if urls.user and urls.user.accessibles %}
    <li  {% if urls.user.accessibles == request.path %} class="nav-item active"{% endif %}>
      <a id="users_accessibles" class="nav-link" href="{{urls.user.accessibles}}">

        <!-- Connected Profiles -->
        <span class="icon icon-connected {% if urls.user.accessibles == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %} Connected Profiles{% endtrans %}</span>

      </a>
    </li>
  {% endif %}

  {% if urls.user and urls.user.notifications %}
    <li {% if request.path == urls.user.notifications %} class="nav-item active"{% endif %}>
      <a id="users_notifications" class="nav-link" href="{{urls.user.notifications}}">

        <!-- Notifications -->
        <span class="icon icon-notifications {% if urls.user.notifications == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">&#09;{% trans %}Notifications{% endtrans %}</span>

      </a>
    </li>
  {% endif %}

  {# Subscriber menu items  #}

  {% if urls.organization and urls.organization.billing %}
    <li {% if urls.organization.billing == request.path %} class="nav-item active"{% endif %}>
      <a id="saas_billing_info" class="nav-link" href="{{urls.organization.billing}}">

        <!-- Billing -->
        <span class="icon icon-billing {% if urls.organization.billing == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Billing{% endtrans %}</span>

      </a>
    </li>
  {% endif %}

  {% if urls.organization and urls.organization.subscriptions %}
    <li {% if urls.organization.subscriptions == request.path %} class="nav-item active"{% endif %}>
      <a id="saas_subscription_list" class="nav-link" href="{{urls.organization.subscriptions}}">

        <!-- Subscriptions -->
        <span class="icon icon-subscriptions{% if urls.organization.subscriptions == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Subscriptions{% endtrans %}</span>

      </a>
    </li>
  {% endif %}
</ul>

{# Provider menu items #}

{% if urls.provider %}
  <hr class="my-1" />
  <ul class="nav flex-column"
      data-intro="{% trans %}Pricing, billing and metrics{% endtrans %}" data-position="right">
    {% if urls.provider and urls.provider.dashboard %}
    <li {% if urls.provider.dashboard == request.path %} class="nav-item active"{% endif %}>
      <a class="nav-link" id="saas_dashboard" href="{{urls.provider.dashboard}}">

        <!-- Dashboard -->
        <span class="icon icon-dashboard {% if urls.provider.dashboard == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Dashboard{% endtrans %}</span>

      </a>
    </li>
    {% endif %}
    {% if urls.provider and urls.provider.coupons %}
    <li {% if urls.provider.coupons == request.path %} class="nav-item active"{% endif %}>
      <a class="nav-link" id="saas_coupon_list" href="{{urls.provider.coupons}}">

        <!-- Coupons -->
        <span class="icon icon-coupons {% if urls.provider.coupons == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Coupons{% endtrans %}</span>

      </a>
    </li>
    {% endif %}
    {% if urls.provider and urls.provider.transfers %}
    <li {% if urls.provider.transfers == request.path %} class="nav-item active"{% endif %}>
      <a class="nav-link" id="saas_transfer_info" href="{{urls.provider.transfers}}">

        <!-- Funds -->
        <span class="icon icon-funds {% if urls.provider.transfers == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Funds{% endtrans %}</span></a>

    </li>
    {% endif %}
    {% if urls.provider and urls.provider.metrics_sales %}
    <li {% if urls.provider.metrics_sales == request.path %} class="nav-item active"{% endif %}>
      <a class="nav-link" id="saas_metrics_summary" href="{{urls.provider.metrics_sales}}">

        <!-- Revenue -->
        <span class="icon icon-revenue {% if urls.provider.metrics_sales == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Revenue{% endtrans %}</span></a>

    </li>
    {% endif %}
    {% if urls.provider and urls.provider.metrics_plans %}
    <li {% if urls.provider.metrics_plans == request.path %} class="nav-item active"{% endif %}>
      <a class="nav-link" id="saas_metrics_plans" href="{{urls.provider.metrics_plans}}">

        <!-- Plans -->
        <span class="icon icon-plans {% if urls.provider.metrics_plans == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: super">{% trans %}Plans{% endtrans %}</span></a>

    </li>
    {% endif %}
    {% if urls.provider and urls.provider.subscribers %}
    <li {% if urls.provider.subscribers == request.path %} class="nav-item active"{% endif %}>
      <a class="nav-link" id="saas_subscriber_list" href="{{urls.provider.subscribers}}">

        <!-- Subscribers -->
        <span class="icon icon-subscribers {% if urls.provider.subscribers == request.path %} icon-active{% endif %}"></span>
        <span class="pl-1" style="vertical-align: text-bottom">{% trans %}Subscribers{% endtrans %}</span>

      </a>
    </li>
    {% endif %}
  </ul>
{% endif %}

{# Broker menu items #}

{% if urls.pages or urls.rules %}
  <hr class="my-1" />
  <ul class="nav flex-column pb-2" data-intro="{% trans %}Roles and permissions{% endtrans %}" data-position="right">
    {% if urls.pages.theme_base %}
      <li {% if urls.pages.theme_base == request.path %} class="nav-item active"{% endif %}>
          <a id="pages_theme" class="nav-link" href="{{urls.pages.theme_base}}">

            <!-- Themes -->
            <span class="icon icon-themes {% if urls.pages.theme_base == request.path %} icon-active{% endif %}"></span>
            <span class="pl-1" style="vertical-align: super">{% trans %}Themes{% endtrans %}</span>

          </a>
      </li>
    {% endif %}

    {% if urls.rules and urls.rules.app %}
      <li {% if urls.rules.app == request.path %} class="nav-item active"{% endif %}>
          <a id="rules_update" class="nav-link" href="{{urls.rules.app}}">

            <!-- Rules -->
            <span class="icon icon-rules {% if urls.rules.app == request.path %} icon-active{% endif %}"></span>
            <span class="pl-1" style="vertical-align: super">{% trans %}Rules{% endtrans %}</span>

          </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
