<hr />
<ul class="nav" data-intro="Subscriber profile" data-position="right">
{% if urls.provider and urls.provider.profile %}
<li {% if urls.provider.profile == request.path %} class="active"{% endif %}>
  <a id="saas_provider_profile" href="{{urls.provider.profile}}"><i class="fa fa-user"></i> <span class="">Profile</span></a>
</li>
{% else %}
<li {% if urls.organization.profile == request.path %} class="active"{% endif %}>
  <a id="saas_organization_profile" href="{{urls.organization.profile}}"><i class="fa fa-user"></i><span>Profile</span></a>
</li>
{% endif %}
{% if urls.organization.roles %}
{% for role_title, role_url in urls.organization.roles.items() %}
<li{% if role_url == request.path %} class="active"{% endif %}>
  <a href="{{role_url}}"><i class="fa fa-users"></i><span class="">{{role_title|pluralize}}</span></a>
</li>
{% endfor %}
{% endif %}
{% if not urls.provider or not urls.provider.profile %}
{% if urls.organization.billing %}
<li {% if urls.organization.billing == request.path %} class="active"{% endif %}>
  <a id="saas_billing_info" href="{{urls.organization.billing}}"><i class="fa fa-credit-card"></i><span>Billing</span></a>
</li>
{% endif %}
{% if urls.organization.subscriptions %}
<li {% if urls.organization.subscriptions == request.path %} class="active"{% endif %}>
  <a id="saas_subscription_list" href="{{urls.organization.subscriptions}}"><i class="fa fa-exchange"></i><span>Subscriptions</span></a>
</li>
{% endif %}
{% endif %}
</ul>

