<section id="transactions">
    <h3>Transactions</h3>
    <form class="form my-3">
    <div class="form-row">
      <div class="col">
        <uiv-dropdown append-to-body>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="from-inp">From</span>
            </div>
            <input class="form-control" type="text" v-model="params.start_at" v-cloak>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle"><i class="fa fa-calendar"></i>
                </button>
            </div>
          </div>
          <template slot="dropdown">
            <li>
              <uiv-date-picker
                @input="get"
                format="{{DATETIME_FORMAT}}"
                v-model="params.start_at"
                icon-control-left="fa fa-caret-left"
                icon-control-right="fa fa-caret-right" />
            </li>
          </template>
        </uiv-dropdown>
      </div>
      <div class="col">
        <uiv-dropdown append-to-body>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="to-inp">To</span>
            </div>
            <input class="form-control date" type="text" v-model="params.ends_at" v-cloak>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle"><i class="fa fa-calendar"></i>
                </button>
            </div>
          </div>
          <template slot="dropdown">
            <li>
              <uiv-date-picker
                @input="get"
                format="{{DATETIME_FORMAT}}"
                v-model="params.ends_at"
                icon-control-left="fa fa-caret-left"
                icon-control-right="fa fa-caret-right" />
            </li>
          </template>
        </uiv-dropdown>
      </div>
      <div class="col">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text" id="filter-inp">Filter</span>
          </div>
          <input class="form-control" type="text" v-model="params.q" @input="filterList" />
          <div class="input-group-append">
            <a id="download" class="btn btn-secondary" role="button"
               :href="'{{download_url}}' + getQueryString(['page'])"><i class="fa fa-cloud-download"></i> CSV Download</a>
          </div>
        </div>
      </div>
    </div>
    </form>
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date
              <a href="#" class="btn-link btn-sort" @click.prevent="sortBy('created_at')">
                <i :class="sortIcon('created_at')"></i>
              </a>
          </th>
          <th>Amount
              <a href="#" class="btn-link btn-sort" @click.prevent="sortBy('amount')">
                <i :class="sortIcon('amount')"></i>
              </a>
          </th>
          <th>Description
              <a href="#" class="btn-link btn-sort" @click.prevent="sortBy('description')">
                <i :class="sortIcon('description')"></i>
              </a>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody v-if="!itemsLoaded">
        <tr>
          <td colspan="4">
            <h3  class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
          </td>
        </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.results.length == 0" v-cloak>
        <tr>
          <td colspan="4">
            <h4 class="text-center"><em>No transactions<span v-show="params.q"> [[params.q]]</span></em></h4>
          </td>
        </tr>
      </tbody>
      <tbody id="has-transactions" v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <tr v-for="entry in items.results">
          <td>[[entry.created_at | formatDate]]</td>
          <td :class="entry.is_debit ? 'text-danger' : ''">[[entry.amount]]</td>
          <td colspan="2" v-html="entry.description"></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="text-center" v-show="itemsLoaded && totalItems > itemsPerPage" v-cloak>
        <b-pagination align="center" size="md" :total-rows="totalItems" v-model="params.page" :per-page="itemsPerPage" @input="get">
    </div>
</section>
