<section id="transactions">
    <h3>Transactions</h3>
    <form class="form-inline">
      <div class="form-group">
        <uiv-dropdown append-to-body>
          <label class="control-label" for="start_at">
            From
          </label>
          <div class="input-group">
            <input class="form-control date" type="text"
                   uib-datepicker-popup="{{DATETIME_FORMAT}}"
                   ng-model="params.start_at"
                   is-open="opened.start_at"
                   ng-required="true"
                   close-text="Close" ng-cloak
                   v-model="params.start_at" v-cloak>
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle"
                    ng-click="open($event, 'start_at')"><i class="fa fa-calendar"></i>
                </button>
            </span>
          </div>
          <template slot="dropdown">
            <li>
              <uiv-date-picker
                @input="get"
                format="{{DATETIME_FORMAT}}"
                v-model="params.start_at"
                icon-control-left="fa fa-caret-left"
                icon-control-right="fa fa-caret-right" />
            </li>
          </template>
        </uiv-dropdown>
      </div>
      <div class="form-group">
        <uiv-dropdown append-to-body>
          <label class="control-label" for="ends_at">
            To
          </label>
          <div class="input-group">
            <input class="form-control date" type="text"
                   uib-datepicker-popup="{{DATETIME_FORMAT}}"
                   is-open="opened.ends_at"
                   ng-required="true"
                   close-text="Close"
                   ng-model="params.ends_at" ng-cloak
                   v-model="params.ends_at" v-cloak>
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle"
                    ng-click="open($event, 'ends_at')"><i class="fa fa-calendar"></i>
                </button>
            </div>
          </div>
          <template slot="dropdown">
            <li>
              <uiv-date-picker
                @input="get"
                format="{{DATETIME_FORMAT}}"
                v-model="params.ends_at"
                icon-control-left="fa fa-caret-left"
                icon-control-right="fa fa-caret-right" />
            </li>
          </template>
        </uiv-dropdown>
      </div>
      <div class="form-group">
        <label>Filter</label>
        <input class="form-control" type="text"
          ng-model="params.q" ng-change="filterList(params.q)"
          v-model="params.q" @input="filterList" />
      </div>
      <div class="form-group">
        <a id="download" class="btn btn-secondary" role="button"
           ng-prop-href="'{{download_url}}' + getQueryString(['page'])"
           v-bind:href="'{{download_url}}' + getQueryString(['page'])"><i class="fa fa-cloud-download"></i> CSV Download</a>
      </div>
    </form>
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date
              <button class="btn-link btn-sort"
                ng-click="sortBy('date')"
                @click="sortBy('created_at')">
                <i ng-class="'fa fa-sort' + (dir.date ? ('-' + dir.date) : '')"
                   :class="sortIcon('created_at')"></i>
              </button>
          </th>
          <th>Amount
              <button class="btn-link btn-sort"
                ng-click="sortBy('amount')"
                @click="sortBy('amount')">
                <i ng-class="'fa fa-sort' + (dir.amount ? ('-' + dir.amount) : '')"
                   :class="sortIcon('amount')"></i>
              </button>
          </th>
          <th>Description
              <button class="btn-link btn-sort"
                ng-click="sortBy('description')"
                @click="sortBy('description')">
                <i ng-class="'fa fa-sort' + (dir.description ? ('-' + dir.description) : '')"
                   :class="sortIcon('description')"></i>
              </button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-if="!items.$resolved"
             v-if="!itemsLoaded">
        <tr>
          <td colspan="4">
            <h3  class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="items.$resolved && items.results.length == 0" ng-cloak
             v-show="itemsLoaded && items.results.length == 0" v-cloak>
        <tr>
          <td colspan="4">
            <h4 class="text-center"><em>No transactions<span ng-show="params.q" v-show="params.q"> [[params.q]]</span></em></h4>
          </td>
        </tr>
      </tbody>
      <tbody id="has-transactions"
             ng-show="items.$resolved && items.results.length > 0" ng-cloak
             v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <tr ng-repeat="entry in items.results"
            v-for="entry in items.results">
          <td>[[entry.created_at | formatDate]]</td>
          <td ng-class="entry.is_debit ? 'text-danger' : ''"
              :class="entry.is_debit ? 'text-danger' : ''">[[entry.amount]]</td>
          <td colspan="2"
              ng-bind-html="entry.description | unsafe"
              v-html="entry.description"></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="text-center"
         ng-show="items.$resolved && items.results.length > itemsPerPage" ng-cloak
         v-show="itemsLoaded && totalItems > itemsPerPage" v-cloak>
        <ul uib-pagination class="pagination-sm"
            total-items="totalItems"
            items-per-page="itemsPerPage"
            boundary-links="true"
            max-size="maxSize"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            ng-model="currentPage"
            ng-change="pageChanged()"></ul>
        <b-pagination align="center" size="md" :total-rows="totalItems" v-model="params.page" :per-page="itemsPerPage" @change="get">
    </div>
</section>
