<div :id="item.user.slug" :class="(item.grant_key || item.request_key) ? 'card card-inactive' : 'card'">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
          <div>
            <a :href="'{{urls.profile_redirect}}' + item.user.slug + '/'"><img class="card-img-top rounded-circle" style="width:64px;height:64px;" v-bind:src="item.user.picture ? item.user.picture : '{{'/assets/img/default-user.png'|asset}}'" alt=""></a>
          </div>
      </div>
      <div class="col-9 align-self-center">
        <div class="row">
          <div class="col col-md-4">
            <h5 class="card-title"><a :href="'{{urls.profile_redirect}}' + item.user.slug + '/'">[[item.user.printable_name]]</a></h5>
            <small class="card-subtitle">[[item.user.email]]</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
