{% extends "saas/base.html" %}

{% block saas_localheader %}
{% assets "css_dashboard" %}
<link rel="stylesheet" media="screen" href="{{ASSET_URL}}" />
{% endassets %}
{% endblock %}

{% block navbar_extra_classes %}dashboard-nav-color-theme {% endblock %}
{% block dashboard_inner_container_classes %}dashboard-inner-container{% endblock %}
{# XXX next is for ichamp until we re-test everything #}
{% block dashboard_inner_classes %} class="dashboard-inner-container"{% endblock %}

{% block footer %}{% endblock %}

{% block dashboard_nav %}
{# This code is copy/pasted from base.html with the additional changes #}
{# to `block sidebar` such that we are able to deploy to production    #}
{# with minimal global changes.                                        #}
<div class="dashboard-nav initial">
    <div class="dashboard-nav-inner-container">
        <div class="dashboard-nav-main dashboard-nav-color-theme">
            <div>
                <header>
                    <nav class="navbar navbar-light">
                        <div class="navbar-header">
                            {% include "_navbarbrand.html" %}
                        </div>
                    </nav>
                </header>
                <div class="dashboard-nav-menu">
                    {% block sidebar %}
                    {% include "saas/_subscriber_sidebar.html" %}
                    {% if organization.is_provider %}
                    {% include "saas/_provider_sidebar.html" %}
                    {% endif %}
                    <hr />
                    <ul class="nav flex-column hidden-sm-up">
                        {% include "generic_navbar.html" %}
                    </ul>
                    {% endblock %}
                </div>
            </div>
            {% block dashboard_footer %}
            <div class="dashboard-nav-footer dashboard-nav-color-theme">
                <div>
Powered by &copy; 2019 DjaoDjin. All rights reserved.
                </div>
                <div class="footer-links">
                    <a href="/legal/" target="_blank">Legal</a>
                    &middot;
                    <a href="https://github.com/djaodjin/" target="_blank"><i class="fa fa-github fa-sm"></i></a>
                    <a href="https://twitter.com/djaodjin"  target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
                    <a href="https://plus.google.com/+Djaodjin" target="_blank" rel="publisher"><i class="fa fa-google-plus fa-sm"></i></a>
                </div>
            </div>
            {% endblock %}
        </div>
    </div><!-- /.dashboard-nav-inner-container -->
</div>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% block saas_title %}{% endblock %}<div style="display: inline-block;"><sup style="display: none;font-size:0.5em;cursor:pointer;"><i id="help-request" class="fa fa-question-circle"></i></sup></div></h1>
</div>
{% block saas_page_layout %}
<p class="lead">
    {% block saas_lead_help %}{% endblock %}
</p>
<div class="row">
    <div class="col-md-12">
        {% block saas_help %}{% endblock %}
        {% block saas_content %}{% endblock %}
    </div>
</div>
{% endblock %}
{% endblock %}

{% block saas_bodyscripts %}
{% if VUEJS %}
<script type="text/javascript">
var djaodjinSettings = {
    urls: {% if urls %}{{urls|to_json}}{% else %}{}{% endif %},
    itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %},
    tables: {% if tables %}{{tables|safe}}{% else %}{}{% endif %}, // XXX
    date_range: {
      start_at: "{% if start_at %}{{start_at|isoformat}}{% endif %}",
      ends_at: "{% if ends_at %}{{ends_at|isoformat}}{% endif %}"
    },
    user: {
      username: "{{request.user.username}}",
      slug: "{{request.user.username}}",
      first_name: "{{request.user.first_name}}",
      last_name: "{{request.user.last_name}}"
    },
    csrf: '{{csrf_token}}',
    {% if STRIPE_PUB_KEY %}
        stripePubKey: "{{ STRIPE_PUB_KEY }}",
    {% endif %}
};
</script>
{% assets "js_vue" %}
<script type="text/javascript" charset="utf-8" src="{{ASSET_URL}}"></script>
{% endassets %}
{% assets "js_djaodjin_vue" %}
<script type="text/javascript" charset="utf-8" src="{{ASSET_URL}}"></script>
{% endassets %}

{% else %}
{% assets "js_angular" %}
<script type="text/javascript" charset="utf-8" src="{{ASSET_URL}}"></script>
{% endassets %}
{% assets "js_djaodjin_angular" %}
<script type="text/javascript" charset="utf-8" src="{{ASSET_URL}}"></script>
{% endassets %}
<script type="text/javascript">
/* Implementation Note: Not including a list of dependent modules
   (2nd parameter to `module`) "re-opens" the module for additional
   configuration.
   - We add the CSRF token for as an HTTP header on API calls.
   - We make it easier to separate between django and angularjs templates
     by changing Angular defaults to [[ and ]] characters. */
var reopenSaasApp = angular.module('saasApp');
reopenSaasApp.config(['$interpolateProvider', '$httpProvider',
           function($interpolateProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
}]);
reopenSaasApp.constant('settings', {
  urls: {% if urls %}{{urls|to_json}}{% else %}{}{% endif %},
  itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %},
  tables: {% if tables %}{{tables|safe}}{% else %}{}{% endif %}, // XXX
  date_range: {
    start_at: "{% if start_at %}{{start_at|isoformat}}{% endif %}",
    ends_at: "{% if ends_at %}{{ends_at|isoformat}}{% endif %}"
  },
  {% if sort_by_field %}sortByField: "{{sort_by_field}}",{% endif %}
  {% if sort_direction %}sortDirection: "{{sort_direction}}",{% endif %}
  user: {
    username: "{{request.user.username}}",
    slug: "{{request.user.username}}",
    first_name: "{{request.user.first_name}}",
    last_name: "{{request.user.last_name}}"
  }
});
</script>
{% endif %}

{% block dashboard_bodyscripts %}{% endblock %}
{% endblock %}
