{% extends "saas/base.html" %}

{% block saas_localheader %}
{% assets "css_dashboard" %}
<link rel="stylesheet" media="screen" href="{{ASSET_URL}}" />
{% endassets %}
<link rel="stylesheet" href="{{'/static/css/custom.css'|asset}}"/>
{% endblock %}

{% block dashboard_nav %}
<div class="dashboard-nav dashboard-nav-color-theme">
        <!--<div class="dashboard-nav-toggle dashboard-nav-color-theme">
          <i class="fa initial"></i>
        </div>-->
    <div class="collapse-sidebar hidden">
        <a href="#">close</a>
    </div>
    <div class="sidebar-logo">
        <a href="/"><img src="{{'/static/img/logo-djaodjin-128.png'|djasset}}" /></a>
        <a class="navbar-brand" href="{{request|url_home}}" data-intro="Edit homepage" data-position="bottom">{{request|site_printable_name}}</a>
    </div>
    <div class="dashboard-nav-menu">
      {% block sidebar %}
      {% if organization.is_provider %}
        {% include "saas/_provider_sidebar.html" %}
      {% endif %}
        {% include "saas/_subscriber_sidebar.html" %}
      {% endblock %}
    </div>
    <!--<hr />-->
    <div class="sidebar-footer">
        {% block footer %}
            <div>
                Powered by &copy; 2018 DjaoDjin. All rights reserved.
            </div>
            <div class="sidebar-footer-links">
                <a href="/legal/" target="_blank">Legal</a>
                &middot;
                <a href="https://github.com/djaodjin/" target="_blank"><i class="fa fa-github fa-sm"></i></a>
                <a href="https://twitter.com/djaodjin"  target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
                <a href="https://plus.google.com/+Djaodjin" target="_blank" rel="publisher"><i class="fa fa-google-plus fa-sm"></i></a>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block saas_bodyscripts %}
{% assets "js_angular" %}
<script type="text/javascript" charset="utf-8" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "js_dashboard" %}
<script type="text/javascript" charset="utf-8" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript">
/* Implementation Note: Not including a list of dependent modules
   (2nd parameter to `module`) "re-opens" the module for additional
   configuration.
   - We add the CSRF token for as an HTTP header on API calls.
   - We make it easier to separate between django and angularjs templates
     by changing Angular defaults to [[ and ]] characters. */
var reopenSaasApp = angular.module('saasApp');
reopenSaasApp.config(['$interpolateProvider', '$httpProvider',
           function($interpolateProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
}]);
reopenSaasApp.constant('settings', {
urls: {
    api_balance_lines: "{{urls.api_balance_lines}}",
    api_broker_balances: "{{urls.api_broker_balances}}",
    api_transactions: "{{saas_api_transactions}}",
{% if urls.organization %}
{% if urls.organization.api_roles %}
    saas_api_user_roles_url: "{{ urls.organization.api_roles }}",
{% endif %}
{% if urls.organization.api_role_descriptions %}
    saas_api_role_descriptions_url: "{{ urls.organization.api_role_descriptions }}",
{% endif %}
{% if urls.organization.api_cancel_balance_due %}
    api_cancel_balance_due: "{{ urls.organization.api_cancel_balance_due }}",
{% endif %}
    /* subscriptions */
    api_organizations: "{{ urls.organization.api_profile_base }}",
    saas_api_subscriptions: "{{ urls.organization.api_subscriptions }}",
{% endif %}
{% if urls.provider %}
    saas_api_coupon_url: "{{ urls.provider.api_coupons }}",
    saas_metrics_coupons_url: "{{ urls.provider.coupons }}",
    saas_api_plans: "{{ urls.provider.api_plans }}",
    /* subscribers */
    saas_api_churned: "{{ urls.provider.api_subscribers_churned }}",
    saas_api_active_subscribers: "{{ urls.provider.api_subscribers_active }}",
    /* transactions */
    api_receivables: "{{urls.provider.api_receivables}}",
    saas_api_bank: "{{ urls.provider.api_bank }}",
    {% if urls.provider.api_metrics_coupon_uses %}
        api_metrics_coupon_uses: "{{urls.provider.api_metrics_coupon_uses}}",
    {% endif %}
{% endif %}
    /* users */
{% if urls.broker %}
    api_registered: "{{ urls.broker.api_users_registered }}",
    api_users: "{{ urls.broker.api_users }}",
{% endif %}
    /* accounts */
{% if urls.accounts_base and urls.provider and urls.provider.api_accounts %}
    accounts_base: "{{ urls.accounts_base }}",
    api_accounts: "{{ urls.provider.api_accounts }}",
{% endif %}
{% if urls.user %}
    api_accessibles: "{{urls.user.api_accessibles}}",
{% endif %}
{% if request|is_authenticated %}
    saas_api_organization: "{% if urls and urls.organization %}{{ urls.organization.api_base }}{% endif %}",
    user_profile_redirect: "{% if urls and urls.user %}{{urls.user.profile_redirect}}{% endif %}",
{% endif %}
},
itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %},
tables: {% if tables %}{{tables|safe}}{% else %}{}{% endif %}, // XXX
{% if sort_by_field %}sortByField: "{{sort_by_field}}",{% endif %}
{% if sort_direction %}sortDirection: "{{sort_direction}}",{% endif %}
date_range: {
    start_at: "{% if start_at %}{{start_at|isoformat}}{% endif %}",
    ends_at: "{% if ends_at %}{{ends_at|isoformat}}{% endif %}"
}});
</script>
{% block dashboard_bodyscripts %}{% endblock %}
{% endblock %}
