{% extends "base.html" %}

{% block localheader %}
{% block saas_localheader %}{% endblock %}
{% endblock %}

{% block content %}
<div id="app">
  <div class="container pt-4">
    <div class="bg-body text-body p-4">
      <div class="row">
        <div class="col-md-8">
          <div>
            {% if organization %}
            {# XXX disabled until we figure out how to show personal picture <img class="img-fluid" style="max-height:100px;vertical-align:top;" src="{% if organization.picture %}{{organization.picture}}{% else %}{{'/assets/img/default-organization.png'|asset}}{% endif %}"> #}
            {% endif %}
            <div class="d-inline-block ps-2">
              <h1 class="d-inline pb-0 my-0 text-body">{% block saas_title %}{% endblock %}
                <div class="d-inline">
                  <sup class="d-none" role="button">
                    <small>
                      <i id="help-request" class="fa fa-question-circle"></i>
                    </small>
                  </sup>
                </div>
              </h1>
              <h2 class="my-0">{% if organization %}{{organization.printable_name}}{% elif user %}{% if user.full_name %}{{user.full_name}}{% else %}{{user}}{% endif %}{% endif %}</h2>
            </div>
          </div>
        </div>{# /title header #}
        <div class="col-md-4">
          <nav class="navbar">
            <ul class="navbar-nav nav-pills ms-auto">
              {% block help_menus %}
              {% endblock %}
            </ul>
          </nav>
        </div>
      </div>

      {% block saas_page_layout %}
      <div>
        <div class="row">
          <div class="col-12">
            {% block saas_help %}{% endblock %}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {% block saas_content %}{% endblock %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>{# /.bg-body #}
  </div>{# /.container #}
</div>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript" src="{{'/assets/vendor/moment.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/vendor/moment-timezone-with-data.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/vendor/vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/vendor/lodash.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/vendor/vue-croppa.min.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/vendor/dropzone.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/vendor/d3.min.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/vendor/nv.d3.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/vendor/trip.js'|asset}}"></script>
<script type="text/javascript" src="{{'/assets/js/djaoapp-i18n.js'|asset}}"></script>
<script type="text/javascript">
Vue.prototype.$itemsPerPage =
    {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %};
//Vue.prototype.$sortDirection = ;
//Vue.prototype.$sortByField = ;
Vue.prototype.$dateRange = {
    start_at: "{% if start_at %}{{start_at|isoformat}}{% endif %}",
    ends_at: "{% if ends_at %}{{ends_at|isoformat}}{% endif %}"
};
Vue.prototype.$urls = {% if urls %}{{urls|to_json}}{% else %}{}{% endif %};
Vue.prototype.$labels = {
    notAvailableLabel: "{% trans %}N/A{% endtrans %}",
    cardNumberLabel: "{% trans %}Card Number{% endtrans %}",
    securityCodeLabel: "{% trans %}Security Code{% endtrans %}",
    expirationLabel: "{% trans %}Expiration{% endtrans %}",
    cardHolderLabel: "{% trans %}Card Holder{% endtrans %}",
    streetAddressLabel: "{% trans %}Street address{% endtrans %}",
    localityLabel: "{% trans %}City/Town{% endtrans %}",
    regionLabel: "{% trans %}State/Province/County{% endtrans %}",
    postalCodeLabel: "{% trans %}Zip/Postal code{% endtrans %}",
    countryLabel: "{% trans %}Country{% endtrans %}",
    fieldShoundNotBeEmptyError: "{% trans %}This field shouldn't be empty{% endtrans %}",
    fieldsCannotBeEmptyError: " {% trans %}field(s) cannot be empty.{% endtrans %}",
}
Vue.prototype.$globals = {
    'humanizeDate': humanizeDate,
    'humanizeNumber': humanizeNumber,
    'humanizePeriodHeading': humanizePeriodHeading,
    'humanizeTimeDelta': humanizeTimeDelta
};

humanizeTimeDelta.$labels = {
    timeAgoTemplate: "{% trans %}%(timedelta)s ago{% endtrans %}",
    timeLeftTemplate: "{% trans %}%(timedelta)s left{% endtrans %}",
};
</script>
{% block saas_bodyscripts %}{% endblock %}
{% if ASSETS_DEBUG %}
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-resources.js'|asset}}"></script>
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-upload.js'|asset}}"></script>
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-resources-vue.js'|asset}}"></script>
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-signup-vue.js'|asset}}"></script>
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-saas-vue.js'|asset}}"></script>
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-rules-vue.js'|asset}}"></script>
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-themes-vue.js'|asset}}"></script>
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-djaoapp-vue.js'|asset}}"></script>
<script type="text/javascript" charset="utf-8" src="{{'/assets/js/djaodjin-metrics.js'|asset}}"></script>
{% else %}
<script type="text/javascript" charset="utf-8" src="{{'/assets/cache/djaodjin-vue.js'|asset}}"></script>
{% endif %}

<script type="text/javascript">
Vue.use(Croppa);
{% if FEATURES_REVERT_TO_VUE2 %}
var app = new Vue({
  el: '#app',
  delimiters: ["[[","]]"],
});
{% else %}
var app = createApp({
  delimiters: ["[[","]]"],
}).mount('#app');
{% endif %}
</script>
<script type="text/javascript">
jQuery(document).ready(function($) {
   if ($('[data-trip]').length > 0){
        $("#help-request").parent().show();
        $("#help-request").click(function(){
            var trip = new Trip({
                enableAnimation: false,
                showCloseBox: true,
                showNavigation: true,
                delay:10000,
                tripTheme:'black',
            });
            trip.start();
        });
    }
});
</script>
{% endblock %}
