{% extends "saas/base.html" %}

{% block content_navbarbrand %}{% endblock %}
{% block footer %}{% endblock %}

{% block saas_localheader %}
{% assets "css_dashboard" %}
<link rel="stylesheet" media="screen" href="{{ASSET_URL}}" />
{% endassets %}
{% endblock %}

{% block dashboard_nav %}
<div class="dashboard-nav dashboard-nav-color-theme">
  <div class="dashboard-nav-inner-container">
    <div>
      <div class="dashboard-nav-main">
        <header>
          <nav>
            {% include "_navbarbrand.html" %}
          </nav>
        </header>
        <div class="dashboard-nav-menu">
          {% block sidebar %}
          {% include "saas/_subscriber_sidebar.html" %}
          {% if organization.is_provider %}
          {% include "saas/_provider_sidebar.html" %}
          {% endif %}
          {% endblock %}
        </div>
      </div>
      {% block dashboard_footer %}
      <div class="dashboard-nav-footer">
        <div>
          Powered by &copy; 2018 DjaoDjin. All rights reserved.
        </div>
        <div class="footer-links">
          <a href="/legal/" target="_blank">Legal</a>
          &middot;
          <a href="https://github.com/djaodjin/" target="_blank"><i class="fa fa-github fa-sm"></i></a>
          <a href="https://twitter.com/djaodjin"  target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
          <a href="https://plus.google.com/+Djaodjin" target="_blank" rel="publisher"><i class="fa fa-google-plus fa-sm"></i></a>
        </div>
      </div>
      {% endblock %}
    </div>
    <div class="dashboard-nav-toggle dashboard-nav-color-theme">
      <i class="fa initial"></i>
    </div>
  </div><!-- /.dashboard-nav-inner-container -->
</div>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% block saas_title %}{% endblock %}<div style="display: inline-block;"><sup style="display: none;font-size:0.5em;cursor:pointer;"><i id="help-request" class="fa fa-question-circle"></i></sup></div></h1>
</div>
{% block saas_page_layout %}
<p class="lead">
    {% block saas_lead_help %}{% endblock %}
</p>
<div class="row">
    <div class="col-md-12">
        {% block saas_help %}{% endblock %}
        {% block saas_content %}{% endblock %}
    </div>
</div>
{% endblock %}
{% endblock %}

{% block saas_bodyscripts %}
{% assets "js_angular" %}
<script type="text/javascript" charset="utf-8" src="{{ASSET_URL}}"></script>
{% endassets %}
{% assets "js_dashboard" %}
<script type="text/javascript" charset="utf-8" src="{{ASSET_URL}}"></script>
{% endassets %}

<script type="text/javascript">
/* Implementation Note: Not including a list of dependent modules
   (2nd parameter to `module`) "re-opens" the module for additional
   configuration.
   - We add the CSRF token for as an HTTP header on API calls.
   - We make it easier to separate between django and angularjs templates
     by changing Angular defaults to [[ and ]] characters. */
var reopenSaasApp = angular.module('saasApp');
reopenSaasApp.config(['$interpolateProvider', '$httpProvider',
           function($interpolateProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
}]);
reopenSaasApp.constant('settings', djaodjinSettings);
</script>
{% block dashboard_bodyscripts %}{% endblock %}
{% endblock %}
