{% extends "saas/base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
    <div class="page-header">
        <h1><i class="fa fa-users fa-lg"></i> Create profile ...</h1>
    </div>
    <p>
If you are creating an organization, plan to have multiple managers,
etc., please enter a shortID different from your username. Otherwise
we will merge the profile with your user account.
    </p>
    <section id="organization-form">
        {% include "_form.html" %}
    </section>
    </div>
</div>
{% endblock %}
