{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
{% trans %}Balances{% endtrans %}
{% endblock %}

{% block saas_content %}
<balance-list inline-template id="balance-list-container" class="pt-3">
<div>
  <div class="date-chooser pull-right">
      <a id="download" class="btn btn-outline-primary" role="button"
         :href="'{{urls.download_balances}}'+ getQueryString(['page'])"><i class="fa fa-cloud-download"></i> {% trans %}Download{% endtrans %}</a>
      <div class="d-inline-block">
          {% include "_params_ends_at_field.html" %}
      </div>
  </div>
  <table class="table table-condensed table-striped">
      <thead>
          <tr>
              <th>{% trans %}Rank{% endtrans %}</th>
              <th>{% trans %}Delete{% endtrans %}</th>
              <th>{% trans %}Title{% endtrans %}</th>
              <td class="text-end"
                  v-for="col in values" v-cloak>
                  [[ $globals.humanizePeriodHeading(col[0], params.period, '{{organization.default_timezone}}') ]]
              </td>
          </tr>
      </thead>
      <tbody v-show="!itemsLoaded">
          <tr>
              <td colspan="16">
                  <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
              </td>
          </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.results.length == 0" v-cloak>
          <tr>
              <td colspan="16">
                  <h4 class="text-center"><em>{% trans %}No aggregated balances defined for this report. Add the first one with the form below.{% endtrans %}</em></h4>
              </td>
          </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.results.length > 0" v-cloak>
          <tr v-for="(row, index) in items.results">
              <td>
                  <div class="btn btn-outline-primary btn-sm">
                      <i class="fa fa-bars"></i></div>
              </td>
              <td>
                  <button class="btn btn-danger btn-sm"
                    @click="remove(row.slug)">
                      <i class="fa fa-trash-o"></i></button>
              </td>
              <td>[[row.title]]</td>
              <td class="text-end"
                  v-for="(col, colIdx) in row.values">
                  <a :href="selectorURL(row.selector, row.values[colIdx - 1][0], col[0])"
                     v-if="colIdx > 0">
                    [[$globals.humanizeNumber(col[1])]]
                  </a>
                  <span v-if="colIdx == 0">
                    [[$globals.humanizeNumber(col[1])]]
                  </span>
              </td>
          </tr>
      </tbody>
  </table>
  <div class="row">
      <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm"
            placeholder="{% trans %}Title{% endtrans %}"
            v-model="balanceLine.title">
      </div>
      <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm"
            placeholder="{% trans %}Selector{% endtrans %}"
            v-model="balanceLine.selector">
      </div>
      <div class="col-sm-2">
          <button class="btn btn-primary btn-sm"
            @click="create"><i class="fa fa-plus"></i> {% trans %}Add Line{% endtrans %}</button>
      </div>
  </div>
</div>
</balance-list>
{% endblock %}
