{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
    {% trans organization=organization.printable_name %}{{title}} for {{organization}}{% endtrans %}
{% endblock %}

{% block saas_content %}
<metrics-charts inline-template id="metrics-container">
  <div data-trip data-trip data-trip-index="1"
       data-trip-content="<p>{% trans %}Track monthly revenue and monthly subscribers.{% endtrans %}</p><em>{% trans %}Use keyboard navigation or click 'Next' to move forward.{% endtrans %}</em>"
       data-trip-position="screen-center">
    <ul class="nav nav-tabs dashboard-tab table-chooser">
      <li v-for="(table, index) in tables" class="nav-item">
        <a data-toggle="tab" :href="'#' + table.key" :class="activeClass(index)" @click="tabClicked(index)" v-cloak>
            [[tabTitle(table)]]
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" :id="table.key" :class="['tab-pane', activeClass(index)]" v-for="(table, index) in tables" :key="table.key">
        <form class="form-inline date-chooser pull-right mb-3">
          {% include "_params_ends_at_field.html" %}
        </form>
        <div class="chart-content saas-metrics-chart">
          <h3 class="text-center">
            <i class="fa fa-refresh fa-spin fa-2x"></i>
          </h3>
        </div>
        <!-- Display as a table -->
        <div class="table-responsive">
          <table class="table" style="font-size:0.7em;">
            <tr class="position-relative">
              <td class="row-header"></td>
              <td v-for="col in currentTableDates" class="row-body" v-cloak>
                  [[monthHeading(col[0])]]
              </td>
            </tr>
            <tr :id="row.key" v-for="(row, index) in currentTableData.data" :key="row.key" class="position-relative">
              <td class="text-nowrap row-header" v-cloak>
                <div v-if="row.location">
                  <i class="fa fa-circle align-middle" :style="'color: ' + colorFn(index)"></i>
                  <a :href="row.location" v-cloak>[[row.title ? row.title : row.key]]</a>
                  <span class="badge" :class="{ 'badge-success': row.is_active, 'badge-secondary': !row.is_active }">[[row.is_active ? 'active' : 'inactive']]</span>
                </div>
                <div v-if="!row.location">
                  <i class="fa fa-circle align-middle" :style="'color: ' + colorFn(index)"></i>
                  <span class="align-middle">[[row.title ? row.title : row.key]]</span>
                </div>
              </td>
              <td v-for="col in row.values" :key="col[0].toISOString()" :title="humanizeNumber(col[1], currentTableData.unit, currentTableData.scale, false)" class="text-right row-body" v-cloak>
                  [[humanizeNumber(col[1], currentTableData.unit, currentTableData.scale)]]
              </td>
            </tr>
          </table>
          {% block metrics_extra_data %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</metrics-charts>
{% endblock %}

{% block dashboard_bodyscripts %}
<script type="text/javascript">
Vue.prototype.colorFn = nv.utils.defaultColor();
jQuery(document).ready(function($) {
    // Copy/Paste from vendor/js/bootstrap.js and inserted
    // a forced trigger of 'resize' for NVD3 to redraw the chart
    // using correct dimensions.
    $(document).on('shown.bs.tab', '[data-toggle="tab"], [data-toggle="pill"]',
    function (e) {
      window.dispatchEvent(new Event('resize'));
    });
});
</script>
{% endblock %}
