{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
    {% trans organization=organization.printable_name %}{{title}} for {{organization}}{% endtrans %}
{% endblock %}

{% block saas_content %}
<style>
    .chart-area{
    height: 400px !important;
    width: 100%;
    }
</style>
<section id="metrics-container">
    <div data-trip data-trip data-trip-index="1"
         data-trip-content="<p>{% trans %}Track monthly revenue and monthly subscribers.{% endtrans %}</p><em>{% trans %}Use keyboard navigation or click 'Next' to move forward.{% endtrans %}</em>"
         data-trip-position="screen-center"
         >
        <ul class="nav nav-tabs dashboard-tab table-chooser">
            <li v-for="(table, index) in tables" class="nav-item">
                <a data-toggle="tab" :href="'#' + table.key" :class="activeClass(index)" @click="tabClicked(index)" v-cloak>
                    [[tabTitle(table)]]
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" :id="table.key" :class="['tab-pane', activeClass(index)]" v-for="(table, index) in tables" :key="table.key">
                <form class="form-inline date-chooser pull-right mb-3">
                    <uiv-dropdown class="form-group" append-to-body menu-right>
                        <div class="input-group mr-2">
                            <div class="input-group-prepend">
                                    <span class="input-group-text" id="to-inp">{% trans %}To{% endtrans %}</span>
                            </div>
                            <input class="form-control"
                                  data-trip data-trip data-trip-index="2"
                                  data-trip-content="<p>{% trans %}Look back through time.{% endtrans %}</p>"
                                  data-trip-position="s"
                                  v-model="ends_at"></input>
                              <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle"><i class="fa fa-calendar"></i>
                                </button>
                              </div>
                        </div>
                        <select class="form-control"
                                        v-model="timezone"
                                        @change="prepareCurrentTabData">
                                    <option value="local">{% trans %}Local{% endtrans %}</option>
                                    <option value="utc">{% trans %}UTC{% endtrans %}</option>
                                </select>
                        <template slot="dropdown">
                            <li>
                                <uiv-date-picker
                                     format="{{DATETIME_FORMAT}}"
                                     v-model="ends_at"
                                     @input="prepareCurrentTabData"
                                     icon-control-left="fa fa-caret-left"
                                     icon-control-right="fa fa-caret-right" />
                            </li>
                        </template>
                    </uiv-dropdown>
                </form>
                <div class="chart-content">
                    <h3  class="text-center">
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                    </h3>
                </div>
                <!-- Display as a table -->
                <div class="table-responsive">
                    <table class="table" style="font-size:0.7em;">
                      <tr>
                        <td></td>
                        <td v-for="col in currentTableDates" v-cloak>
                            [[col[0] | monthHeading]]
                        </td>
                      </tr>
                      <tr :id="row.key" v-for="row in currentTableData.data" :key="row.key">
                        <td v-if="row.location" class="text-nowrap">
                            <span :class="{ 'text-success': row.is_active, 'text-danger': !row.is_active }">
                                <i class="fa fa-circle"></i>
                            </span>
                            <a :href="row.location" v-cloak>[[row.title ? row.title : row.key]]</a>
                        </td>
                        <td v-if="!row.location" class="text-nowrap" v-cloak>
                            [[row.title ? row.title : row.key]]
                        </td>
                        <td v-for="col in row.values" :key="col[0].toISOString()" :title="humanizeCell(col[1], currentTableData.unit, currentTableData.scale, false)" v-cloak>
                            [[humanizeCell(col[1], currentTableData.unit, currentTableData.scale)]]
                        </td>
                      </tr>
                      {% block metrics_extra_data %}
                      {% endblock %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block dashboard_bodyscripts %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // Copy/Paste from vendor/js/bootstrap.js and inserted
        // a forced trigger of 'resize' for NVD3 to redraw the chart
        // using correct dimensions.
        $(document).on('shown.bs.tab', '[data-toggle="tab"], [data-toggle="pill"]',
            function (e) {
            window.dispatchEvent(new Event('resize'));
        });
    });
    </script>
{% endblock %}
