{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
{{coupon.code}} Performance
{% endblock %}

{% block saas_lead_help %}
{% endblock %}

{% block saas_content %}
<div id="coupon-performance" ng-app="saasApp">
    <div ng-controller="cartItemListCtrl">
        <p ng-cloak ng-show="items.$resolved">
{{coupon.code}} was used [[totalItems]] time[[totalItems > 0 ? "s" : ""]].
        </p>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>User<button class="btn-link btn-sort" ng-click="sortBy('slug')" data-trip data-trip-index="5" data-trip-content="<p>Sort coupon use by ascending and descending order.</p>" data-trip-position="s"><i class="fa fa-sort[[dir.slug ? ('-' + dir.slug) : '']]"></i></button></th>
                    <th>Plan<button class="btn-link btn-sort" ng-click="sortBy('plan')" data-trip data-trip-index="5" data-trip-content="<p>Sort coupon use by ascending and descending order.</p>" data-trip-position="s"><i class="fa fa-sort[[dir.plan ? ('-' + dir.plan) : '']]"></i></button></th>
                    <th>Used at<button class="btn-link btn-sort" ng-click="sortBy('created_at')" data-trip data-trip-index="5" data-trip-content="<p>Sort coupon use by ascending and descending order.</p>" data-trip-position="s"><i class="fa fa-sort[[dir.created_at ? ('-' + dir.created_at) : '']]"></i></button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="items.$resolved">
                    <td colspan="3">
                        <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
                    </td>
                </tr>
                <tr ng-show="items.$resolved && items.results.length == 0">
                    <td colspan="3">
                        <h4 class="text-center"><em>No use of {{coupon.code}} coupon<span ng-show="filterExpr"> [[filterExpr]]</span></em></h4>
                    </td>
                </tr>
                <tr ng-repeat="item in items.results" ng-cloak
                    ng-show="items.$resolved && items.results.length > 0" >
                    <td><a id="[[item.user.slug]]" href="{{urls.user.profile_redirect}}[[item.user.slug]]/">[[item.user.full_name]]</a></td>
                    <td>[[item.plan]]</td>
                    <td>[[item.created_at | date: mediumDate]]</td>
                </tr>
        </table>
        <div class="text-center" ng-cloak ng-show="items.$resolved && totalItems > itemsPerPage">
            <ul uib-pagination class="pagination-sm" ng-model="currentPage"
                            total-items="totalItems"
                            items-per-page="itemsPerPage"
                            boundary-links="true"
                            max-size="maxSize"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"
                            last-text="&raquo;"
                            ng-change="pageChanged()"></ul>
        </div>
    </div>
</section>
{% endblock %}

