{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
{% trans %}Provider Dashboard{% endtrans %}
{% endblock %}
{% block saas_descr %}{% trans %}A section short description{% endtrans %}{% endblock %}

{% block saas_content %}
<section>
<div class="row">
    <div id="search-list-container" class="col-md-10">
        <div class="row">
            <div class="offset-sm-4 col-sm-4">
                <div class="form-group">
                    <input class="form-control"
                      type="text" placeholder="{% trans %}Search...{% endtrans %}"
                      v-model="params.q" @input="filterList" />
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <tbody id="search-results"
              v-show="itemsLoaded && items.results.length > 0" v-cloak>
                <tr v-for="entry in items.results">
                    <td>
                      <a :href="'{{urls.profile_redirect}}' + entry.slug + '/'">[[entry.slug]]</a>
                    </td>
                    <td>[[entry.full_name]]</td>
                    <td>[[entry.email]]</td>
                    <td>[[entry.created_at | relativeDate]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="dashboard-home-title">
            <h4>{% trans %}To do items{% endtrans %}</h4>
        </div>
        <p class="no-results">
{% trans %}No items to take care of Today.{% endtrans %}
        </p>
    </div>
    <div id="today-sales-container" class="col-md-4">
        <div class="dashboard-home-title">
            <h4>{% trans %}Today Sales{% endtrans %}<span v-show="itemsLoaded" v-cloak>: [[humanizeTotal()]]</span></h4>
        </div>
        <table class="table table-striped">
            <tbody v-show="!itemsLoaded">
                <tr class="empty-table">
                    <td colspan="2">
                        <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                    </td>
                </tr>
            </tbody>
            <tbody v-show="itemsLoaded && items.results.length === 0" v-cloak>
                <tr class="empty-table">
                    <td colspan="2">
                        <p class="no-results">{% trans %}No sales data yet{% endtrans %}</p>
                    </td>
                </tr>
            </tbody>
            <tbody id="has-items" v-show="itemsLoaded && items.results.length > 0" v-cloak>
                <tr v-for="entry in items.results">
                    <td :class="entry.is_debit ? 'text-danger' : ''">
                        <a :href="'{{urls.organization.billing_base}}' + entry.dest_organization + '/'">[[entry.amount]]</a>
                    </td>
                    <td>[[entry.created_at | relativeDate]]</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" v-show="itemsLoaded && totalItems > itemsPerPage" v-cloak>
            <b-pagination align="center" size="sm" :total-rows="totalItems" v-model="params.page" :per-page="itemsPerPage" @input="get">
        </div>
    </div>
    <div id="user-list-container" class="col-md-4">
        <div class="dashboard-home-title">
            <h4>{% trans %}Recently registered{% endtrans %}</h4>
        </div>
        <table class="table table-striped">
            <tbody id="loading-registered" v-show="!itemsLoaded">
                <tr class="empty-table">
                    <td colspan="2">
                        <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                    </td>
                </tr>
            </tbody>
            <tbody id="has-registered" v-show="itemsLoaded && items.results.length > 0" v-cloak>
                <tr v-for="entry in items.results">
                    <td>
                        <a :href="'{{urls.accounts_base}}' + entry.slug + '/'">[[entry.slug]]</a>
                    </td>
                    <td>[[entry.created_at | relativeDate]]</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" v-show="itemsLoaded && totalItems > itemsPerPage" v-cloak>
            <b-pagination align="center" size="md" :total-rows="totalItems" v-model="params.page" :per-page="itemsPerPage" @input="get">
        </div>
    </div>
</div>
</section>
{% endblock %}
