{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
{% trans organization_name=organization.printable_name %}{{organization_name}} Dashboard{% endtrans %}
{% endblock %}
{% block saas_descr %}{% trans %}A section short description{% endtrans %}{% endblock %}

{% block saas_content %}
<section>
<div class="row">
    <div class="col-lg-8 col-12">
        <div id="search-list-container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                                <input class="form-control"
                                  type="text" placeholder="{% trans %}Search...{% endtrans %}"
                                  v-model="params.q" @input="filterList" />
                        </div>
                    </div>
                    <table class="table table-striped mt-4">
                        <tbody id="search-results" v-show="itemsLoaded && items.results.length > 0" v-cloak>
                            <tr v-for="entry in items.results">
                                <td>
                                  <a :href="'{{urls.profile_redirect}}' + entry.slug + '/'">[[entry.slug]]</a>
                                </td>
                                <td>[[entry.full_name]]</td>
                                <td>[[entry.email]]</td>
                                <td>[[entry.created_at | relativeDate]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="recent-activity-container" class="mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Recently active users</h5>
                </div>
                <div class="card-body" v-show="!itemsLoaded">
                  <p>
                    <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                  </p>
                </div>
                <div class="card-body" v-if="itemsLoaded && items.results.length === 0" v-cloak>
                    <p class="card-text text-muted">
                        {% trans %}No recently active users{% endtrans %}
                    </p>
                </div>
                <div class="list-group list-group-flush" v-show="itemsLoaded && items.results.length > 0" v-cloak>
                    <a class="list-group-item  d-flex justify-content-between align-items-center" v-for="item in items.results"
                        :href="'{{urls.profile_redirect}}' + item.slug + '/'">
                        <span>
                            <span class="d-inline-block item-name">[[item.printable_name]]</span>
                            <span class="badge" :class="{
                                'badge-success': item.descr === 'charge paid',
                                'badge-danger': item.descr === 'charge failed',
                                'badge-secondary': item.descr === 'recently logged in'
                            }">[[item.descr]]</span>
                            </span>
                        <small class="text-muted ml-2">[[item.created_at | relativeDate]]</small>
                    </a>
                </div>
             </div>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <div id="monthly-revenue-container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">MRR</h5>
                    <h2 class="text-center" v-show="!itemLoaded"><i class="fa fa-refresh fa-spin"></i></h2>
                    <h2 class="text-center" v-show="itemLoaded" v-cloak>[[amount / 100 | currency('$', 0)]]</h2>
                </div>
            </div>
        </div>
        <div id="engagement-users-container">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title text-center">Daily active users</h5>
                    <h2 class="text-center" v-show="!itemLoaded"><i class="fa fa-refresh fa-spin"></i></h2>
                    <h2 class="text-center" v-show="itemLoaded" v-cloak>[[item.activeUsers]]</h2>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title text-center">Engagement</h5>
                </div>
                <div class="card-body" v-show="!itemLoaded">
                    <h2 class="text-center"><i class="fa fa-refresh fa-spin"></i></h2>
                </div>
                <div class="card-body" v-if="itemLoaded && item.engagements.length === 0" v-cloak>
                    <p class="card-text text-center text-muted">
                        No engagement data
                    </p>
                </div>
                <div class="card-body" v-show="itemLoaded && item.engagements.length > 0" v-cloak>
                    <svg ref="engagementChart"></svg>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
