{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
Provider Dashboard
{% endblock %}
{% block saas_descr %}A section short description{% endblock %}

{% block saas_content %}
<section ng-app="saasApp">
<div class="row">
    <div id="search-list-container" class="col-md-10 center" ng-controller="searchListCtrl">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    <input class="form-control"
                      type="text" placeholder="Search..."
                      ng-model="params.q" ng-change="filterList(params.q)"
                      v-model="params.q" @input="filterList" />
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <tbody id="search-results"
              ng-show="items.$resolved && items.results.length > 0" ng-cloak
              v-show="(itemsLoaded || usersLoaded) && combined.results.length > 0" v-cloak>
                <tr ng-repeat="entry in items.results"
                    v-for="entry in combined.results">
                    <td>
                      <a ng-prop-href="'{{urls.accounts_base}}' + entry.slug + '/'"
                        v-bind:href="'{{urls.accounts_base}}' + entry.slug + '/'">[[entry.slug]]</a>
                    </td>
                    <td>[[entry.full_name]]</td>
                    <td>[[entry.email]]</td>
                    <td>[[entry.created_at | relativeDate]]</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center"
          ng-show="items.$resolved && totalItems > itemsPerPage" ng-cloak>
            <ul uib-pagination class="pagination-sm"
                total-items="totalItems"
                items-per-page="itemsPerPage"
                boundary-links="true"
                max-size="maxSize"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-model="currentPage"
                ng-change="pageChanged()"></ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="dashboard-home-title">
            <h4>To do items</h4>
        </div>
        <p class="no-results">
No items to take care of Today.
        </p>
    </div>
    <div id="today-sales-container" class="col-md-4"
      ng-controller="receivableListCtrl">
        <div class="dashboard-home-title">
            <h4>Today Sales<span
                              ng-show="items.$resolved" ng-cloak
                              v-show="itemsLoaded" v-cloak>: [[humanizeTotal()]]</span></h4>
        </div>
        <table class="table table-striped">
            <tbody ng-show="!items.$resolved"
                   v-show="!itemsLoaded">
                <tr class="empty-table">
                    <td colspan="2">
                        <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="items.$resolved && items.results.length === 0" ng-cloak
                 v-show="itemsLoaded && items.results.length === 0" v-cloak>
                <tr class="empty-table">
                    <td colspan="2">
                        <p class="no-results">No sales data yet</p>
                    </td>
                </tr>
            </tbody>
            <tbody id="has-items"
                   ng-show="items.$resolved && items.results.length > 0" ng-cloak
                   v-show="itemsLoaded && items.results.length > 0" v-cloak>
                <tr ng-repeat="entry in items.results"
                    v-for="entry in items.results">
                    <td ng-class="entry.is_debit ? 'text-danger' : ''"
                         :class="entry.is_debit ? 'text-danger' : ''">
                        <a ng-prop-href="'{{urls.organization.billing_base}}' + entry.dest_organization + '/'"
                           v-bind:href="'{{urls.organization.billing_base}}' + entry.dest_organization + '/'">[[entry.amount]]</a>
                    </td>
                    <td>[[entry.created_at | relativeDate]]</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center"
             ng-show="items.$resolved && totalItems > itemsPerPage" ng-cloak
             v-show="itemsLoaded && totalItems > itemsPerPage" v-cloak>
            <ul uib-pagination class="pagination-sm"
                total-items="totalItems"
                items-per-page="itemsPerPage"
                boundary-links="true"
                max-size="maxSize"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-model="currentPage"
                ng-change="pageChanged()"></ul>
            <uiv-pagination v-model="params.page" :total-page="pageCount" @change="get" size="sm" boundary-links/>
        </div>
    </div>
    <div id="user-list-container" class="col-md-4"
         ng-controller="userListCtrl">
        <div class="dashboard-home-title">
            <h4>Recently registered</h4>
        </div>
        <table class="table table-striped">
            <tbody id="loading-registered"
                   ng-show="!items.$resolved"
                   v-show="!itemsLoaded">
                <tr class="empty-table">
                    <td colspan="2">
                        <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                    </td>
                </tr>
            </tbody>
            <tbody id="has-registered"
                   ng-show="items.$resolved && items.results.length > 0" ng-cloak
                   v-show="itemsLoaded && items.results.length > 0" v-cloak>
                <tr ng-repeat="entry in items.results"
                    v-for="entry in items.results">
                    <td>
                        <a ng-prop-href="'{{urls.accounts_base}}' + entry.slug + '/'"
                           v-bind:href="'{{urls.accounts_base}}' + entry.slug + '/'">[[entry.slug]]</a>
                    </td>
                    <td>[[entry.created_at | relativeDate]]</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center"
             ng-show="items.$resolved && totalItems > itemsPerPage" ng-cloak
             v-show="itemsLoaded && totalItems > itemsPerPage" v-cloak>
            <ul uib-pagination class="pagination-sm"
                total-items="totalItems"
                items-per-page="itemsPerPage"
                boundary-links="true"
                max-size="maxSize"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-model="currentPage"
                ng-change="pageChanged()"></ul>
            <uiv-pagination v-model="params.page" :total-page="pageCount" @change="get" size="sm" boundary-links/>
        </div>
    </div>
</div>
</section>
{% endblock %}
