{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <div class="row py-5">
    <div class="offset-sm-2 col-sm-8 text-center px-4" style="margin-top: 50px;">
      <h3>{% trans %}Doesn't seem to have permissions.{% endtrans %}</h3>
      <p class="text-secondary">
        {% trans %}403 Permission Denied{% endtrans %}
      </p>
      <p>
{% trans %}Unfortunately, you do not have permissions to access this page.{% endtrans %}
      </p>
      <p>
{% trans %}If you think there is a mistake, please <a href="/contact/">contact us</a>.{% endtrans %} {% trans %}We do our best to reply within 24 hours. Thank you!{% endtrans %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
