{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center" style="margin-top: 50px;">
            <p>
                <i class="fa fa-hand-stop-o fa-4x"></i>
            </p>
            <p>
403 Permission denied - Sorry, it seems you do not have permissions to access
this page.
            </p>
            <p>
If you think there is a mistake, please contact a manager for your organization.
            </p>
            <p>
If you are a manager and think this is a mistake,
please <a href="/contact/">contact us</a>.
We do our best to reply within 24 hours. Thank you!
            </p>
        </div>
    </div>
</div>
{% endblock %}
