{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-sm-2 col-sm-8 text-center" style="margin-top: 50px;">
                <p>
                    <i class="fa fa-hand-stop-o fa-4x"></i>
                </p>
                <p>
                    {% trans %}403 Permission denied - Sorry, it seems you do not have permissions to access this page.{% endtrans %}
                </p>
                <p>
                    {% trans %}If you think it is a mistake, please contact an administrator.{% endtrans %}
                </p>
                <p>
                    {% trans %}If you are an administrator and think this is a mistake, please <a href="/contact/">contact us</a>.{% endtrans %}
                </p>
                <p>
                    {% trans %}We do our best to reply to each request individually within 24 hours. Thank you!{% endtrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
