{% extends "base_app.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center" style="margin-top: 50px;">
            <p>
                <i class="fa fa-meh-o fa-4x"></i>
            </p>
            <p>
404 Error - Sorry, this page could not be found.
            </p>
            <p>
If you think there is a mistake, please <a href="/contact/">contact us</a>.
            </p>
            <p>
We do our best to reply within 24 hours. Thank you!
            </p>
        </div>
    </div>
</div>
{% endblock %}
