{% extends "base.html" %}

{% block content %}
    <div class="container py-5">
        <div class="row py-5">
            <div class="offset-sm-2 col-sm-8 text-center px-4" style="margin-top: 50px;">
                <h3>
                    Oops, our bad.
                </h3>

                <p class="text-secondary">
                    {% trans %}
                        500 Internal Server Error
                    {% endtrans %}
                </p>
                
                <p>
                    {% trans %}
                        This was a server error on our part, and we apologize. <br class="d-none d-xl-block">
                        Refresh the page to try again, or please <a href="/contact/">drop us a line</a> to get in touch.
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
