<ul class="navbar-nav ms-auto mt-lg-0">
  <li class="menubar">
    {% if active_organization %}
      <a class="menubar-label menubar-label-dropdown-toggle"
         role="button" href="#"
         aria-haspopup="true" aria-expanded="false">
        <div>
          <img src="{% if picture %}{{picture}}{% else %}{{request|djasset}}/assets/img/default-user.png{% endif %}" class="avatar-top">
        </div>
        <div class="menubar-label-expanded">
          <span class="menubar-label-title" data-trnc data-trnc-len="8">{{username}}</span>
          <span class="menubar-label-subtitle" data-trnc data-trnc-len="8">{{active_organization.printable_name}}</span>
        </div>
      </a>
    {% else %}
      <a class="menubar-label menubar-label-dropdown-toggle"
         role="button" href="#"
         aria-haspopup="true" aria-expanded="false">
        <div>
          <img src="{% if picture %}{{picture}}{% else %}{{request|djasset}}/assets/img/default-user.png{% endif %}" class="avatar-top">
        </div>
        <div class="menubar-label-expanded">
          <span class="menubar-label-title" data-trnc data-trnc-len="8">{{username}}</span>
        </div>
      </a>
    {% endif %}

    <ul class="menubar-dropdown-menu" role="menu">
      {% if top_accessibles|length > 0 %}
        <li class="menubar-dropdown-label" role="presentation">
          <div>
            <img src="{% if picture %}{{picture}}{% else %}{{request|djasset}}/assets/img/default-user.png{% endif %}" class="avatar-top">
          </div>
          <div>
            {{username}}
          </div>
        </li>
      {% endif %}
      <li role="presentation">
        <a id="authenticated-user" class="menubar-dropdown-item" href="{% if urls %}{{urls.user_profile}}{% endif %}" role="menuitem" tabindex="-1">
            {% trans %}Profile{% endtrans %}
        </a>
      </li>
      <li role="presentation">
        <a class="menubar-dropdown-item" href="{{'/logout/'|site_url}}"
           role="menuitem" tabindex="-1">
          {% trans %}Sign out{% endtrans %}
        </a>
      </li>
      {% if top_accessibles|length > 0 %}
        {% for accessible in top_accessibles %}
          <li class="menubar-dropdown-divider" role="separator"></li>
          <li class="menubar-dropdown-label" role="presentation">
            <div>
              <img class="avatar-top" src="{% if accessible.picture %}{{accessible.picture}}{% else %}{{request|djasset}}{% if accessible.type == 'personal' %}/assets/img/default-user.png{% else %}/assets/img/default-organization.png{% endif %}{% endif %}">
            </div>
            <div>
              <div>{{accessible.printable_name}}</div>
              <span class="menubar-dropdown-label-role">{{accessible.role_title}}</span>
            </div>
          </li>
          <li role="presentation">
            <a class="menubar-dropdown-item" href="{{accessible.app_location}}" role="menuitem" tabindex="-1">
              {% trans %}Home{% endtrans %}
            </a>
          </li>
          <li role="presentation">
            <a class="menubar-dropdown-item" href="{{accessible.settings_location}}" role="menuitem" tabindex="-1">
              {% trans %}Settings{% endtrans %}
            </a>
          </li>
        {% endfor %}
        {% if urls and urls.user_accessibles %}
        <li class="menubar-dropdown-divider" role="separator"></li>
        <li role="presentation">
          <a class="menubar-dropdown-item" href="{{urls.user_accessibles}}" role="menuitem" tabindex="-1">
            {% trans %}More{% endtrans %} ...
          </a>
        </li>
        {% endif %}
      {% endif %}
    </ul>
  </li>
  <li class="menubar">
      <a class="menubar-label" title="{% trans %}Click Here to sign out{% endtrans %}" href="{{'/logout/'|site_url}}">
        <div>
        <span class="menubar-label-expanded">
          {% trans %}Sign out{% endtrans %}
        </span>
        <span class="menubar-sign-out"></span>
        </div>
      </a>
  </li>
</ul>
