<a class="navbar-brand" href="{{request|url_home}}" data-intro="Edit homepage" data-position="bottom">
    <img src="{{'/static/img/logo-djaodjin-128.png'|djasset}}" height="46" class="d-inline-block align-top"/>
    {{request|site_printable_name}}
</a>
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
