{{ render_bundle('js_auth') }}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $("[name='new_password']").passwordStrength({
        infoText: {
            blacklist: "{% trans %}Too common{% endtrans %}",
            level0: "{% trans %}Very weak{% endtrans %}",
            level1: "{% trans %}Weak{% endtrans %}",
            level2: "{% trans %}Good{% endtrans %}",
            level3: "{% trans %}Strong{% endtrans %}",
            level4: "{% trans %}Very strong{% endtrans %}",
            none: ""
        }
    });
    $("[name='new_password2']").passwordMatch({
        checkConfirmationText: {
            match: "{% trans %}Password confirmed.{% endtrans %}",
     unmatch: "{% trans %}Password and confirmation do not match.{% endtrans %}"
        },
        reference: $("[name='new_password']").first()
    });
});
</script>
