{% if ASSETS_DEBUG %}
<script type="text/javascript" src="{{'/assets/js/djaodjin-postal.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/assets/js/djaodjin-password-strength.js'|djasset}}"></script>
{% else %}
<script type="text/javascript" src="{{'/assets/cache/auth.js'|djasset}}"></script>
{% endif %}
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function($) {

    $("[name='new_password']").passwordStrength({
        infoText: {
            blacklist: "{% trans %}Too common{% endtrans %}",
            level0: "{% trans %}Very weak (Must be 10 or more characters. Try also mixing a lowercase letter, uppercase letter, a digit, and/or a symbol){% endtrans %}",
            level1: "{% trans %}Weak (Must be 10 or more characters){% endtrans %}",
            level2: "{% trans %}Good{% endtrans %}",
            level3: "{% trans %}Strong{% endtrans %}",
            level4: "{% trans %}Very strong{% endtrans %}",
            none: ""
        }
    }).passwordVisible();

    $("[name='new_password2']").passwordMatch({
        checkConfirmationText: {
            match: "{% trans %}Password confirmed.{% endtrans %}",
     unmatch: "{% trans %}Password and confirmation do not match.{% endtrans %}"
        },
        reference: $("[name='new_password']").first()
    }).passwordVisible();

    $("[name='password']").passwordVisible();
});
</script>
