{% extends "base.html" %}

{% block content %}
<section id="product">
  <div class="jumbotron mt-4">
    <div class="jumbotron-text">
      <div class="center" style="display:block;">
        <h1 id="app-title" class="editable text-center" data-intro="{% trans %}Editable title{% endtrans %}" data-position="bottom">{% trans name=provider.printable_name %}Welcome to {{name}}!{% endtrans %}</h1>
        <p id="app-jumbotron" class="text-center editable edit-markdown">

        </p>
      </div>
    </div>
    <div class="text-center">
      <p>
      {% trans %}Any questions?{% endtrans %}
      </p>
      {% if provider.email %}
      <span class="email"><a href="mailto:{{provider.email}}">{{provider.email}}</a></span>
      {% endif %}
      {% if provider.phone %}
      -
      <span class="tel">{{provider.phone}}</span>
      {% endif %}
    </div>
  </div>
  <div class="text-center" style="margin-bottom:25px;">
{% trans %}Quick links{% endtrans %}:
<a href="{{request|url_profile}}">{% trans %}My profile{% endtrans %}</a>
<a href="{{urls.organization.subscriptions}}" style="padding-left:5px;border-left:1px solid #000">{% trans %}My subscriptions{% endtrans %}</a>
<a href="{{urls.organization.billing}}" style="padding-left:5px;border-left:1px solid #000">{% trans %}My billing{% endtrans %}</a>
  </div>
  {% block help_content %}
  {% endblock %}
</section>
{% endblock %}
