{% extends "app.html" %}

{% block help_content %}
	<div class="container pb-5 mb-2">
		<div class="about-us rounded-top pt-4 px-5">
			<div class="row">
				<div class="col-md-12">
					<h4>
						{% trans %}What is this page?{% endtrans %}
					</h4>
					<p>
						{% trans %}By default, a newly subscribed user (or a user signing back in) will land on this page.{% endtrans %}
					</p>
					<p>
						{% trans %}This landing page is easily editable.{% endtrans %}
					</p>
				</div>
			</div>
		</div>

		{% if FEATURES_DEBUG %}
			<div class="about-us pt-2 px-5">
				<div class="row">
					<div class="col-md-12">
						<h4>
							{% trans %}Upload Paid Content{% endtrans %}
						</h4>
						<div class="dj-upload">
							<div class="documentation dropzone-previews previewsContainer">
								<span class="dz-default dz-message">
									{% trans %}Drag-n-drop or click to upload the paid content you wish to distribute here (PDF file).{% endtrans %}
								</span>
								<div class="fallback">
									<input name="file" type="file" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="about-us rounded-bottom pt-2 px-5">
			<div class="row">
				<div class="col-md-12">
					<h4>
						{% trans %}Go further, and run a full-fledge session proxy.{% endtrans %}
					</h4>
					<div class="row">
						<div class="col-md-12 pt-2">
							<div>
								<h6>{% trans %}Session Data{% endtrans %}</h6>
								<pre class="code py-3 px-4"><code>{{forward_session}}</code></pre>
							</div>
							<div class="pt-2">
								<h6>{% trans %}As an HTTP Cookie Header{% endtrans %}</h6>
								<pre class="code py-3 px-4"><code>{{forward_session_cookie}}</code></pre>
							</div>
						</div>

						<!-- Forwarding Requests Section -->
						<div class="col-md-12 pt-4 pb-4">
							<h4>{% trans %}Forwarding Requests{% endtrans %}</h4>
							<p>
								{% trans %}To forward HTTP requests to your application instead of showing the landing page:{% endtrans %}
								<ol>
									<li>
										{% trans rules_url=urls.rules.app %}Check <em>forward</em> for the /app/ rule in the <a href="{{rules_url}}">rules dashboard</a>.{% endtrans %}
									</li>
									<li>
										{% trans rules_url=urls.rules.app %}Create a session encryption secret key in the <a href="{{rules_url}}">rules dashboard</a>.{% endtrans %}
									</li>
									<li>
										{% trans %}<a href="https://djaodjin.com/docs/" target="_blank">Integrate session decryption code</a> at the front of your application request processing pipeline.{% endtrans %}
									</li>
								</ol>
							</p>
							<p>
								{% trans %}Please feel free to <a href="/contact/">contact us</a> for any questions.{% endtrans %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
