{% extends "base.html" %}

{% block content %}
  <div class="container py-4" style="margin-bottom: 50px;">
    <div class="pt-4 pb-1 col-md-8 offset-md-2">
      <div class="page-header">
        <h3 class="text-center">
          {% trans %}Hey, what's up?{% endtrans %}
        </h4>
      </div>
      <p class="text-center">
        {% trans %}
          We know a lot … but we don’t know everything. If you leave us a short  <br class="d-none d-xl-block">
          message about what’s going on with you, we will do our best to help out!
        {% endtrans %}
      </p>
      {% if form %}
        {% include "_contact_form.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
