{% extends "base.html" %}
{% block localheader %}
  <meta property="og:url" content="{{request|absolute_uri}}" />
  <meta name="twitter:url" content="{{request|absolute_uri}}" />
  <meta property="og:title" content="Home" />
  <meta name="twitter:title" content="Home" />
  <meta name="description" property="og:description" content="Sample marketing or informational website." />
  <meta name="twitter:description" content="Sample marketing or informational website." />
{% endblock %}

{% block content %}
<div>
  <section class="jumbotron text-center" id="leaderboard" style="background-image: url(/static/img/sf-golden-gate.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="container py-5">
      <div class="col-sm-12">
        <h1 class="editable" id="leaderboard-title">Where dreams are built</h1>
        <!-- next line must be line 18 for edit testing -->
        <h2 class="editable" id="leaderboard-subtitle"></h2>
        <div class="lead editable edit-markdown" data-intro="Paragraph editable in markdown" data-position="bottom" id="leaderboard-message">
          This is a template for a marketing or informational website. Use it as a starting point to create something unique!
        </div>
        <div>
          <a class="btn btn-md btn-primary px-5" href="{{request|url_register}}">{% trans %}Register{% endtrans %}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="site-landing py-5 my-5" id="site-description">
    <div class="container pt-2">
      <div class="row">
        <div class="col-md-4 mb-4">
          <h4 class="editable mb-2" id="site-description-heading-1">Heading 1</h4>
          <p class="editable edit-markdown" id="site-description-descr-1">
            First set of benefits of using the site. Describe what the site can do for a registered user, the pain it solves, etc.
          </p>
        </div>
        <div class="col-md-4 mb-4">
          <h4 class="editable mb-2" data-intro="Editable title" data-position="right" id="site-description-heading-2">Heading 2</h4>
          <p class="editable edit-markdown" id="site-description-descr-2">
            Second set of benefits of using the site. Describe what the site can do for a registered user, the pain it solves, etc.
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="editable mb-2" id="site-description-heading-3">Heading 3</h4>
          <p class="editable edit-markdown" id="site-description-descr-3">
            Third set of benefits of using the site. Describe what the site can do for a registered user, the pain it solves, etc.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="site-landing bg-light py-5" id="site-audience">
    <div class="container my-4 py-5">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-6 text-center">
          <h4 class="editable" id="site-audience-title">Who is this site for?</h4>
          <p class="editable edit-markdown" id="site-audience-descr">
            This section describes the intended audience for the site. It could be a list of professional occupations, an ideal customer profile, etc.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="site-landing py-5" id="site-feedback">
    <div class="container text-center py-5">
      <div style="display: inline-block;">
        <div class="row portrait-and-quote">
          <div class="text-center" style="flex-shrink:0;margin:0 20px;">
            <img alt="Portrait of statisfied customer" class="img-fluid rounded-circle editable droppable-image" id="site-feedback-portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="width:150px;height:150px;margin-left:auto;margin-right:auto;margin-top:15px;margin-bottom:15px;"/>
          </div>
          <div class="text-left">
            <blockquote>
              <i class="fa fa-quote-left fa-lg"></i>
              <span class="editable" id="site-feedback">
                Positive feedback about the site.
              </span>
              <i class="fa fa-quote-right fa-lg"></i>
              <footer class="editable" id="site-feedback-source">
                A statisfied customer
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-landing bg-light py-5" id="site-partner">
    <div class="container text-center py-4">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6 offset-md-3 col-lg-6 text-center">
          <h4 class="editable" id="site-partner-header">Our partners</h4>
          <p class="editable edit-markdown" id="site-partner-descr">
            This section describes "powered by", partners, awards, certifications, etc. It can be populated by a list of logos, more quotes, etc.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img alt="partner logo 1" class="img-fluid editable droppable-image" id="site-partner-logo-1" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="border-radius: 100px; width:150px;height:150px;margin-left:auto;margin-right:auto;margin-top:15px;margin-bottom:15px;"/>
        </div>
        <div class="col-md-3">
          <img alt="partner logo 2" class="img-fluid editable droppable-image" id="site-partner-logo-2" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="border-radius: 100px; width:150px;height:150px;margin-left:auto;margin-right:auto;margin-top:15px;margin-bottom:15px;"/>
        </div>
        <div class="col-md-3">
          <img alt="partner logo 3" class="img-fluid editable droppable-image" id="site-partner-logo-3" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="border-radius: 100px; width:150px;height:150px;margin-left:auto;margin-right:auto;margin-top:15px;margin-bottom:15px;"/>
        </div>
        <div class="col-md-3">
          <img alt="partner logo 4" class="img-fluid editable droppable-image" id="site-partner-logo-4" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="border-radius: 100px; width:150px;height:150px;margin-left:auto;margin-right:auto;margin-top:15px;margin-bottom:15px;"/>
        </div>
      </div>
    </div>
  </section>

  <section class="site-landing my-3 py-5" id="site-about">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-6 text-center">
          <h4 class="editable" id="site-about-title">About us</h4>
          <p class="editable edit-markdown" id="site-about-descr">
            This section describes the people behind the site. It can include ways to contact customer support, etc.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
