{% if bound_field.field.widget.recaptcha_challenge_name %}
<div>
<div class="form-group{% if bound_field.errors %} has-error{% endif %}" style="float: right;margin-right: 5px;">
        {{bound_field.as_widget}}
</div>
<div style="clear: both;"></div>
</div>
{% elif bound_field.field.widget.input_type == 'hidden' %}
<input name="{{bound_field.name}}" type="{{bound_field.field.widget.input_type}}" {% if bound_field.value %}value="{{bound_field.value}}"{% endif %} />
{% else %}
<div class="form-group{% if bound_field.errors %} has-error{% endif %}">
    {% if bound_field.field|is_checkbox %}
    <div class="form-check">
        <label class="{% if bound_field.field.required %}requiredField{% endif %}" for="{{bound_field.id_for_label}}">
            <input id="{{bound_field.id_for_label}}" class="form-check-input" name="{{bound_field.name}}" type="checkbox" {% if bound_field.value %}checked="checked"{% endif %}>
            {{ bound_field.label|safe }}
        </label>
    </div>
    {% else %}
    {% if not hide_labels %}
    <label class="col-form-label{% if bound_field.field.required %} requiredField{% endif %}">{{ bound_field.label|safe }}{% if bound_field.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
    {% endif %}
    <div class="controls">
      {% if bound_field.field|is_textarea %}
        <textarea class="textarea form-control" name="{{bound_field.name}}" cols="40" rows="10">{% if bound_field.value %}{{bound_field.value}}{% endif %}</textarea>
      {% elif bound_field.field|is_radio %}
          {% for choice in bound_field.field.widget.choices %}
          <div class="form-check">
            <label>
              <input type="radio" name="{{bound_field.name}}"{% if bound_field.value == choice.0 %} selected="1"{% endif %} value="{{choice.0}}">{{choice.1}}
            </label>
          </div>
          {% endfor %}
      {% elif bound_field.field.widget.input_type and bound_field.field.widget.input_type != 'select' %}
        <input class="form-control" name="{{bound_field.name}}"
          {% if bound_field.value %}
          value="{{bound_field.value}}"
          {% endif %}
          {% if bound_field.field.widget.attrs.placeholder %}
          placeholder="{{bound_field.field.widget.attrs.placeholder}}"
          {% endif %}
          type="{{bound_field.field.widget.input_type}}"
          {% if bound_field.field.max_length %}
          maxlength="{{bound_field.field.max_length}}"
          {% endif %}
          {% if bound_field.field.min_value %}
          min="{{bound_field.field.min_value}}"
          {% endif %}
          {% if bound_field.field.max_value %}
          max="{{bound_field.field.max_value}}"
          {% endif %}
        />
      {% else %}
        <select class="form-control" name="{{bound_field.name}}">
          {% for choice in bound_field.field.widget.choices %}
          <option {% if bound_field.value == choice.0 %}selected="1"{% endif %} value="{{choice.0}}">{{choice.1}}</option>
          {% endfor %}
        </select>
      {% endif %}
    </div>
    {% endif %}
    {% for error in bound_field.errors %}
    <span class="form-text"><strong>{{error}}</strong></span>
    {% endfor %}
    {% if bound_field.help_text %}
    <span class="form-text">{{bound_field.help_text}}</span>
    {% endif %}
</div>
{% endif %}
