{% extends "_form_fields.html" %}

{% block form_block %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
<fieldset>
  <legend>{% trans %}Login Credentials{% endtrans %}</legend>
  {{ input_field(form['username'], hide_labels=form.hide_labels) }}
  {{ input_field(form['email'], hide_labels=form.hide_labels) }}
  {% if form['email_code'] %}
  {{ input_field(form['email_code'], hide_labels=form.hide_labels) }}
  {% endif %}
  {{ input_field(form['email2'], hide_labels=form.hide_labels) }}
  {{ input_field(form['new_password'], hide_labels=form.hide_labels) }}
  {{ input_field(form['new_password2'], hide_labels=form.hide_labels) }}
</fieldset>
<fieldset>
  <legend>{% trans %}Contact Information{% endtrans %}</legend>
  {{ input_field(form['full_name'], hide_labels=form.hide_labels) }}
  {{ input_field(form['street_address'], hide_labels=form.hide_labels) }}
  {{ input_field(form['country'], hide_labels=form.hide_labels) }}
  {{ input_field(form['region'], hide_labels=form.hide_labels) }}
  {{ input_field(form['locality'], hide_labels=form.hide_labels) }}
  {{ input_field(form['postal_code'], hide_labels=form.hide_labels) }}
  {{ input_field(form['phone'], hide_labels=form.hide_labels) }}
  {% if form['phone_code'] %}
  {{ input_field(form['phone_code'], hide_labels=form.hide_labels) }}
  {% endif %}
</fieldset>
{% if form['terms-of-use'] %}
<fieldset>
{{ input_field(form['terms-of-use'], hide_labels=form.hide_labels) }}
</fieldset>
{% endif %}
{% if 'captcha' in form.fields %}
<fieldset>
{{ input_field(form['captcha'], hide_labels=form.hide_labels) }}
</fieldset>
{% endif %}
{% endblock %}
