.param-indent-1 {
  border-left: 1px solid #ddd;
  padding-left: 5px;
}

.param-indent-2 {
  border-left: 3px solid #ddd;
  padding-left: 5px;
}

.param-indent-3 {
  border-left: 6px solid #ddd;
  padding-left: 5px;
}

.param-indent-4 {
  border-left: 9px solid #ddd;
  padding-left: 5px;
}

a.header-anchor {
  opacity: 0;
}
a.header-anchor:hover{
  opacity: 1.0;
}

.code {
  background-color: #222527;
  color: #dde4e8;
}

pre.code{
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  margin:10px 0;
  border:none;
  padding:0;
  font-size: 14;
  background: #272b2d;
  color: #d0d0d0;
  direction: ltr;
  font-family: monospace;
  text-align: left;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre.code code{
}

.code.json .name {
  color: #c1ef65;
}

.code.json .literal.string {
  color: #d0d0d0;
}

.code.json .literal.number {
  color: #77bcd7;
}

.code.json .keyword {
  color: #ebde68;
}

.param-list-header {
    border-bottom: 1px solid rgba(38, 50, 56, 0.3);
    margin: 3em 0 1em 0;
    color: rgba(38, 50, 56, 0.5);
    font-weight: normal;
    text-transform: uppercase;
}

.param-name {
    display: table-cell;
    width: 25%;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}

.param-type {
    margin: 25px 0 5px 0;
    text-transform: capitalize;
}

.param-required {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: red;
  border: 1px solid red;
  background-color: transparent;
  @include border-radius($badge-pill-border-radius);

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

}

.param {
    display: table-row;
}

.param-info {
    display: table-cell;
    width: 75%;
    padding-top: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}

.param-builtin {
    border-bottom: 1px solid #9fb4be;
    padding-bottom: 10px;
}

