// All the CSS we need for the entire site. This tradeoff between
// bandwidth and latency is good as long as we have a high and consistent
// utilization of all the CSS tags for all pages on the site.
@import "../vendor/bootstrap/bootstrap.scss";
@import "../vendor/font-awesome.scss";
@import "../vendor/tagify.scss";
@import "djaodjin-dashboard.scss";
@import "mallspace.scss";
