{% extends "accounts/base.html" %}

{% block localheader_title %}{% if disabled_registration %}{% trans %}Registration disabled{% endtrans %}{% else %}{% trans %}Authentication disabled{% endtrans %}{% endif %}{% endblock %}

{% block content %}
<div class="container flex-vertical-middle">
  <div class="row">
    <div class="col-sm-12">
        {% if disabled_registration %}
        <h1>{% trans %}Registration disabled{% endtrans %}</h1>
        <p class="text-start">
{% trans %}User registration has been currently disabled on this site.{% endtrans %}
        </p>
        {% else %}
        <h1>{% trans %}Authentication disabled{% endtrans %}</h1>
        <p class="text-start">
{% trans %}User login and registration has been currently disabled on this site.{% endtrans %}
        </p>
        {% endif %}
        <p class="text-start">
{% trans %}If you think it is a mistake, please contact an administrator.{% endtrans %}
        </p>
        <p class="text-start">
{% trans %}Thank you.{% endtrans %}
        </p>
        </div>
    </div>
  </div>
</div>
{% endblock %}
