{% extends "accounts/base.html" %}

{% block content %}
<div class="container">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="page-header">
            <h1 class="text-center"><i class="fa fa-sign-in fa-lg"></i> Sign in</h1>
        </div>
        <div class="signup-group row">
            <div class="col-sm-offset-3 col-sm-6">
                {% if form %}
{# Some bots will try to access accounts/login/ which would crash. #}
                <form{% if form.form_id %} id="{{form.form_id}}"{% endif %}
                    method="post" action=".{% if next %}/?next={{ next }}{% endif %}">
                    {% include "_form_fields.html" %}
                    <div class="form-action text-center">
                        <button type="submit" class="btn btn-block btn-primary btn-lg">{% if form.submit_title %}{{form.submit_title}}{% else %}Submit{% endif %}</button>
                    </div>
                </form>
                {% endif %}
                <hr />
                <div>
                    <p>
Forgot password? <i class="fa fa-long-arrow-right"></i> <a href="{{ urls.user.password_reset }}{% if next %}?next={{next}}{% endif %}">Recover</a>
                    </p>
                    <p>
Don't have an account? <i class="fa fa-long-arrow-right"></i> <a href="{{ urls.user.register }}{% if next %}?next={{next}}{% endif %}">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
        <p class="text-center">
TIP: You are advised to verify the domain and certificate in the URL bar before
signing in.
        </p>
    </div>
</div>
{% endblock %}
