{% extends "accounts/base.html" %}

{% block localheader_title %}{% trans %}Sign In{% endtrans %}{% endblock %}

{% block accounts_title %}{% trans %}Sign In{% endtrans %}{% endblock %}

{% block accounts_content %}
<div>
  {% if form %}
  <form{% if form.form_id %} id="{{form.form_id}}"{% endif %} method="post" action=".{% if next %}/?next={{next}}{% endif %}">
    {% include "_form_fields.html" %}
    <p class="text-center">
      <small>
        <em>
{% trans %}TIP: You are advised to verify the domain and certificate in the URL bar before signing in.{% endtrans %}
        </em>
      </small>
    </p>
    <div class="form-action text-center">
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-md">
          {% trans %}Sign in{% endtrans %}
        </button>
      </div>
    </div>
  </form>
  {% endif %}
  <div>
    <p class="text-center mt-3">
      <a href="{{urls.user.password_reset}}{% if next %}?next={{next}}{% endif %}">{% trans %}Forgot password?{% endtrans %}</a>
      {% if urls.user.register %}
      {% trans %}or{% endtrans %}
      <a href="{{urls.user.register}}{% if next %}?next={{next}}{% endif %}">{% trans %}Sign Up{% endtrans %}</a>
      {% endif %}
    </p>
  </div>
</div>

{% block bodyscripts %}
  <script type="text/javascript" src="{{'/assets/js/djaoapp-login.js'|djasset}}" defer></script>
{% endblock %}

{% endblock %}
