{% extends "accounts/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="alert alert-dismissible fade show alert-info">
            <p>
                <img class="img_team rounded-circle" src="/static/img/smirolo.jpg">
{% trans %}You successfully signed out. Thank you for your business, have a good day!{% endtrans %}
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endblock %}
