{% extends "accounts/base.html" %}

{% block accounts_content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6 p-5">
                <div class="page-header">
                    <h1 class="text-center">
                        {% trans %}
                            Reset Password
                        {% endtrans %}
                    </h1>
                </div>
                <p class="text-center">
                    {% trans %}
                        Enter your e-mail address to reset and create a new password.
                    {% endtrans %}
                </p>
                {% if form %}
                    {% include "accounts/_recover_form.html" %}
                {% endif %}
                <p class="text-center py-4">
                    <small><em>
                        {% trans %}
                            TIP: You are advised to verify the domain and
                            certificate in the URL bar before
                            signing in.
                        {% endtrans %}
                    </small></em>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
