{% extends "accounts/base.html" %}

{% block localheader_title %}{% trans %}Recover Password{% endtrans %}{% endblock %}

{% block accounts_title %}{% trans %}Recover Password{% endtrans %}{% endblock %}

{% block accounts_content %}
<div>
  {% if form %}
  <form{% if form.form_id %} id="{{form.form_id}}"{% endif %} method="post" action=".{% if next %}/?next={{next}}{% endif %}">
    {% include "_form_fields.html" %}
    <p class="text-center">
      <small>
        <em>
{% trans %}TIP: You are advised to verify the domain and certificate in the URL bar before entering any information.{% endtrans %}
        </em>
      </small>
    </p>
    <div class="form-action text-center">
      <button type="submit" class="btn btn-block btn-primary btn-md">
        {% trans %}Send me a link{% endtrans %}
      </button>
    </div>
  </form>
  {% endif %}
  <div>
    <p class="text-center mt-3">
      <a href="{{urls.user.login}}{% if next %}?next={{next}}{% endif %}">{% trans %}Back to Sign In{% endtrans %}</a>
      {% if urls.user.register %}
      {% trans %}or{% endtrans %}
      <a href="{{urls.user.register}}{% if next %}?next={{next}}{% endif %}">{% trans %}Sign Up{% endtrans %}</a>
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}
