{% extends "accounts/base.html" %}

{% block localheader_title %}{% trans %}Sign Up{% endtrans %}{% endblock %}

{% block accounts_title %}{% trans %}Sign Up{% endtrans %}{% endblock %}

{% block accounts_content %}
<div class="text-center mb-2">
  {% trans %}Already have an account?{% endtrans %}
  <a id="login-instead" href="{{urls.user.login}}{% if next %}?next={{next}}{% endif %}">{% trans %}Sign In{% endtrans %}</a>
</div>
<div class="row">
  <div class="offset-sm-2 col-sm-8">
    {% block register_form %}
    {% if form %}
    {% include "accounts/_register_form.html" %}
    {% endif %}
    {% endblock %}
  </div>
</div>
<div class="text-center mt-3">
  {% trans %}Already have an account?{% endtrans %}
  <a id="login-instead" href="{{urls.user.login}}{% if next %}?next={{next}}{% endif %}">{% trans %}Sign In{% endtrans %}</a>
</div>
{% endblock %}

{% block accounts_scripts %}
{% include "_password_strength_scripts.html" %}
{% endblock %}
