{% extends "saas/base_dashboard-2col.html" %}

{% block saas_title %}{{organization.printable_name}} {{role_descr.title}}s{% endblock %}

{% block saas_content %}
<section id="{{role_descr}}"
  data-trip data-trip-index="1"
  data-trip-content="<h2>Add/Remove {{role_descr.title}}</h2><p>When a user is listed under a role for an organization, she will be able to view pages and execute actions associated with the role.</p><em>Use keyboard navigation or click 'Next' to move forward.</em>"
  data-trip-position="screen-center"
  >
<div id="user-relation-list-container">
  <user-typeahead @item-save="save" :url="typeaheadUrl" inline-template>
    <form @submit.prevent="submit" class="mt-3">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <div class="input-group input-group-sm mb-3"
             data-trip data-trip-index="2"
             data-trip-content="<p>Start typing the username or email of the person you want to add.</p>"
             data-trip-position="s">
          <input type="text" class="form-control" id="userTypeahead"
            name="user" type="text" placeholder="Username or e-mail"
            autocomplete="off">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Add {{role_descr.title}}</button>
          </div>
        </div>
        <uiv-typeahead
             v-model="itemSelected"
             target="#userTypeahead"
             :async-function="getUsers"
             item-key="slug"
             :open-on-focus="false"
             class="typeahead-dropdown"
             />
    </form>
  </user-typeahead>
  <div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr v-show="!itemsLoaded">
            <td colspan="3">
                <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
            </td>
        </tr>
        <tr v-show="itemsLoaded && items.results.length == 0" v-cloak>
            <td colspan="3">
                <h4 class="text-center"><em>No {{role_descr.title}}<span v-show="params.q"> [[params.q]]</span></em></h4>
            </td>
        </tr>
        <tr :id="item.user.slug" v-for="(item, index) in items.results" v-show="itemsLoaded && items.results.length > 0" v-cloak>
            <td style="vertical-align:middle;">[[item.user.slug]]</td>
            <td style="vertical-align:middle;">[[item.user.email]] <button
                class="btn btn-secondary btn-sm"
                v-if="item.request_key" @click="save(item.user)">grant</button></td>
            <td style="vertical-align:middle;"><i>[[item.grant_key ? "invited" : ""]]</i></td>
            <td style="vertical-align:middle;"><button class="btn btn-danger btn-sm"
                data-trip data-trip-index="3"
                data-trip-content="<p>Click here to revoke access to the user.</p>"
                data-trip-position="s"
                @click="remove(index)"><i class="fa fa-remove"></i></button></td>
        </tr>
    </tbody>
  </table>
  </div>
  <div class="text-center" v-show="itemsLoaded && totalItems > itemsPerPage" v-cloak>
    [[params.page]]
      <b-pagination align="center" size="md" :total-rows="totalItems" v-model="params.page" :per-page="itemsPerPage" @input="get">
  </div>
  <!-- modal dialog for adding a userRelation
       when the user must register later. -->
  <div class="add-role-modal modal fade" title="Invite {{role_descr.title}}"
       tabindex="-1" role="dialog"
       aria-labelledby="Add {{role_descr.title}}" aria-hidden="true">
  <div class="modal-dialog">
      <form class="form-horizontal">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Invite {{role_descr.title}} ...</h4>
          </div>
          <div class="modal-body">
            <p class="text-danger">
[[unregistered.slug]] is not yet registered. This is an opportunity to invite and
add her/him as a {{role_descr.title}} for {{organization.printable_name}}.
            </p>
            <div class="row form-group">
                <div class="col-sm-2">
                    <label>To</label>
                </div>
                <div class="controls col-sm-10">
                    <input id="new-request-email"
                           class="form-control" style="width:100%;"
                           name="email" type="text" max-length="150"
                           placeholder="invitee@example.com"
                           autofocus
                           v-model="unregistered.email" />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <label>The following invite message will be sent:</label>
                    <textarea class="form-control"
                              name="message"
                              maxlength="255" type="text" rows="10">
Hi [[unregistered.email]],

I am adding you as a {{role_descr.title}} to {{organization.printable_name}}.

Thank you,
- {{request.user.first_name}}</textarea>
                </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal">Cancel</button>
              <button type="submit"
                      class="btn btn-primary"
                      data-dismiss="modal"
                      @click="create">Invite {{role_descr.title}}</button>
          </div>
        </div>
      </form>
  </div>
  </div>
</div>
</section>
{% endblock %}
