{% extends "saas/base_dashboard-2col.html" %}

{% block saas_title %}{{organization.printable_name}} Profile{% endblock %}

{% block saas_lead_help %}Information about the profile{% endblock %}

{% block saas_help %}
<p>
Update your profile, contact information, password, etc.
</p>
{% endblock %}


{% block saas_content %}
{% include "_form.html" %}
<hr />
<div id="remove-profile-container" class="panel panel-danger" style="margin:50px auto;" ng-app="saasApp">
    <div class="panel-heading">
        Danger Zone
    </div>
    <div class="panel-body" style="padding: 15px;">
        {% if urls.organization.password_change %}
        <div class="row">
            <div class="col-sm-5">
                <a id="change-password" class="btn btn-danger" href="{{urls.organization.password_change}}" style="width:100%;">Change Password</a>
            </div>
            <div class="col-sm-7">
<span class="btn">Use a new password to login.</span>
            </div>
        </div>
        {% endif %}
        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-5">
                <button id="delete-action-open"
                        class="btn btn-danger" style="width:100%;"
                        data-toggle="modal" data-target="#delete-action">Delete profile</button>
            </div>
            <div class="col-sm-7">
<span class="btn">This operation cannot be reversed.</span>
            </div>
        </div>
    </div>
<!-- modal dialog to delete organization. -->
<div class="modal fade"
     id="delete-action" tabindex="-1" role="dialog"
     aria-labelledby="Delete Profile" aria-hidden="true"
      ng-controller="organizationProfileCtrl">
    <form class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Profile ...</h4>
            </div>
            <div class="modal-body">
                <p>
You are about to delete the profile and account
for <em>{{organization.printable_name}}</em>.
This operation cannot be reversed.
                </p>
                <p>
Are you sure you want to continue?
                </p>
            </div>
            <div class="modal-footer">
                <button id="cancel-delete"
                        data-dismiss="modal"
                        class="btn btn-secondary">Cancel</button>
                <button type="button" id="delete-organization-btn"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        ng-click="deleteProfile($event)"
                        @click="deleteProfile">Delete</button>
            </div>
        </div>
    </form>
</div>
<!-- modal to confirm deletion of organization -->
</div>
{% endblock %}
