{% extends "saas/base_dashboard-2col.html" %}

{% block saas_title %}{{organization.printable_name}} Profile{% endblock %}

{% block saas_lead_help %}Information about the profile{% endblock %}

{% block saas_help %}
<p>
Update your profile, contact information, password, etc.
</p>
{% endblock %}


{% block saas_content %}
<div id="profile-container">
{% include "_form.html" %}
<hr />
<div class="card border-danger mb-3">
  <div class="card-header">
    Danger Zone
  </div>
  <div class="card-body text-danger">
{% if urls.organization.password_change %}
        <div class="row align-items-center">
            <div class="col-sm-5">
                <a id="change-password" class="btn btn-danger btn-block" href="{{urls.organization.password_change}}" style="width:100%;">Change Password</a>
            </div>
            <div class="col-sm-7">
                Use a new password to login.
            </div>
        </div>
        {% endif %}
        <div class="row align-items-center" style="margin-top: 15px;">
            <div class="col-sm-5">
                <button id="delete-action-open"
                        class="btn btn-danger btn-block"
                        data-toggle="modal" data-target="#delete-action">Delete profile</button>
            </div>
            <div class="col-sm-7">
                This operation cannot be reversed.
            </div>
        </div>
  </div>
</div>
<!-- modal dialog to delete organization. -->
<div class="modal fade"
     id="delete-action" tabindex="-1" role="dialog"
     aria-labelledby="Delete Profile" aria-hidden="true">
    <form class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Profile ...</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>
You are about to delete the profile and account
for <em>{{organization.printable_name}}</em>.
This operation cannot be reversed.
                </p>
                <p>
Are you sure you want to continue?
                </p>
            </div>
            <div class="modal-footer">
                <button id="cancel-delete"
                        data-dismiss="modal"
                        class="btn btn-secondary">Cancel</button>
                <button type="button" id="delete-organization-btn"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        @click="deleteProfile">Delete</button>
            </div>
        </div>
    </form>
</div>
<!-- modal to confirm deletion of organization -->
</div>
{% endblock %}
