{% extends "saas/base_dashboard-2col.html" %}

{% block saas_title %}{{organization.printable_name}} Profile{% endblock %}

{% block saas_lead_help %}Information about the profile{% endblock %}

{% block saas_help %}
<p>
Update your profile, contact information, password, etc.
</p>
{% endblock %}


{% block saas_content %}
{% include "_form.html" %}
<hr />
<div class="panel panel-danger" style="margin:50px auto;" id="remove-profile-container">
    <div class="panel-heading">
        Danger Zone
    </div>
    <div class="panel-body" style="padding: 15px;">
        {% if urls.organization.password_change %}
        <div class="row">
            <div class="col-sm-5">
                <a id="change-password" class="btn btn-danger" href="{{urls.organization.password_change}}" style="width:100%;">Change Password</a>
            </div>
            <div class="col-sm-7">
<span class="btn">Use a new password to login.</span>
            </div>
        </div>
        {% endif %}
        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-5">
                <button id="delete-action-open" class="btn btn-danger" style="width:100%;" @click="modalOpen=true">Delete profile</button>
            </div>
            <div class="col-sm-7">
<span class="btn">This operation cannot be reversed.</span>
            </div>
        </div>
    </div>
<!-- modal dialog to delete organization. -->
<modal v-model="modalOpen" title="Delete Profile...">
    <p>
        You are about to delete the profile and account
        for <em>{{organization.printable_name}}</em>.
        This operation cannot be reversed.
    </p>
    <p>
        Are you sure you want to continue?
    </p>
    <div slot="footer">
        <button
                class="btn btn-default"
                @click="modalOpen=false">Cancel</button>
        <button type="submit"
                class="btn btn-danger"
                @click="deleteProfile">Delete</button>
    </div>
</modal>
<!-- modal to confirm deletion of organization -->
</div>
{% endblock %}
