{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
Subscriptions to {{organization.printable_name}}
{% endblock %}

{% block saas_content %}
<section id="subscribers">
<div id="subscribers-list-container" data-trip data-trip-index="1" data-trip-content="<h2>Active Subscribers</h2><p>List of all active subscribers.<br />You will find here the list of all active subscribers,<br />with the plans they are subscribed to, the date they first<br />subscribed as well as when their renewal is due.</p><em>Use keyboard navigation or click 'Next' to move forward.</em>" data-trip-position="screen-center">
    <tabs v-model="currentTab" :transition-duration="0" @change="tabChanged">
        {% if registered %}
        <tab title="Registered">
            <div style="margin-top:10px;margin-bottom:10px;">
                <label>Filter</label> <input type="text" class="form-control" v-model="params.q" v-on:input="filterList" />
                <a id="download-registered" :href="'{{registered.urls.download}}?q=' + params.q" class="btn btn-default pull-right" role="button"><i class="fa fa-cloud-download"></i> CSV Download</a>
            </div>
            <div class="table-responsive">
            <table class="table table-condensed table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Full name</th>
                        <th class="text-right">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-show="!registered.loaded">
                        <td colspan="2">
                            <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
                        </td>
                    </tr>
                    <tr v-show="registered.loaded && registered.count == 0">
                        <td colspan="2">
                            <h4 class="text-center"><em>No registered users<span v-show="params.q"> [[params.q]]</span></em></h4>
                        </td>
                    </tr>
                </tbody>
                <tbody class="has-results" v-for="entry in registered.results" v-cloak v-show="registered.loaded && registered.results.length > 0">
                    <tr>
                        <td>
                            <a :href="'{{urls.user.profile_redirect}}' + entry.slug + '/'">[[entry.full_name]]</a>
                        </td>
                        <td>
                        [[entry.created_at | relativeDate]]
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="text-center" v-show="registered.loaded && totalItems > itemsPerPage">
                <uiv-pagination v-model="params.page" :total-page="pageCount" v-on:change="get" boundary-links/>
            </div>
        </tab>
        {% endif %}


        {% for tab in tabs %}
        <tab title="{{tab.title}}">
<div style="margin-top:10px;margin-bottom:10px;">
    <input type="text" v-model="params.q" v-on:input="filterList" class="form-control filter-inline" placeholder="Filter" />
    <a id="download-{{tab.slug}}" :href="'{{tab.urls.download}}?q=' + params.q" class="btn btn-default pull-right" role="button"><i class="fa fa-cloud-download"></i> CSV Download</a>
</div>
<div class="table-responsive">
<table class="table table-condensed table-striped">
    <thead>
        <tr v-show="params.o === 'organization'">
            <th>Subscriber<button class="btn-link btn-sort" @click="sortBy('organization')"><i :class="sortIcon('organization')"></i></button></th>
            <th>Plan<button class="btn-link btn-sort" @click="sortBy('plan')"><i :class="sortIcon('plan')"></i></button></th>
            <th>Since<button class="btn-link btn-sort" @click="sortBy('created_at')"><i :class="sortIcon('created_at')"></i></button></th>
            <th>Ends At<button class="btn-link btn-sort" @click="sortBy('ends_at')"><i :class="sortIcon('ends_at')"></i></button></th>
            <th>Description</th>
        </tr>
        <tr v-show="params.o === 'plan'">
            <th>Plan<button class="btn-link btn-sort" @click="sortBy('plan')"><i :class="sortIcon('plan')"></i></button></th>
            <th>Subscriber<button class="btn-link btn-sort" @click="sortBy('organization')"><i :class="sortIcon('organization')"></i></button></th>
            <th>Since<button class="btn-link btn-sort" @click="sortBy('created_at')"><i :class="sortIcon('created_at')"></i></button></th>
            <th>Ends At<button class="btn-link btn-sort" @click="sortBy('ends_at')"><i :class="sortIcon('ends_at')"></i></button></th>
            <th>Description</th>
        </tr>
        <tr v-show="params.o === 'created_at'">
            <th>Since<button class="btn-link btn-sort" @click="sortBy('created_at')"><i :class="sortIcon('created_at')"></i></button></th>
            <th>Subscriber<button class="btn-link btn-sort" @click="sortBy('organization')"><i :class="sortIcon('organization')"></i></button></th>
            <th>Plan<button class="btn-link btn-sort" @click="sortBy('plan')"><i :class="sortIcon('plan')"></i></button></th>
            <th>Ends At<button class="btn-link btn-sort" @click="sortBy('ends_at')"><i :class="sortIcon('ends_at')"></i></button></th>
            <th>Description</th>
        </tr>
        <tr v-show="params.o === 'ends_at'">
            <th>Ends At<button class="btn-link btn-sort" @click="sortBy('ends_at')"><i :class="sortIcon('ends_at')"></i></button></th>
            <th>Subscriber<button class="btn-link btn-sort" @click="sortBy('organization')"><i :class="sortIcon('organization')"></i></button></th>
            <th>Plan<button class="btn-link btn-sort" @click="sortBy('plan')"><i :class="sortIcon('plan')"></i></button></th>
            <th>Since<button class="btn-link btn-sort" @click="sortBy('created_at')"><i :class="sortIcon('created_at')"></i></button></th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody class="fetching-results" v-show="!{{tab.slug}}.loaded">
        <tr>
            <td colspan="5">
                <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
            </td>
        </tr>
    </tbody>
    <tbody class="has-no-results" v-show="{{tab.slug}}.loaded && {{tab.slug}}.results.length == 0">
        <tr>
            <td colspan="5">
                <h4 class="text-center"><em>No subscribers<span ng-show="params.q"> with filter: '[[params.q]]'</span></em></h4>
            </td>
        </tr>
    </tbody>
    <tbody v-for="(group, key) in groupBy({{tab.slug}}.results, 'organization.printable_name')" v-show="params.o === 'organization' && {{tab.slug}}.loaded && {{tab.slug}}.results.length > 0" v-cloak>
        <tr>
            <td colspan="5">
                <a :href="'{{urls.organization.profile_base}}' + group[0].organization.slug + '/subscriptions/'">[[group[0].organization.printable_name]]</a></td>
        </tr>
        <tr v-for="(entry, index) in group" :class="endsSoon(entry)">
            <td></td>
            <td>[[entry.plan.title]]</td>
            <td>[[entry.created_at | formatDate('MMM D, Y')]]</td>
            <td>[[entry.ends_at | formatDate('MMM D, Y')]]</td>
            <td class="description editable">
                <span v-show="!entry.edit_description" @click="editDescription(entry, group[0].organization.slug)">
                    [[entry.description]] <i class="fa fa-pencil"></i>
                </span>
                <input v-show="entry.edit_description" type="text"
                       class="form-control"
                       @blur="saveDescription(entry)"
                       @keyup.13="saveDescription(entry)"
                       v-model="entry.description"
                       :ref="refId(entry, group[0].organization.slug)"
                       tooltip="Edit description here"
                       tooltip-trigger="focus"
                       tooltip-placement="top">
            </td>
        </tr>
    </tbody>
    <tbody v-for="(group, key) in groupBy({{tab.slug}}.results, 'plan.title')" v-cloak v-show="params.o === 'plan'">
        <tr>
            <td colspan="5">
                [[group[0].plan.title]]
            </td>
        </tr>
        <tr v-for="entry in group" :class="endsSoon(entry)">
            <td></td>
            <td>
                <a :href="'{{urls.organization.profile_base}}' + entry.organization.slug + '/subscriptions/'">[[entry.organization.printable_name]]</a>
            </td>
            <td>[[entry.created_at | formatDate('MMM D, Y')]]</td>
            <td>[[entry.ends_at | formatDate('MMM D, Y')]]</td>
            <td class="description editable">
                <span v-show="!entry.edit_description" @click="editDescription(entry, group[0].plan.slug)">
                    [[entry.description]] <i class="fa fa-pencil"></i>
                </span>
                <input v-show="entry.edit_description" type="text"
                       class="form-control"
                       @blur="saveDescription(entry)"
                       @keyup.13="saveDescription(entry)"
                       v-model="entry.description"
                       :ref="refId(entry, group[0].plan.slug)"
                       tooltip="Edit description here"
                       tooltip-trigger="focus"
                       tooltip-placement="top">
            </td>
        </tr>
    </tbody>
    <tbody v-for="(group, top_i) in groupBy({{tab.slug}}.results, 'created_at')" v-cloak v-show="params.o === 'created_at'">
        <tr>
            <td colspan="5">
                [[group[0].created_at | formatDate('MMM D, Y')]]
            </td>
        </tr>
        <tr v-for="(entry, index) in group" :class="endsSoon(entry)">
            <td></td>
            <td>
                <a :href="'{{urls.organization.profile_base}}' + entry.organization.slug + '/subscriptions/'">[[entry.organization.printable_name]]</a>
            </td>
            <td>[[entry.plan.title]]</td>
            <td>[[entry.ends_at | formatDate('MMM D, Y')]]</td>
            <td class="description editable">
                <span v-show="!entry.edit_description" @click="editDescription(entry, group[0].created_at)">
                    [[entry.description]] <i class="fa fa-pencil"></i>
                </span>
                <input v-show="entry.edit_description" type="text"
                       class="form-control"
                       @blur="saveDescription(entry)"
                       @keyup.13="saveDescription(entry)"
                       v-model="entry.description"
                       :ref="refId(entry, group[0].created_at)"
                       tooltip="Edit description here"
                       tooltip-trigger="focus"
                       tooltip-placement="top">
            </td>
        </tr>
    </tbody>
    <tbody v-for="(group, key) in groupBy({{tab.slug}}.results, 'ends_at')" v-cloak v-show="params.o === 'ends_at'">
        <tr>
            <td colspan="5">
                [[group[0].ends_at | formatDate('MMM D, Y')]]
            </td>
        </tr>
        <tr v-for="entry in group" :class="endsSoon(entry)">
            <td></td>
            <td>
                <a :href="'{{urls.organization.profile_base}}' + entry.organization.slug + '/subscriptions/'">[[entry.organization.printable_name]]</a>
            </td>
            <td>[[entry.plan.title]]</td>
            <td>[[entry.created_at | formatDate('MMM D, Y')]]</td>
            <td class="description editable">
                <span v-show="!entry.edit_description" @click="editDescription(entry, group[0].ends_at)">
                    [[entry.description]] <i class="fa fa-pencil"></i>
                </span>
                <input v-show="entry.edit_description" type="text"
                       class="form-control"
                       @blur="saveDescription(entry)"
                       @keyup.13="saveDescription(entry)"
                       v-model="entry.description"
                       :ref="refId(entry, group[0].ends_at)"
                       tooltip="Edit description here"
                       tooltip-trigger="focus"
                       tooltip-placement="top">
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="text-center" v-show="{{tab.slug}}.loaded && totalItems > itemsPerPage">
    <uiv-pagination v-model="params.page" :total-page="pageCount" v-on:change="get" size="sm" boundary-links/>
</div>
            </tab>
        {% endfor %}
    </tabs>
</div>
<div>
    <a id="new-subscriber" class="btn btn-primary pull-right" href="{{urls.organization_create}}">New Billing Profile &raquo;</a>
</div>
</section>
{% endblock %}
