{% extends "_form.html" %}

{% block form_block %}
    <form{% if form.form_id %} id="{{form.form_id}}"{% endif %} class="form-horizontal" method="post" action=".{% if next %}/?next={{ next }}{% endif %}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">

        {{ input_field(form['email']) }}

        {##
            {% include "_django_field.html" with bound_field=form|get_bounded_field:'email' hide_labels=form.hide_labels %}
        ##}

        <p class="text-center">
            <small><em>
                {% trans %}TIP: You are advised to verify the domain and certificate in the URL bar before signing in.{% endtrans %}
            </em></small>
        </p>

        <div class="form-action text-center">
            <button type="submit" class="btn btn-block btn-primary btn-md">
                {% if form.submit_title %}
                    {{form.submit_title}}
                {% else %}
                    {% trans %}Submit{% endtrans %}
                {% endif %}
            </button>
        </div>
    </form>
{% endblock %}
