{% extends "_form.html" %}

{% block form_block %}
  <form{% if form.form_id %} id="{{form.form_id}}"{% endif %} class="form-horizontal" method="post" action=".{% if next %}/?next={{ next }}{% endif %}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">

      {{ input_field(form['email'], form.hide_labels) }}
      {{ input_field(form['full_name'], form.hide_labels) }}
      {{ input_field(form['username'], form.hide_labels) }}
      {{ input_field(form['new_password'], form.hide_labels) }}
      {{ input_field(form['new_password2'], form.hide_labels) }}
      {{ checkbox_input_field("terms-of-use", "terms-of-use", True, "I have read and accept the <a target=\"_blank\" href=\"/legal/terms-of-use/\">terms of use</a>",  errors=form['terms-of-use'].errors, hide_labels=form.hide_labels) }}

      <div class="w-100 mb-4">
        <span class="text-danger">{% trans %}* required fields{% endtrans %}</span>
      </div>

      <div class="w-100">
        <button type="submit" class="btn btn-block btn-primary btn-md">
          {% if form.submit_title %}
            {{form.submit_title}}
          {% else %}
            {% trans %}Register{% endtrans %}
          {% endif %}
        </button>
      </div>
  </form>
{% endblock %}
