{% extends "saas/legal/base.html" %}

{% block content %}
<section class="light-background pb-5">
  <div class="container container-margered">
    <div class="row">
      <div class="col-md-12 pl-0 pt-4">
        <p>
          <em>{% trans %}Please accept the terms.{% endtrans %}</em>
        </p>
      </div>

      <div class="col-md-12 agreement">
        {{page|safe}}
      </div>

      <div class="col-md-12 text-center pt-0 pb-5">
        <form class="form-horizontal" method="post" action=".{% if next %}?next={{next}}{% endif %}">
          <div class="form-group">
            <div>
              {{form.read_terms}}
              <label class="col-form-label">{% trans %}I have read and accept these terms and conditions.{% endtrans %}</label>
            </div>
          </div>
          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="I Agree" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
