{% extends "saas/base_dashboard.html" %}

{% block saas_title %}
{% trans %}{{template}} Notification{% endtrans %}
{% endblock %}

{% block saas_page_layout %}
<div class="mt-2">
  <notification-test inline-template :notification-id="'{{template}}'">
    <div>
      <button class="btn btn-outline-secondary"
              @click="submit">
          {% trans %}Send Test Email{% endtrans %}
      </button>
    </div>
  </notification-test>
  <span>(<a href="https://www.djaodjin.com/docs/api/notifications/#{{template}}" target="_blank">variables defined in template context</a>)</span>
</div>

<div id="email-tpl-editor" class="mt-4">
  <ul class="nav nav-tabs dashboard-tab" role="tablist">
    <li class="nav-item"><a class="nav-link active" href="#tab-0" data-toggle="tab">{% trans %}Preview{% endtrans %}</a></li>
    {# tabs are inserted here #}
  </ul>
  <div class="tab-content" style="width:100%;height:555px;">
    <div class="tpl-loader mt-5">
      <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
    </div>
    <div id="tab-0" class="tab-pane active" role="tabpanel" style="width:100%;height:100%;">
        <iframe src="{{iframe_url}}" id="email-tpl-iframe" frameborder="0"
            style="height:100vh;width:100%;display: none;"></iframe>
    </div>
    {# panels are inserted here #}
  </div>
</div>
{% endblock %}
{% block dashboard_bodyscripts %}
{% if not show_edit_tools %}
{#
    when edit tools are disabled the required scripts are not included
    however if we're serving assets via cdn I'm not sure if this is the best way
#}
<script type="text/javascript" src="{{'/static/vendor/jquery.ba-throttle-debounce.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/bootstrap-colorpicker.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/ace.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/ext-language_tools.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/ext-modelist.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/ext-emmet.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/theme-monokai.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/mode-html.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/mode-css.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/mode-javascript.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/worker-html.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/worker-css.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/worker-javascript.js'|djasset}}"></script>
{% if ASSETS_DEBUG %}
<script type="text/javascript" src="{{'/static/js/djaoapp-theme-editors.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-code-editor.js'|djasset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-style-editor.js'|djasset}}"></script>
{% else %}
<script type="text/javascript" src="{{'/static/cache/theme-editors.js'|djasset}}"></script>
{% endif %}
{% endif %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    var $el = $("#email-tpl-iframe");
    $("#email-tpl-editor").templateCodeEditors({
        api_sources: "{{api_sources}}",
        iframe: $el[0],
        templates: {{templates|safe}}
    });

    $el.on("load", function () {
        var contents = $el.contents();
        contents.find('#djDebug').remove();
        $el.show();
    });

    $('.tab-content .content').trigger('pages.loadresources');
  });
</script>
{% endblock %}
