{% extends "saas/base_dashboard.html" %}

{% block saas_title %}Notification e-mails{% endblock %}


{% block saas_page_layout %}
<section id="notifications">
  {% for key, vals in notifications.items() %}
  <div id="{{key}}" class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="{{urls.notifications}}{{key}}/">{{vals.title}}</a></h5>
      <p class="card-text">
{{vals.descr}}
      </p>
      <button class="btn btn-secondary send-test-email">Send test e-mail</button>
    </div>
  </div>
  {% endfor %}
  {% for role_descr in role_descriptions %}
  <div id="{{role_descr.slug}}_role_added" class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="{{urls.notifications}}{{role_descr.slug}}_role_added/">{{role_descr.title}} added</a></h5>
      <p class="card-text">
      </p>
      <button class="btn btn-secondary send-test-email">Send test e-mail</button>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}

{% block dashboard_bodyscripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".send-test-email").click(function(event) {
        var self = this;
        var id = $(self).parents("tr").attr("id");
        $.ajax({ type: "POST",
            url: "{{urls.send_test_email}}" + id + "/",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", getMetaCSRFToken());
            },
            data: null,
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function(data) { showMessages([data.details], "info"); },
            error: function(resp) { showErrorMessages(resp); },
        });
    });
});
</script>
{% endblock %}
