{% extends "base.html" %}

{% block content %}
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript">
var djaodjinSettings = {
    urls: {% if urls %}{{urls|to_json}}{% else %}{}{% endif %},
    itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %},
    tables: {% if tables %}{{tables|safe}}{% else %}{}{% endif %}, // XXX
    date_range: {
      start_at: "{% if start_at %}{{start_at|isoformat}}{% endif %}",
      ends_at: "{% if ends_at %}{{ends_at|isoformat}}{% endif %}"
    },
    user: {
      username: "{{request.user.username}}",
      slug: "{{request.user.username}}",
      first_name: "{{request.user.first_name}}",
      last_name: "{{request.user.last_name}}"
    },
    csrf: '{{csrf_token}}',
};
</script>
{{ render_bundle('js_vue') }}
{{ render_bundle('js_djaodjin-vue') }}
{% block contacts_scripts %}{% endblock %}
{% endblock %}
