{% extends "contacts/base.html" %}

{% block content %}
<div class="container">
  <div class="row" ng-app="signupApp">
    <div id="contact-list-container" ng-controller="contactsCtrl">
      <div class="page-header">
        <h2>Contacts</h2>
      </div>
      <div class="col-sm-6">
        <div ng-show="!items.$resolved"
             v-show="!itemsLoaded">
          <h3>Loading ...</h3>
        </div>
        <div id="has-no-activity"
             ng-show="items.$resolved && items.results.length === 0" ng-cloak
             v-show="itemsLoaded && items.results.length === 0" v-cloak>
          <h4><em>No contacts</em></h4>
        </div>
        <div id="has-activities"
             v-show="itemsLoaded && items.results.length > 0" v-cloak>
          <div ng-repeat="entry in items.results"
               v-for="entry in items.results">
            <p><a href="{{urls.contacts}}[[entry.slug]]/"
                  :href="'{{urls.contacts}}' + entry.slug + '/'">[[entry.full_name]] - [[entry.email]]</a></p>
          </div>
        </div>
        <div class="text-center"
             v-show="itemsLoaded && totalItems > itemsPerPage">
          <b-pagination size="md" :total-rows="totalItems" v-model="currentPage" :per-page="itemsPerPage">
        </div>
      </div>
      <div class="col-sm-6">
        <form id="create-contact" class="form"
              ng-submit="createContact()"
              @submit.prevent="createContact">
          <div class="form-group">
            <label>Full name</label>
            <input class="form-control" type="text" name="full_name"
              ng-model="contact.full_name"
              v-model="contact.full_name">
          </div>
          <div class="form-group">
            <label>Nick name</label>
            <input class="form-control" type="text" name="nick_name"
              ng-model="contact.nick_name"
              v-model="contact.nick_name">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" name="email"
              ng-model="contact.email"
              v-model="contact.email">
          </div>
          <button class="btn btn-primary" type="submit" value="submit">Create Contact</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
