{% extends "base.html" %}

{% block localheader %}
{% block accounts_localheader %}{% endblock %}
{% endblock %}

{% block content %}
<div class="flex-vertical-middle">
  <div class="container">
    <div class="row">
      <div class="offset-sm-2 col-sm-8 pb-5 pt-0 mt-5 mb-5">
        <div class="page-header my-4">
          <h1 class="text-center">{% block accounts_title %}{% endblock %}</h1>
        </div>
        {% block accounts_help %}
        {% endblock %}
        {% if sso_required %}
        <p>
{% trans %}Based on your e-mail address, you are required to login through the following Single Sign On (SSO) provider{% endtrans %}:
        </p>
        <a href="{{sso_required.url}}">{{sso_required.printable_name}}</a>
        {% else %}
        {% block accounts_content %}{% endblock %}
        {% endif %}
        <p class="text-start text-left ms-2 mt-2">
          <small>
            <i class="fa fa-lock"></i>
            <em>
{% trans %}TIP: You are advised to verify the certificate in the URL bar before entering any information.{% endtrans %}
            </em>
          </small>
        </p>
        <p class="text-start text-left ms-2">
          <small>
            <i class="fa fa-question-circle"></i>
            <em>
{% trans link='/contact/'|site_url %}If you have any questions, please feel free to <a href="{{link}}">contact us</a>{% endtrans %}
            </em>
          </small>
        </p>
      </div>{# /.col #}
    </div>
  </div>
</div>
{% endblock %}

{% block bodyscripts %}
{% include "_password_strength_scripts.html" %}
{% block accounts_scripts %}{% endblock %}
{% endblock %}
