.code {
  background-color: #f3f3f3;
}

pre.code{
  margin:10px 0;
  border:none;
  padding:0;
  font-size: 14;
}

pre.code code{
  background-color: transparent;
}

.param-list-header {
    border-bottom: 1px solid rgba(38, 50, 56, 0.3);
    margin: 3em 0 1em 0;
    color: rgba(38, 50, 56, 0.5);
    font-weight: normal;
    text-transform: uppercase;
}

.param-type {
    margin: 25px 0 5px 0;
    text-transform: capitalize;
}

.params-wrap {
    display: table;
    width: 100%;
}

.param {
    display: table-row;
}

.param-info {
    display: table-cell;
    width: 75%;
    border-bottom: 1px solid #9fb4be;
    padding: 10px 0;
    width: 75%;
    box-sizing: border-box;
}

