// CSS specific to the DjaoDjin dashboard

@dashboard-sidebar-width:    220px;
@dashboard-sidebar-toggle:    20px;
@dashboard-content-bg:       white;

// Manager dashboards (templates/saas/*.html)
// --------
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* subscriber pipeline */
.ends-soon {
    background-color: @alert-info-bg;
}

.date-chooser{
  padding-top: 5px;
  font-size: 0.8em;
}

.date-chooser .dropdown-menu {
   left: auto !important;
   right: 0px;
 }

.dashboard-container {
    clear: left;
    float: left;
    width: 100%;
// XXX temporary override to see the balances table
//    overflow: hidden;
    overflow: auto;
}

.dashboard-inner-container {
    display: table;
    float: left;
    width: 100%;
    position: relative;
    left: 0;
    color: black;
}

.dashboard-nav {
    display: table-cell;
    width: @dashboard-sidebar-width; // .col-md-2 width: 16.66666667%;
    position: relative; // .col-md-2
    overflow: hidden;
    -webkit-transition: right 0.25s ease-in-out;
    -moz-transition: right 0.25s ease-in-out;
    -ms-transition: right 0.25s ease-in-out;
    -o-transition: right 0.25s ease-in-out;
    transition: right 0.25s ease-in-out;
}

.dashboard-content {
    display: table-cell;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    background-color: @dashboard-content-bg;
    color: black;
}

/* XXX deprecated
.dashboard-nav-container {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    background-color: @dashboard-sidebar-bg;
    color: @dashboard-sidebar-color;
}
*/

.dashboard-nav-inner-container {
    display: table;
    width: @dashboard-sidebar-width;
}

.dashboard-nav .dashboard-nav-menu {
    display: table-cell;
    width: @dashboard-sidebar-width - @dashboard-sidebar-toggle;
}

.dashboard-nav-toggle {
    display: table-cell;
    width: @dashboard-sidebar-toggle;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    /* works from Firefox Windows 43.0.1 and Firefox OSX 22 */
    height: -moz-calc(~"100vh - 50px - 22px");
    height:      calc(~"100vh - 50px - 22px");
}

.dashboard-nav-menu > hr {
  margin-left: @dashboard-sidebar-toggle;
}

.dashboard-nav-menu > .nav{
   margin-left: @dashboard-sidebar-toggle;
}

.dashboard-nav-menu > .nav > li {
    margin: 5px 0px;
}

.dashboard-nav-menu > .nav > li > a,
.dashboard-nav-menu > .nav > li.active > a {
   height:38px;
   font-size:13px;
}

.dashboard-nav-menu > .nav > li > a > i {
   width:25px;
   text-align:center;
}

.dashboard-nav-toggle .initial:before {
      content: "\f100"; /* .fa-angle-double-left:before */
}

@media screen and (max-width: @screen-xs-max) {
    .dashboard-inner-container {
      left: 0 - @dashboard-sidebar-width + @dashboard-sidebar-toggle;
      width: -moz-calc(~"100vw -" -@dashboard-sidebar-width + @dashboard-sidebar-toggle);
      width:      calc(~"100vw -" -@dashboard-sidebar-width + @dashboard-sidebar-toggle);
    }

    .dashboard-nav-toggle .initial:before {
      content: "\f101"; /* .fa-angle-double-right:before */
    }
}
