

.header-menubar .menubar-dropdown-toggle
{
    display: block;
    line-height: 1em;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 13px;
}

.header-menubar .menubar .dropdown-menu
{
    left: auto;
    right: 0;
    margin: 10px 0 0;
}

.menubar .dropdown-menu .divider
{
    margin: 5px 0;
}

.djaodjin-overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
    left: 0;
    top: 0;
}

.header-menubar-overlay
{
    z-index: 4;
}

.menubar-dropdown-container
{
    z-index: 5;
}

.menubar-dropdown-container .dropdown-menu
{
    z-index: 6;
    white-space: nowrap;
}

.menubar .dropdown-menu
{
    left: 15px;
    right: auto;
    margin: -2px 0 0;
}

.menubar .dropdown-menu li a
{
    padding: 5px 25px;
}

.menubar
{
    position: relative;
}

.menubar .dropdown-label
{
    text-transform: lowercase;
    padding: 2px 25px 7px;
    font-size: 13px;
}

.menubar .dropdown-label .dropdown-label-role
{
    margin-left: 10px;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12px;
    display: inline-block;
}

.menubar-org
{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.menubar-username
{
}
