{% extends "_form_fields.html" %}

{% block form_block %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
{{ input_field(form['username'], form.hide_labels) }}
{% if form['password'] %}
<p>
    {% trans %}We found your account! Please enter your password{% endtrans %}
</p>
{{ input_field(form['password'], True) }}
<p class="text-center mt-3">
  <a href="{{urls.user.password_reset}}{% if next %}?next={{next}}{% endif %}">{% trans %}Forgot password?{% endtrans %}</a>
</p>
{% endif %}
{% endblock %}
