{% extends "_form.html" %}

{% block form_block %}
<form{% if form.form_id %} id="{{form.form_id}}"{% endif %} method="post" action=".{% if next %}/?next={{next}}{% endif %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    {{ input_field(form['username'], form.hide_labels) }}
    {% if form['password'] %}
    <p>
      {% trans %}We found your account! Please enter your password{% endtrans %}
    </p>
    {{ input_field(form['password'], True) }}
    <div>
      <p class="text-center mt-3">
        <a href="{{urls.user.password_reset}}{% if next %}?next={{next}}{% endif %}">{% trans %}Forgot password?{% endtrans %}</a>
      </p>
    </div>
    {% endif %}
    <div class="form-action text-center">
        <button type="submit" class="btn btn-block btn-primary btn-md">
            {% if form.submit_title %}
            {{form.submit_title}}
            {% else %}
            {% trans %}Submit{% endtrans %}
            {% endif %}
        </button>
    </div>
</form>
{% endblock %}
