{% extends "_form_fields.html" %}

{% block form_block %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
{% if form['code'] %}
{{ input_field(form['username'], False, form.hide_labels) }}
{{ input_field(form['password'], False, form.hide_labels) }}
<p class="text-center">
    {% trans %}Please enter your OTP code{% endtrans %}
</p>
{{ input_field(form['code'], True, form.hide_labels) }}
{% else %}
{% if form['password'] %}
{{ input_field(form['username'], False, form.hide_labels) }}
<p class="text-center">
    {% trans %}We found your account! Please enter your password{% endtrans %}
</p>
{{ input_field(form['password'], True, form.hide_labels) }}
{% else %}
{{ input_field(form['username'], True, form.hide_labels) }}
{% endif %}
{% endif %}
{% endblock %}
