body{
 color: $body-color;
 background-color: $body-bg;
 font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
 font-size: 100%;
 line-height: 1.6em;
 margin: 0;
 padding: 0;
}

img {
  max-width: 600px;
  width: 100%;
}

a {
  color: $link-color;
}

table.body-wrap {
  padding: 20px 5px;
  width: 100%;
}

table.footer-wrap {
  clear: both !important;
  width: 100%;
}

.footer-wrap .container p {
  color: $gray-800;
  font-size: 12px;
}

table.footer-wrap a {
  color: $gray-800;
}

h1, h2, h3 {
  color: $headings-color;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}

p,
ul,
ol {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

ul li,
ol li {
  margin-left: 5px;
  list-style-position: inside;
}

.container {
  clear: both !important;
  display: block !important;
  margin: 0 auto !important;
  max-width: 600px !important;
}

.body-wrap .container {
  padding: 0px;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.content table {
  width: 100%;
}

#content {
  padding:30px;
}
#content > h3 {
  margin-top:0px;
  margin-bottom:20px;
  text-align:center;
}

.page-header {
  padding:10px;
  border-bottom:2px solid theme-color(primary);
}

.page-header > h3 {
  margin:5px 0;
  line-height:40px;
  text-align:center;
}

.page-footer {
  text-align:center;
  padding-top:20px;
  border-top: 2px solid theme-color(primary);
}

.poweredby-logo {
  width:15px;
  height:15px;
  vertical-align:top;
//  border:1px solid #FFF;
  border-radius:3px;
}

.horizontal-divide {
  margin:15px 0;
}

.amount-header, .description-header, .table-header {
  text-align:left;
}

.strong {
  font-weight: bold;
}

.spaced {
  margin-bottom:10px;
}

#support {
 margin:15px 0;
}
