{% extends "saas/base_dashboard.html" %}

{% block saas_content %}
<activity-list inline-template class="container">
  <div id="contact-list-container">
    <h1>{% trans %}Activities{% endtrans %}</h1>
    <div class="row">
      <div class="col">
        <div v-show="!itemsLoaded">
          <h3  class="text-center"><i class="fa-solid fa-refresh fa-spin"></i></h3>
        </div>
        <div id="has-no-activity" v-show="itemsLoaded && items.results.length === 0" v-cloak>
          <h4><em>{% trans %}No activity{% endtrans %}</em></h4>
        </div>
        <div id="has-activities" v-show="itemsLoaded && items.results.length > 0" v-cloak infinite-wrapper>
          <div v-for="entry in items.results">
            {% include "activities/_activity_card.html" %}
            <hr />
          </div>
        </div>
        {% include "_pagination.html" %}
      </div>
    </div>
  </div>
</activity-list>
{% endblock %}

{% block dashboard_bodyscripts %}
{% block contacts_scripts %}{% endblock %}
{% endblock %}
