<div id="testing-banner" style="position:relative;width: 100%;background: #d4dae0 url('/static/img/construction-banner.png') 50% 0 repeat-x;text-align: center;padding:12px 10px 10px 10px;color: #444;z-index:99999;opacity:0.9;border-bottom:1px solid #444;font-size:11px;">
    {% trans %}
        TESTING MODE - No funds will be transfered and 
        <a href="https://stripe.com/docs/testing#cards" target="_blank" style="color:#e43;text-decoration:underline;"> 
            Stripe test cards 
        </a> can be used to make payments.
    {% endtrans %}
</div>
