{% extends "saas/base_dashboard.html" %}

{% block saas_title %}Customize theme{% endblock %}

{% block saas_content %}
<div class="col-md-12 editor-div">
    <div class="row">
        <div class="col-lg-2 col-md-3" style="">
            <h3>Templates</h3>
            {% print_tree templates %}
            <h3>Statics</h3>
            {% print_tree statics '["img"]' %}
        </div>
        <div class="col-lg-10 col-md-9">
            <div class="form-inline" style="margin:10px;">
                <button class="btn btn-default btn-sm" id="save-edition">Save changes</button>
                {% if redirect_url %}<a class="btn btn-primary btn-sm" href="{{redirect_url}}">Preview</a>{% endif %}
                opened file: <span id="opened-file"></span>
                <span style="margin-left:20px;color:grey;font-size:11px;"><span id="status-file" ></span></span>
            </div>

            <div id="editor" style="width:100%;height:400px"></div>

        </div>
    </div>
</div>


{% endblock %}

{% block bodyscripts %}
{{ super() }}
<script type="text/javascript">
/*global define */
var fileEditionUrl =  "{% url 'pages_api_theme_detail' themepackage.slug %}";
var themePackageSlug = "{{themepackage.slug}}";
var loadedTemplate = "{{template_loaded}}";
var redirectUrl = "{{redirect_url}}";
$(document).ready(function() {
    ace.config.set("basePath", "/static/vendor/");
});
</script>

{% assets "js_file_edition" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

