{% extends "saas/base_dashboard.html" %}

{% block saas_title %}Theme{% endblock %}

{% block saas_content %}
<div ng-app="UploaderApp">
<div class="col-sm-offset-3 col-sm-6" ng-controller="UploaderCtrl" ng-cloak>
  <div class="dj-upload"
       data-complete-url="{{urls.pages.api_themes}}"
       djupload-success >
    <div class="dropzone-previews previewsContainer">
      <span class="dz-default dz-message"><i class="fa fa-cloud"></i> Upload theme package (.zip)</span>
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-default" href="{{urls.pages.theme_download}}" target="_blank"><i class="fa fa-cloud-download"></i> Download as .zip file</a>
  </div>
</div>
{% endblock %}

{% block dashboard_bodyscripts %}
<script type="text/javascript">
/* Implementation Note: Not including a list of dependent modules
   (2nd parameter to `module`) "re-opens" the module for additional
   configuration. */
var app = angular.module('UploaderApp');
app.config(['$interpolateProvider', '$httpProvider',
           function($interpolateProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
    /* Makes it easier to separate between django and angularjs templates */
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
}]);
app.constant('urls', {
    url_base_theme: "{{urls.pages.api_themes}}",
    active_theme: "{{request.site.theme}}"
});
app.constant('csrf', {
    csrf_token: "{{csrf_token}}",
});
app.constant('s3', {
    mediaPrefix: "{% if media_prefix %}{{media_prefix}}{% else %}{% endif %}",
{% if access_key %}
    accessKey: "{{access_key}}",
    policy: "{{aws_policy}}",
    signature: "{{aws_policy_signature}}",
    securityToken: "{{security_token}}",
    amzCredential: "{{x_amz_credential}}",
    amzDate: "{{x_amz_date}}",
{% endif %}
});
</script>
{% endblock %}
