{% extends "_form.html" %}

{% block form_block %}
<form{% if form.form_id %} id="{{form.form_id}}"{% endif %}
    method="post" action=".{% if next %}/?next={{next}}{% endif %}"
    @submit.prevent="updatePlan">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    {{input_field(form['title'], form.hide_labels)}}
    {{input_field(form['description'], form.hide_labels)}}
    <fieldset>
        <legend>{% trans %}Pricing{% endtrans %}</legend>
        <div class="row" style="margin-left:0;margin-right:0;">
            {{input_field(form['unit'], form.hide_labels)}}
            {{input_field(form['period_amount'], form.hide_labels)}}
            {{input_field(form['period_type'], form.hide_labels)}}
        </div>
        {{input_field(form['period_length'], form.hide_labels)}}
    </fieldset>
    <fieldset>
        <legend>{% trans %}Advance discounts{% endtrans %}</legend>
        {{input_field(form['advance_discount_type'], form.hide_labels)}}
        {{input_field(form['advance_discount_value'], form.hide_labels)}}
        {{input_field(form['advance_discount_length'], form.hide_labels)}}
    </fieldset>
    <fieldset>
        <legend>{% trans %}Extra Options{% endtrans %}</legend>
        {{input_field(form['renewal_type'], form.hide_labels)}}
    </fieldset>
    <div class="form-action text-center">
        <button type="submit" class="btn btn-block btn-primary">{% if form.submit_title %}{{form.submit_title}}{% else %}{% trans %}Submit{% endtrans %}{% endif %}</button>
    </div>
</form>
{% endblock %}
