{% extends "_form.html" %}

{% block form_block %}
<form{% if form.form_id %} id="{{form.form_id}}"{% endif %}
    method="post" action=".{% if next %}/?next={{next}}{% endif %}"
    @submit.prevent="updatePlan">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
  <div class="row">
    <div class="col-md-6">
      {{input_field(form['title'], hide_labels=form.hide_labels)}}
      {{input_field(form['description'], hide_labels=form.hide_labels)}}
    </div>
    <div class="col-md-6">
      <p>
      </p>
    </div>
  </div>
  <fieldset>
    <legend>{% trans %}Pricing{% endtrans %}</legend>
    <div class="row">
      <div class="col-md-6">
        {{input_field(form['unit'], hide_labels=form.hide_labels)}}
        {{input_field(form['period_amount'], hide_labels=form.hide_labels)}}
        {{input_field(form['period_type'], hide_labels=form.hide_labels)}}
        {{input_field(form['period_length'], hide_labels=form.hide_labels)}}
      </div>
      <div class="col-md-6">
        <p>
        </p>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{% trans %}Options{% endtrans %}</legend>
    <div class="row">
      <div class="col-md-6">
        {{input_field(form['renewal_type'], hide_labels=form.hide_labels)}}
        {{input_field(form['skip_optin_on_grant'], hide_labels=form.hide_labels)}}
        {{input_field(form['optin_on_request'], hide_labels=form.hide_labels)}}
      </div>
      <div class="col-md-6">
        <p>
        </p>
      </div>
    </div>
  </fieldset>
  {% if urls.plan_subscribers %}
  <hr />
  <fieldset>
    <legend>{% trans %}Advance discounts{% endtrans %}</legend>
    <div class="row">
      <div class="col-md-6">
        <div class="border-start border-4" v-for="(discount, discountIdx) in formFields.advance_discounts">
          <div class="text-end">
            <button class="btn btn-lnk" type="button"
                  @click.prevent="removeAdvanceDiscount(discountIdx)">
              <i class="fa fa-trash-o text-danger"></i>
            </button>
          </div>
          {{input_field(form['discount_type'], hide_labels=form.hide_labels, model_var='discount.discount_type')}}
          {{input_field(form['discount_value'], hide_labels=form.hide_labels, model_var='discount.discount_value')}}
          {{input_field(form['discount_length'], hide_labels=form.hide_labels, model_var='discount.length')}}
        </div>
        <button class="btn btn-link"
                @click.prevent="addAdvanceDiscount()">
          <i class="fa fa-add"></i>{% trans %}Add discount option{% endtrans %}...
        </button>
      </div>
      <div class="col-md-6 text-muted">
        <p>
{% trans %}A 20 percent discount on a monthly plan for a year paid in advance would be entered as{% endtrans %}:
        </p>
        <small>
          <div>
            <strong>Type</strong>: <span>percentage</span>
          </div>
          <div>
            <strong>Value</strong>: <span>20</span>
          </div>
          <div>
            <strong>Length</strong>: <span>12</span>
          </div>
        </small>
        <p class="mt-3">
{% trans %}This would result in the following options at checkout{% endtrans %}:
        </p>
        <small>
          <table class="table">
            <tr><td class="text-end">$29</td><td>{% trans %}Subscription to plan (1 month){% endtrans %}</td></tr>
            <tr><td class="text-end">$278</td><td>{% trans %}Subscription to plan (12 months a 20% off){% endtrans %}</td></tr>
          </table>
        </small>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{% trans %}Use charges{% endtrans %}</legend>
    <div class="row">
      <div class="col-md-6">
        <div class="border-start border-4" v-for="(use, useIdx) in formFields.use_charges">
          <div class="text-end">
            <button class="btn btn-lnk" type="button"
                  @click.prevent="removeUseCharge(useIdx)">
              <i class="fa fa-trash-o text-danger"></i>
            </button>
          </div>
          {{input_field(form['use_charge_slug'], hide_labels=form.hide_labels, model_var='use.slug')}}
          {{input_field(form['use_charge_title'], hide_labels=form.hide_labels, model_var='use.title')}}
          {{input_field(form['use_charge_description'], hide_labels=form.hide_labels, model_var='use.description')}}
          {{input_field(form['use_charge_use_amount'], hide_labels=form.hide_labels, model_var='use.use_amount')}}
          {{input_field(form['use_charge_quota'],hide_labels=form.hide_labels,  model_var='use.quota')}}
          {{input_field(form['use_charge_maximum_limit'], hide_labels=form.hide_labels, model_var='use.maximum_limit')}}
        </div>
        <button class="btn btn-link"
                @click.prevent="addUseCharge()">
          <i class="fa fa-add"></i>{% trans %}Add use option{% endtrans %}...
        </button>
      </div>
      <div class="col-md-6 text-muted">
        <p>
{% trans %}A service charging $0.01/request, the first 10,000 monthly requests being included, would be entered as{% endtrans %}:
        </p>
        <small>
          <div>
            <strong>Use amount</strong>: <span>1</span>
          </div>
          <div>
            <strong>Quota</strong>: <span>10000</span>
          </div>
        </small>
      </div>
    </div>
  </fieldset>

  {% endif %}
  <div class="form-action text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">{% if form.submit_title %}{{form.submit_title}}{% else %}{% trans %}Submit{% endtrans %}{% endif %}</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
